@charset "utf-8";
/* 专题样式 */





#main { width:100%; background:#EBD2AD url(../images/banner_bg.gif) repeat-x; }
.banner ,.menu ,.content ,.copyright { margin:0 auto; width:1000px; }
.banner { text-align:center ; background:url(../images/bannerImg.jpg) no-repeat; height:451px; text-indent:-999em; overflow:hidden;}
.banner img {}
.menu{  height:82px;  z-index:999;}
.menuBg{ height:0px; font-size:0; line-height:0; position:relative;}
.dotLeft{ position:absolute; left:-25px;  background:url(../images/banner_left.gif) no-repeat; width:25px; height:107px;}
.dotRight{ position:absolute; right:-25px; background:url(../images/banner_right.gif) no-repeat; width:25px; height:107px;}
.menu li { float:left; }
.menu li.fgx { height:82px; background:url(../images/menu_fgx.gif) no-repeat; width:2px;}
.menu li.menu1 a { background:url(../images/menu1.gif) no-repeat; width:140px; }
.menu li.menu2 a { background:url(../images/menu2.gif) no-repeat; width:140px; }
.menu li.menu3 a { background:url(../images/menu3.gif) no-repeat; width:140px; }
.menu li.menu4 a { background:url(../images/menu4.gif) no-repeat; width:140px; }
.menu li.menu5 a { background:url(../images/menu5.gif) no-repeat; width:140px; }
.menu li.menu6 a { background:url(../images/menu6.gif) no-repeat; width:140px; }
.menu li.menu1 a:hover { background:url(../images/menu1_hover.gif) no-repeat; width:140px; }
.menu li.menu2 a:hover { background:url(../images/menu2_hover.gif) no-repeat; width:140px; }
.menu li.menu3 a:hover { background:url(../images/menu3_hover.gif) no-repeat; width:140px; }
.menu li.menu4 a:hover { background:url(../images/menu4_hover.gif) no-repeat; width:140px; }
.menu li.menu5 a:hover { background:url(../images/menu5_hover.gif) no-repeat; width:140px; }
.menu li.menu6 a:hover { background:url(../images/menu6_hover.gif) no-repeat; width:140px; }
.menu li a{ text-indent:-999em; overflow:hidden; display:block; height:82px;}
.menu li.menu7 a { float:right; width:148px;}


.content

.boxWarp{ background:#fff; border:1px solid #e9d1a0; padding:25px 40px; margin-bottom:10px;}
.border_topNo{ border-top:none;}
.boxBg{ width:285px;  padding-bottom:5px; float:left; margin:18px 31px 18px 0;}
.noMrgin_right{ margin-right:0;}
.box{  width:258px; height:303px; padding:12px;}

.box dt img{ width:258px; height:130px;}

.box dt h4{ font-size:14px; color:#fff; font-weight:normal; padding:8px 10px;line-height:20px;}

.box dt {position:relative; z-index:1;}

.box dt b{
	cursor: pointer;
    display: block;
    height: 64px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 63px;
	z-index:9;
	}
.t{background:url(../images/tuangou.png) no-repeat; width:63px; height:64px;}
.box dt h4 a{ font-size:14px; color:#fff;}
.box dt h4 a:hover{ color:#fff; text-decoration:underline;}
.box dd ul{ padding:10px 0}
.box dd li{ height:22px; line-height:22px; background:url(../images/dot1.gif) no-repeat 0 center; padding-left:10px;}
.box dd p{ font-size:24px; font-family:"微软雅黑"; }
.box dd p span{ font-size:14px;}
.box dd p a{ float:right; width:89px; height:27px; line-height:27px; text-align:center; font-weight:bold; font-size:12px;  margin-top:4px;}
.box dd p a:hover{text-decoration:underline;}



.title{ padding-left:55px;}
.title h2{  font-size:38px; font-family:"微软雅黑"; float:left;}
.title p{ float:left; font-family:"微软雅黑"; font-size:16px; padding-top:18px; padding-left:15px; padding-bottom:4px;  }
.title span{ float:right; font-size:14px; text-align:center;  height:21px; padding-top:20px; display:block; }
.title span a{ font-size:14px; font-family:"微软雅黑"; }
.red .title{ background:url(../images/tit_dot6.gif) no-repeat left 0; zoom:1;}
.red .title h2{color:#d73923; }
.red .title p{color:#d5351f;}
.red .title span{ background:url(../images/box_more1.gif) no-repeat  right 25px ; width:80px; }
.red .title span a{ color:#d5351f;}
.red .box{background:#fff8e6; border:1px solid #f7e4b6; }
.red .boxBg{background:#faf8f3;}
.red dt h4{background:url(../images/box_bg1.gif) no-repeat; }
.red dd p{ color:#e11a00;}
.red dd p a{color:#d22203; background:url(../images/box_an1.gif) no-repeat;}
.red .line{ background:url(../images/red_line.gif) no-repeat; width:916px; height:10px;}


.green .title{ background:url(../images/tit_dot2.gif) no-repeat 0 10px; zoom:1;}
.green .title h2{color:#6a9307; }
.green .title p{color:#536f01;}
.green .title span{ background:url(../images/box_more2.gif) no-repeat  right 25px ; width:80px; }
.green .title span a{ color:#7d992b;}
.green .box{background:#fafbef; border:1px solid #e2e3c5; }
.green .boxBg{background:#faf8f3;}
.green dt h4{background:url(../images/box_bg2.gif) no-repeat;}
.green dd p{ color:#5c7d09;}
.green dd p a{color:#4c6313; background:url(../images/box_an2.gif) no-repeat;}
.green .red{color:#F00; background:url(../images/box_an2.gif) no-repeat;}
.green .line{ background:url(../images/green_line.gif) no-repeat; width:916px; height:10px;}
.green .red{color:#F00; background:url(../images/box_an2.gif) no-repeat;}


.orange .title{ background:url(../images/tit_dot7.gif) no-repeat 0 2px; zoom:1;}
.orange .title h2{color:#e89005; }
.orange .title p{color:#f38900;}
.orange .title span{ background:url(../images/box_more6.gif) no-repeat  right 25px ; width:80px; }
.orange .title span a{ color:#f49010;}
.orange .box{background:#ffffff; border:1px solid #e2e3c5; }
.orange .boxBg{background:#faf8f3;}
.orange dt h4{background:url(../images/box_bg6.gif) no-repeat;}
.orange dd p{ color:#b25e00;}
.orange dd p a{color:#b25e00; background:url(../images/box_an6.gif) no-repeat;}
.orange .red{color:#F00; background:url(../images/box_an6.gif) no-repeat;}
.orange .line{ background:url(../images/orange_line.gif) no-repeat; width:916px; height:10px;}
.orange .red{color:#F00; background:url(../images/box_an6.gif) no-repeat;}

.blue .title{ background:url(../images/tit_dot3.gif) no-repeat 0 8px;  zoom:1;}
.blue .title h2{color:#3d75d2; }
.blue .title p{color:#1c58bc;}
.blue .title span{ background:url(../images/box_more3.gif) no-repeat  right 25px ; width:80px; }
.blue .title span a{ color:#3d75d2;}
.blue .box{background:#fcfdfe; border:1px solid #dfe4ed; }
.blue .boxBg{background:#faf8f3;}
.blue dt h4{background:url(../images/box_bg3.gif) no-repeat;}
.blue dd p{ color:#3d75d2;}
.blue dd p a{color:#255ba2; background:url(../images/box_an3.gif) no-repeat;}
.blue .red{color:#F00; background:url(../images/box_an3.gif) no-repeat;}
.blue .line{ background:url(../images/blue_line.gif) no-repeat; width:916px; height:10px;}


.purple .title{ background:url(../images/tit_dot4.gif) no-repeat 0 8px; zoom:1;}
.purple .title h2{color:#b725a6; }
.purple .title p{color:#a22694;}
.purple .title span{ background:url(../images/box_more4.gif) no-repeat  right 25px ; width:80px; }
.purple .title span a{ color:#b725a6;}
.purple .box{background:#fcfcfc; border:1px solid #ecdff0; }
.purple .boxBg{background:#faf8f3;}
.purple dt h4{background:url(../images/box_bg4.gif) no-repeat;}
.purple dd p{ color:#b725a6;}
.purple dd p a{color:#8a2c7f; background:url(../images/box_an4.gif) no-repeat;}
.purple .red{color:#F00; background:url(../images/box_an4.gif) no-repeat;}
.purple .line{ background:url(../images/purple_line.gif) no-repeat; width:916px; height:10px;}


.brown .title{ background:url(../images/tit_dot1.gif) no-repeat left; zoom:1; }
.brown .title h2{color:#755f42; }
.brown .title span{ background:url(../images/box_more5.gif) no-repeat  right 25px ; width:80px; }
.brown .title span a{ color:#3d75d2;}
.brown .title span a{ color:#755f42;}
.brown .box{background:#fcfbfa; border:1px solid #eddec8; }
.brown .boxBg{background:#faf8f3;}
.brown dt h4{background:url(../images/box_bg5.gif) no-repeat;}
.brown dd p{ color:#9b5f07;}
.brown dd p a{color:#76521e; background:url(../images/box_an5.gif) no-repeat;}
.brown .red{color:#F00; background:url(../images/box_an5.gif) no-repeat;}
.brown .line{ background:url(../images/brown_line.gif) no-repeat; width:916px; height:10px;}



.cont_fgx{ background:#fff url(../images/bg_fgx.gif) repeat-y center 0;}
.tit h3{ font-size:28px; color:#4d4d4d; font-family:"微软雅黑"; padding-bottom:13px;}
.youhui{ float:left;width:420px; margin-right:80px;}
.youhui .cont{}
.youhui .cont li{ font-size:14px; padding:6px 0 6px 15px; line-height:20px; border-bottom:1px solid #e6e6e6; background:url("../images/huodong_dot.gif") no-repeat scroll 0 13px transparent;}
.youhui .cont li span{color:#0078b6;}
.youhui .cont li a{ font-size:14px; color:#0078b6;}
.weibo{ float:left; }
.weibo .list{ width:414px; height:280px; border:1px solid #dedede;}
.weibo .cont a{ margin-top:10px; width:198px; height:46px; background:url(../images/weibo_an.gif) no-repeat; display:block; text-indent:-999em; overflow:hidden;}
.weibo .cont a:hover{background:url(../images/weibo_an2.gif) no-repeat;}


.security{z-index:0; height:220px;  overflow:hidden; width:916px;}
.security ul{ float:left; background:url(../images/gray_line.gif) no-repeat top ;padding-top:20px;width:930px; z-index:500;}
.security li{ float:left;  width:148px; height:147px; padding-right:7px;}
.security li p img{ }



.huodong .tit h3{ float:left;}
.huodong .tit span{ float:right; font-size:14px; line-height:27px;}
.huodong .tit p{ font-size:16px; font-family:"微软雅黑"; color:#666; padding-left:15px; padding-top:11px; float:left;}
.huodong .tit p a{ font-size:16px; font-family:"微软雅黑"; color:#666;  padding-left:15px;}
.huodong .cont li{ float:left; width:205px; margin-right:32px;}
.huodong .cont li p{ border:1px solid #e7e7e7; width:191px; height:113px; padding:6px;}
.huodong .cont li span{ text-align:center; height:20px; line-height:20px; display:block; padding-top:4px;}
.huodong .cont li.noMarginRight{ margin-right:0;}

#fixed-top{ position:fixed; right:-1px; top:0; _position:absolute; _top:expression(eval(document.documentElement.scrollTop)); z-index:1000;}

/*用户评语*/


.concultList{line-height:20px; background:url(../images/gray_line.gif) no-repeat top ;padding-top:20px; height:300px; width:916px;}
.concultList .ask{ padding:28px 8px 0 57px; background:url(/image/ask_icon.jpg) 6px 30px no-repeat; }
.concultList .source{ margin-top:5px; }
.concultList .source span{color:#777;}
.concultList .ask .signature{ height:14px; margin: 10px 18px 0 0; line-height:14px; color:#777; text-align:right; }
.concultList .ask .signature span{ float:right; width:70px; text-align:center;}
.concultList .ask i{ padding:2px 2px 1px; *padding:2px 2px 0; _padding:2px 2px 1px; background:#FFEF7D; font-style:normal;}


.concultList .answer{ position:relative; width:800px; margin-top:10px; padding:10px 20px 15px; border:1px solid #FBCB8D; background:#FEFEF2;}
.concultList .answer .arrow{ position:absolute; top:-12px; right:42px; width:18px; height:12px; background:url(/image/answer_arrow_icon.jpg); }
.concultList .answer .headTitle{ clear:both; height:28px; padding-left:42px; background:url(/image/answer_icon.jpg) no-repeat; line-height:28px;}
.concultList .answer p{ margin-top:15px;}
.concultList .answer .signature{ height:14px; margin-top:15px; line-height:14px; color:#777; }
.concultList .answer .signature span{ margin-left:15px;}


/* 用户评论按钮 */
.ui-fix{display:block;zoom:1;}
.ui-fix:after{display:block;height:0;font-size:0;clear:both;overflow:hidden;content:"";}
.ui-reply-container{margin:0 20px;border:1px solid #C5E6F9;}
.ui-reply{padding:10px;zoom:1;background:#F3F7FA;}
.ui-reply:after,.ui-reply-title:after,.ui-reply-cnt:after,.ui-replyer:after{display:block;clear:both;height:0;font-size:0;visibiliy:0;content:0;}
.ui-reply-title{display:block;*display:inline;zoom:1;overflow:hidden;}
.ui-reply-userinfo{float:left;*display:inline;width:67px;text-align:center;}
.ui-reply-uicon{width:60px;height:55px;border:1px solid #ccc;text-align:center;font-size:0;}
.ui-reply-uicon .ui-mark{display:inline-block;width:0;height:100%;overflow:hidden;margin-left:-1px;font-size:0;line-height:0;vertical-align:middle;}
.ui-reply-uicon img{vertical-align:middle;border:0 none;}
.ui-reply-userinfo em{color:#4d4d4d;}
.ui-reply-info{float:left;*display:inline;padding-left:15px;width:700px;}
.ui-reply-text{background:url(/image/nav/products_bg_04.gif) no-repeat left 3px;color:#19569E;clear:both;line-height:20px;font-weight:700;margin:3px 0;}
.ui-reply-text i{font-style:normal;background:#ffffcc;color:#c00;}
.ui-reply-time{padding-left:25px;margin-top:10px;background: url(/image/nav/clock_08.gif) no-repeat left 3px;color:#b3b3b3;}
.ui-reply-answer{position:relative;display:block;zoom:1;clear:both;border:1px solid #CCE5FF;background:#fff;margin-top:10px;padding:10px 15px;color:#4d4d4d;line-height:20px;}
.ui-reply-answer .ui-reply-cnt{display:block;zoom:1;}
.ui-reply-answer .ui-reply-tipsicon{height:18px;width:30px;position:absolute;top:-14px;left:50px;background: url(../images/arrow_13.gif) no-repeat;}
.ui-reply-answer .ui-replyer{float:right;width:80px;line-height:20px;text-align:center;display:block;zoom:1;}
.ui-reply-answer .ui-replyer .ui-replyer-icon{width:60px;height:55px;border:1px solid #ccc;margin:0 auto;}
.ui-reply-answer .ui-reply-name{color:#19569E; font-weight:bold;}










