.adv1 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	color: #006699;
}
.adv2 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	color: #00CC66;
}
.adv3 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	color: #CC3300;
}
.title {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	font-weight: normal;
	color: #CC3300;
}
.l-main {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
}
.description {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size:12px;
	color: #999999;
}
