@charset "utf-8";
/* CSS Document */
/*=======================================================公共样式======================================================*/
body,div,form,img,ul,ol,li,dl,dt,dd,p,tr,td,input,em,a,ol{margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0; font-weight:normal; font-size:12px;}
input{ color:#999999; font:12px/1.5 tahoma,arial,宋体;  }
i{ font-style:normal;}
body{ font:12px/1.5 tahoma,arial,宋体; color:#333;line-height:22px; position:relative; background:#ffeabd;}
img{ border:0px; font-size:0px; display:block;}
ul,li,ol{ list-style:none; }
em{ font-style:normal;}
a{text-decoration:none; color:#333; outline:none;}
a:hover{ text-decoration:underline; color:#ce0000; outline:none;}


