{:foreach from=$expertsData item=expert name=expertsData:}
<div class="expertIndex{:if $expert.expertslef:} expertIndexUser{:/if:}">
  <dl class="expertList">
    <dt>
      <span class="userPic"><a href="{:gethref page=$baseUrl mod='home' uid=$expert.uid:}"><img src="{:$expert.photo:}" width='140' height="190" id="photo_{:$expert.uid:}"/></a></span>
{:if $expert.expertslef:}
      <span><a href="{:gethref page=$baseUrl mod='edit' action='photo' uid=$expert.uid:}" rel="expert_ajax" onclick="return false;">{:db_to_html text='换个头像':}</a></span>
{:/if:}
    </dt>
    <dd>
      <h2>{:db_to_html text='专家简介':}
{:if $expert.expertslef:}
      <a href="{:gethref page=$baseUrl mod='edit' action='remarks' uid=$expert.uid:}" rel="expert_ajax" onclick="return false;">{:db_to_html text='修改':}</a>
{:/if:}
      </h2>
      <p id="remarks_{:$expert.uid:}" class="limittext">
      {:db_to_html text=$expert.name|escape:"html":}&nbsp;
      {:db_to_html text=$expert.sex:}&nbsp;
      {:db_to_html text=$expert.remarks|escape:"html":}
      </p>
{:foreach from=$expertsWritingsGroup item=WritingsGroup name=expertsWritingsGroup:}
      <h3>
      {:formatwgroup groupid=$WritingsGroup.id sex=$expert.sex expertslef=$expert.expertslef:}
      {:if $expert.expertslef:}
      	<a href="{:gethref page=$baseUrl mod='edit' action='add_writings_type' gid=$WritingsGroup.id uid=$expert.uid:}" rel="expert_ajax" onclick="return false;">{:db_to_html text='新增':}</a>
        <a href="{:gethref page=$baseUrl mod='edit' action='writings_type' gid=$WritingsGroup.id uid=$expert.uid:}" rel="expert_ajax" onclick="return false;">{:db_to_html text='管理':}</a>
	  {:/if:}
      </h3>
      <p id="writings_type_{:$expert.uid:}_{:$WritingsGroup.id:}">
      {:foreach from=$expert.writings_type[$WritingsGroup.id] item=writings_type name=WritingsGroup_writings_type:}
      		<a href="{:gethref page=$baseUrl mod='writings' uid=$expert.uid tid=$writings_type.tid:}" id="writings_type_item_{:$writings_type.tid:}">{:db_to_html text=$writings_type.name|escape:"html":}</a>
      {:/foreach:}
      </p>
{:/foreach:}
    </dd>
{:if $expert.expertslef:}
    <dd><span class="operateNew"><a href="{:gethref page=$baseUrl mod='writings' action='add' uid=$customer_id:}">{:db_to_html text='发表文章':}</a></span><a href="{:gethref page=$baseUrl mod='home' uid=$expert.uid:}">{:db_to_html text='进入我的主页':}</a></dd>
{:else:}
	<dd>
    <span class="operateAsk"><a href="{:gethref page=$baseUrl mod='faq' uid=$expert.uid:}#zixun">{:db_to_html text='咨询一下':}</a></span>
    <a href="{:gethref page=$baseUrl mod='home' uid=$expert.uid:}">{:db_to_html text='进入专家主页':}</a>
    </dd>
{:/if:}
  </dl>
</div>
{:foreachelse:}
<div class="expertIndex" style="color:red;">
{:db_to_html text='Sorry,暂时还没有专家!':}
</div>
{:/foreach:}
{:if trim($pages)!='':}
<div class="expertIndex page">
{:$pages:}
</div>
{:/if:}
<script language="javascript" src="jquery-1.3.2/jquery.limittext.js"></script>
<script language="javascript">
function expert_limittext(objexper){
	jQuery(objexper).limittext({"limit":300,"fill":"... ...","morefn":{"status":true,"moretext":"{:db_to_html text='查看更多&gt;&gt;':}","lesstext":"{:db_to_html text='&lt;&lt;隐藏':}"}});	
}
expert_limittext(".limittext");
</script>