@charset "gb2312";


.mainbox{width:754px;*display:block;*zoom:1;margin:10px;}
.mainbox:after{display:block;clear:both;height:0;font-size:0;visibility:hidden;content:"";}

.ui_report_search{line-height:23px;}
.com_search{width:56px;height:23px;display:inline-block;*display:inline;*zoom:1;text-align:center;line-height:23px;margin-left:5px;color:#ef6922;background:url(/image/affiliate/com_search_btn.png) no-repeat;border:none;cursor:pointer;}
.ui_report_total{float:right;}
.ui_report_total span{float:left;display:inline-block;*display:inline;*zoom:1;margin-left:12px;}
.ui_report_total span em{font-weight:700;color:#ff6800;}

.report_table{margin-top:10px;text-align:center;width:100%; border-collapse:collapse; border-spacing:0;}
.report_table th{height:32px;border:1px solid #ccdbe8;line-height:32px;font-size:12px;}
.report_table td{border:1px solid #ccdbe8;line-height:22px;padding:5px 0;}
.report_table th{background:url(/image/affiliate/com_theadbg.png) repeat-x;color:#3465a7;font-weight:bold;}
.report_table td{color:#4d4d4d;}
.report_table td p{padding:0 5px;line-height:22px;}