@charset "gb2312";
/* CSS Document */
/*2010.4.15*/
body,dl,dt,dd,ul,ol,li,p,form,input,button,textarea{margin:0;padding:0;}
ul,ol{list-style:none;}
img{border:0 none;}
.mainbox{/*width:733px;*/border:1px solid #e4e4e4;*display:block;*zoom:1;/*margin:10px;*/}
.mainbox:after,.ui_unb:after{display:block;clear:both;height:0;font-size:0;visibility:hidden;content:"";}
.mainbox .save_info{width:131px;height:36px;line-height:32px;font-weight:bold;color:#FFFFFF;display:inline-block;*display:inline;*zoom:1;text-align:center;margin:0 auto;border:none;background:url(/image/affiliate/save_baseinfo_btn.png) no-repeat;cursor:pointer;margin-top:25px; font-size:14px;}

.promo_box {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 23px;
}
.promo_step {
    background: url("/image/affiliate/links_step_bg.png") no-repeat scroll 0 0 transparent;
    clear: both;
    display: block;
    overflow: hidden;
    width: 100%;
}
.promo_step li {
    float: left;
	_display:inline;
    line-height: 20px;
    margin: 0 85px 0 48px;
    width: 121px;
}
.promo_step li.nomargr {
    margin-right: 0;
}
.get_code_panel {
    background: none repeat scroll 0 0 #FFFAE9;
    border: 1px solid #E8D4AC;
    margin-top: 10px;
    padding: 22px 40px;
}
.get_code_panel td {
    line-height: 24px;
    padding: 3px 0;
}
.get_code_panel .select_links_page {
    border: 1px solid #7F9DB9;
    padding: 1px;
    width: 98px;
}
.code_view {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #AEAEAE #E0E0E0 #E0E0E0 #AEAEAE;
    border-style: solid;
    border-width: 1px;
    height: 115px;
    overflow-y: auto;
    padding: 5px;
    resize: none;
    width: 500px;
}
.get_code_btn {
    background: url("/image/affiliate/get_code_btn.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    text-align: center;
    width: 114px;
}
.get_pro {
    border-color: #AEAEAE #E0E0E0 #E0E0E0 #AEAEAE;
    border-style: solid;
    border-width: 1px;
    height: 22px;
    line-height: 20px;
    width: 130px;
}
.get_code_panel span {
    display: inline-block;
    padding-right: 20px;
}
.get_code_view {
    margin-top: 20px;
}
.get_code_view h2 {
    color: #206FC1;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
}
.get_code_view_panel {
    /*border: 1px solid #E7E7E7;*/
	width:647px;
	height:auto;
    line-height: 24px;
    padding: 15px 25px;
	overflow-x:hidden;
	overflow-y:scroll;
	text-align: center;
	*zoom:1;
	*display:block;
}
.get_code_view_panel:after{
	display:block;
	clear:both;
	height:0;
	font-size:0;
	visibility:hidden;
	content:"";
}
.get_code_view_panel div a{
	text-align:center;
}
.get_code_view_panel img {
    margin: 0 auto;
}
.get_code_view_panel h3 {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
}

.get_code_view_panel .logo{width:167px;height:74px;float:left;_display:inline;}
.get_code_view_panel .search{float:left;margin-left:15px;}

.searchbox{clear:right;float:left;width:325px;height:39px;background:url(/image/affiliate/search_ipt_bg.png) no-repeat;margin-top:3px;}
.searchbox .searchipt{width:218px;height:29px;line-height:27px;background:transparent;float:left;margin-left:33px;margin-top:5px;border:0 none;font-size:12px;}
.searchbox .searchbtn{width:62px;height:23px;float:left;background:url(/image/affiliate/searchbtn.png) no-repeat;text-indent:-9999em;overflow:hidden;border:none;margin-top:8px;cursor:pointer;}
.keywords{overflow:hidden;clear:both;color:#206fc1;line-height:26px;margin-top:3px;font-size:12px;}
.keywords dt{float:left;}
.keywords dd{float:left;margin-right:10px;}
.keywords dd a{color:#206fc1;}
.keywords dd a:hover{color:#FF6600;}

.links_form {
    background: none repeat scroll 0 0 #F2F9FF;
    border: 1px solid #D8EDFF;
    padding: 22px 40px;
}
.links_form p {
    color: #4D4D4D;
    height: 24px;
    line-height: 24px;
    padding: 3px 0;
}
.links_form label {
    color: #1F58B1;
    float: left;
    width: 120px;
}
.links_form input {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #AEAEAE #E0E0E0 #E0E0E0 #AEAEAE;
    border-style: solid;
    border-width: 1px;
    height: 22px;
    line-height: 20px;
    margin-right: 10px;
    width: 176px;
}

.promo_header{padding:5px 0 12px 0;background:url(/image/affiliate/promo_header_icon.png) no-repeat 80px;color:#005ae1;font-size:20px;font-family:"Microsoft Yahei"line-height:32px;text-indent:210px;}
.promo_header h2,.promo_header h3{font-weight:normal !important;}
.promo_header h3{text-indent:280px;}
.promo_cnt{padding:15px 0;}
.promo_cnt p{line-height:18px;color:#666666;}
.ui_notice_msg{border-top:0 none;margin-top:0 !important;color:#b39156;line-height:20px;}

/* 自定义链接 */
.links_form{background:#f2f9ff;border:1px solid #d8edff;padding:22px 40px;}
.links_form p{height:24px;padding:3px 0;line-height:24px;color:#4d4d4d;}
.links_form label{float:left;_display:inline;width:120px;color:#1f58b1;}
.links_form input{width:176px;height:22px;line-height:20px;border-width:1px;border-style:solid;border-color:#aeaeae #e0e0e0 #e0e0e0 #aeaeae;background:#FFFFFF;margin-right:10px;}

.get_code_head{margin-top:15px;line-height:32px;font-size:14px;color:#4d4d4d;}
.get_code_tips{line-height:24px;color:#4d4d4d;}
.get_code_tips em{padding-left:22px;background:url(/image/affiliate/get_code_tips.png) no-repeat;color:#ff6f1c;}
.get_code_textarea{width:600px;height:45px;padding:5px;background:#FFFFFF;border-width:1px;border-style:solid;border-color:#aeaeae #e0e0e0 #e0e0e0 #aeaeae;overflow-y:auto;resize:none;}
.get_code_btn{position:relative;top:-6px;_top:-4px;display:inline-block;*display:inline;*zoom:1;width:114px;height:25px;line-height:25px;text-align:center;color:#FFFFFF;background:url(/image/affiliate/get_code_btn.png) no-repeat;margin-top:8px;}

.get_code_panel,.ui_notice_msg{padding:20px 40px;margin-top:10px;background:#fffae9;border:1px solid #e8d4ac;}
.ui_notice_msg{border-top:0 none;margin-top:0 !important;color:#b39156;line-height:20px;}
.promo_header h2,.promo_header h3{font-weight:normal !important;}

/* 优惠码 */
.promo_msg{background:#FFFFFF;border-bottom:1px solid #dfdbcc;padding:10px;position:relative;line-height:22px;color:#3a70ba;font-size:14px;margin-top:20px;}
.promo_msg .icons{display:block;width:21px;height:19px;background:url(/image/affiliate/promo_msg_icon.png) no-repeat;position:absolute;left:120px;top:-19px;}

.promo_user_code{font-size:14px;font-weight:bold;color:#ff6200;line-height:32px;margin-top:10px;}
.promo_user_code .code{font-size:18px;color:#ff6200;border:1px dashed #ccc;background:#f8f8f8;padding:2px;font-family:tahoma,"Microsoft Yahei";}
.promo_user_code a{color:#939393;font-size:12px;font-weight:normal;margin-left:30px;}

.promo_cnt{padding:15px 0;}
.promo_cnt p{line-height:18px;color:#666666;}

/* 线路行程 */
.get_code_view_panel a{color:#0073c3;}
.get_view_price{color:#ff7119;font-weight:bold;}

.line_help{padding-left:10px;background:url(/image/affiliate/linecx_help_icon.png) no-repeat center right;cursor:help;position:relative;}
.choose_linexc{color:#ff6200;padding-left:10px;}

.help_tooltip{width:328px;height:180px;border:3px solid #63a7ec;background:#FFFFFF;position:absolute;bottom:37px;left:-19px;z-index:999;cursor:default;display:none;}
.help_tooltip .icons{width:16px;height:17px;display:block;background:url(/image/affiliate/line_help_panel_ico.png) no-repeat; position:absolute;right:224px;bottom:-17px;_bottom:-19px;}
.help_tooltip .help_panel_title{background:#fafafa;border-bottom:1px solid #e7e7e7;line-height:20px;color:#205eba;padding:5px 10px;}
.help_tooltip img{margin-left:10px;margin-top:10px;}

/* 频道景点 */
.popupConTop { cursor:move; background-color:#EEEEE0;}

/*changed*/
.adLinks{margin:10px auto !important;}
.createCode{margin-left:0 !important;}
.createCode ul.af_textpic{}
.createCode ul.af_textpic li{line-height:24px;padding:3px 0;clear:both;}
.createCode ul.af_textpic li label{width:80px;display:inline-block;*display:inline;*zoom:1;padding-right:10px;}
.createCode ul.af_textpic li label.textpic_label{float:left;width:100px;text-align:right;margin-right:8px;}

.copyCode .btnGrey{display:inline-block;*display:inline;*zoom:1;margin-left:10px;}

/*侧边栏*/
.cose_warp{border:4px solid #387CDE;background:#FFFFFF;}
.cose{background:url(/image/affiliate/ce_search_bg.png) repeat-x;position:relative;font-size:12px !important;}
.cose h3{margin:0;padding:0;background:url(/image/nav/bg_main_box2.gif) no-repeat 0 -669px;text-indent:-999em;height:47px;overflow:hidden;}
.cose ul{margin:0;padding:0 10px;list-style:none;}
.cose ul li{line-height:24px;padding:3px 0;}

.cose_warp2{ height:236px; border:4px solid #387cde; background:#fff;}
.cose .box{ width:164px; height:22px; line-height:22px; font-size:12px;  box-shadow:1px 2px 2px #E9E9E9 inset; border:1px solid #d1d1d1; vertical-align:middle; float:left; padding-left:5px; }
.cose .box2{ width:172px; height:22px;  line-height:22px; font-size:12px;  box-shadow:1px 2px 2px #E9E9E9 inset; border:1px solid #d1d1d1; padding-left:5px; vertical-align:middle; }
.selectBorder{border:1px solid #d1d1d1; width:170px; height:20px; _height:19px; float:left; overflow:hidden; margin-top:2px;  position:relative;}
.cose li span{ float:left; width:55px; display:block;}
.cose ul li{ padding-bottom:7px; _zoom:1; height:26px; line-height:26px;float:none;line-height:normal;margin:0;width:auto;display:block;}
.cose li.dot{ position:relative}
.cose li.dot em{ width:16px; height:15px; display:block; position: absolute; z-index:5; top:5px; left:203px; background: url(/image/nav/bg_main_box.gif) no-repeat -217px -55px ; overflow:hidden;}
/*  搜索帮助  */
.cose li.s_1 a{width:30px;display:inline-block;background:url(/image/nav/bg_main_box2.gif) no-repeat -115px -752px; padding-left:15px;height:20px;line-height:20px;color:#878787;float:left;margin:4px 0;}
.cose li.s_1 a span{display:none;}
/*.cose li.s_1 a:hover{position:relative;}
.cose li.s_1 a:hover span{display:block;position:absolute;top:20px;left:-50px;width:300px;}
.cose li.s_1 a:hover span strong{font-style:normal;padding-left:50px;}
.cose li.s_1 a:hover span strong i{font-style:normal;font-size:10px;}
.cose li.s_1 a:hover span font{background:#fff;border:1px solid #ccc;display:block;font-size:12px;}
*/
.cose li.s_1 a:hover{position:relative; text-decoration:none;}
.cose li.s_1 a:hover span{display:block;position:absolute;bottom:20px;left:-170px;width:250px;}
.cose li.s_1 a:hover span strong{font-style:normal;padding-left:50px;background:url(/image/nav/dian_04.gif) repeat-x bottom left;display:block;}
.cose li.s_1 a:hover span strong i{font-style:normal;font-size:10px;background:url(/image/jiao_xslm.gif) no-repeat;width:15px;height:18px;display:block;position:absolute;bottom:-15px;left:190px;text-indent:-9999;}
.cose li.s_1 a:hover span font{background:#fff;border:1px solid #ccc;display:block;font-size:12px;display:block;border:3px solid #63a7ec;}



.cose li .bottom{ width:101px; height:28px; border:none; background:url(/image/nav/bg_main_box2.gif) no-repeat 0 -745px;  cursor:pointer;color:#fff; letter-spacing:5px;font-weight:bold; margin-right:8px;font-size:14px;float:left;}
.cose li.s_1{padding-left:55px; padding-top:3px;}
.cose li.s_2 .t1{width:40px;float:left;}
.cose li.s_2 div{width:185px;height:25px;line-height:25px;overflow:hidden;}
.cose li.s_1 em{ width:35px; height:20px; line-height:20px; text-align:center; background:#000000; display:block; position:absolute; right:15px; top:7px; z-index:5; background:url(/image/nav/bg_main_box2.gif) no-repeat -115px -752px; padding-left:12px;}

.cose ul{ padding:0 14px;  _zoom:1;border:0;}
.choice dl{  overflow:hidden; _zoom:1; padding:8px 15px;}
.choice dt{ border-bottom:1px dashed #e8e8e8; font-weight:bold;}
.choice dd{ padding-top:3px}
.choice li{ width:75px; height:20px; line-height:20px; float:left;}
.choice .title{ background:url(/image/nav/bg_main_box2.gif) no-repeat 0 -791px; height: 32px;}
.choice .title a{ width:122px; text-align:center; display:block; height:32px; line-height:28px; float:left;}
.choice .title a.current{ background:url(/image/nav/bg_main_box2.gif) no-repeat 0 -836px; font-weight:bold; color:#fff; text-decoration:none;}

/*输入框弹出城市*/
.pop_city{ width:252px; background:#fff; border:1px solid #5a91e1; position:absolute; left:5px; top:74px;/**/ z-index:400; -moz-box-shadow:2px 2px 2px #404040;/* For Firefox3.6+ */-webkit-box-shadow:2px 2px 2px #404040;/* For Chrome5+, Safari5+ */ box-shadow:2px 2px 2px #404040;   /* For Latest Opera */font-size:12px !important;}
/*  弹出框关闭按钮 */
.divPlaceClostBtn{display: block; position: absolute; text-align: center; cursor: pointer;}
.point{ top:80px; }
.point .tabCons{height:157px;overflow-y:auto;width:100%;}
.pop_city .tabTits{ background:#3478d5; height:24px; line-height:24px; padding:0 15px;}
.pop_city .tit li{ width:50px; height:27px; line-height:27px; float:left; text-align:center; font-size:14px; margin-top:3px; color:#fff;}
.pop_city .tit li.current{ background:#fff; font-weight:bold; color:#373737;}
.pop_city .tabTits a{width:50px; height:24px; line-height:24px; float:left; text-align:center; font-size:14px; margin-top:3px; color:#fff;}
.pop_city .tabTits a.current{ background:#fff; font-weight:bold; color:#373737;}

.pop_city dl{overflow:hidden; _zoom:1;}
.pop_city dl dt{ padding:0 15px; height:24px; line-height:24px; background:#e5f1fd;}
.pop_city dl dd{ padding:0 15px; line-height:24px;width:auto;}
.pop_city dl dd a{ width:33%; display:block; float:left;}
.destination{ top:122px;}
.destination .tabCons{height:115px;overflow-y:auto;width:100%;}

/* 窗P]按o */
.pop_cityBegin .closeBtn{top:0px;right:0px; width: 37px;height:24px;line-height:24px;color:#fff;}
.pop_cityEnd .closeBtn{bottom:0px;right:0px;width:37px;color:#000;height:23px;line-height:23px;}

.title_1{ height:30px; background:url(/image/nav/tit_1.gif) repeat-x; margin:1px; padding:0 15px; line-height:30px;}
.border_1 {
    border: 1px solid #C9DFF1;
}

.index_topic a {
  background: url("/image/nav/bg_main_box2.2.jpg") no-repeat scroll 20px center rgba(0, 0, 0, 0);
  color: #FF6801;
  display: inline-block;
  float: right;
  line-height: 47px;
  padding-left: 45px;
  padding-right: 15px;
}