/* usitrip.com 20110906 */
/* 走四方网繁体图片调用样式表 */

/* 网站联盟繁体图片样式 */
.unionFaq h2{ background:url(/image/pictw/union_bg.png) -115px 0 no-repeat;}
.unionInfo .join{ background:url(/image/pictw/union_bg.png) 0 -97px;}
.unionNotice h2{ background:url(/image/pictw/union_bg.png) -115px -19px no-repeat;}
.unionContact h2{ background:url(/image/pictw/union_bg.png) -115px -36px no-repeat;}
.unionContact h2._contact{ background:url(/image/pictw/union_bg.png) -115px -53px no-repeat;}













