@charset "gb2312";
table{border-collapse:collapse;border-spacing:0;}
.color_orange, .color_orange a, a.color_orange {
    color: #FF6600;
}
em{font-style:normal;}
#abouts .column .cont li a{height:35px; display:block; padding-left:60px;}
/*关于我们*/
#abouts{ min-height:450px; height:auto !important; height:450px;padding-left:20px;}
.abouts_left{ background:#f4faff; width:263px; border:1px solid #cae4ff; border-top:0; float:left; margin-right:12px; height:1682px;}
#abouts .column{}
#abouts .column .tit{ border:1px solid #417cce; border-bottom:0; height:34px; line-height:34px; background:url(/image/nav/abouts_bg1.gif) repeat-x;}
#abouts .column .tit h2{ font-size:14px; color:#fff; font-weight:bold; padding-left:30px;}
#abouts .column .cont li{ height:35px; line-height:33px; background:url(/image/nav/abouts_bg2.gif) no-repeat;}
#abouts .column .cont li a{height:35px; display:block;}
#abouts .column .cont li a:hover{ background:url(/image/nav/abouts_bg3.gif) no-repeat;}
.abouts_right{ width:670px; float:left; }
.aboutsTit{height:30px; background:url(/image/nav/user_bg7.gif) repeat-x bottom; }
.aboutsTit li{float:left;  height:26px; line-height:26px; border-bottom:none; padding:0 25px;
background:url(/image/nav/user_bg8.gif) repeat-x; color:#fff; font-weight:bold; font-size:14px; border:1px solid #ff5500; border-bottom:none;}

.fix{display:block;zoom:1;}
.fix:after{display:block;clear:both;overflow:hidden;height:0;font-size:0;content:"";}
.hide{display:none;}

.help_cnt{width:666px;border:1px solid #cae4ff;padding:1px 0;margin:3px auto;color:#333;}
.help_cnt a{cursor:pointer;}
.help_step{position:relative;}
.tri{position:relative;height:32px;padding-left:17px;margin-left:-17px;
background:url(/image/orderprocess/basebg_helpcenter_step.png) no-repeat left -128px;}
.con{height:32px;padding-right:17px;line-height:30px;text-align:center;
background:url(/image/orderprocess/basebg_helpcenter_step.png) repeat-x 0 -64px;}
.steptable{width:100%;}
.steptable b{color:#276bc5;font-size:16px;position:relative;bottom:-2px;padding-right:3px;}
.steptable .current .con{background-position:0 0;color:#0158b1;}
.steptable .current .tri{background-position:left -96px;}
.steptable .clicked .con{background-position:left -32px;}
.steptable .clicked .tri{background-position:left -160px;}

.help_step_tab{position:relative;height:35px;background:url(/image/orderprocess/help_step_tabg.jpg) repeat-x left bottom;}
.step_tabitem{position:absolute;bottom:0;width:100%;height:28px;line-height:28px;border-bottom:1px solid #85bae6;font-size:12px;}
.step_tabitem ul{padding-left:15px;float:left;margin-bottom:-1px;}/*ie6*/
.step_tabitem li{float:left;margin-right:8px;border-left:1px solid #85bbe9;border-right:1px solid #85bbe9;}
.step_tabitem li em{float:left;display:block;padding:0 15px;height:28px;line-height:25px;overflow:hidden;margin-top:-1px;_position:relative;border-top:1px solid #85bbe9;background:#e0f0ff;color:#2860b5;cursor:pointer;}
.step_tabitem .current,.step_tabitem li:hover{border-left:1px solid #85bbe9;border-right:1px solid #85bbe9;}
.step_tabitem li:hover em{border-top:1px solid #85bbe9;}
.step_tabitem .current em,.step_tabitem .current em:hover{background:url(/image/orderprocess/item_current_bg.jpg) repeat-x;border-bottom:1px solid #ffffff;color:#2860b5;border-top:1px solid #85bbe9;}
.step_tabitem .current em{ font-weight:700;}

.step_notice{border:1px solid #d9e8f3;margin:10px;padding:5px 5px 5px 45px;background:url(/image/orderprocess/comprocess_tips_icon.jpg) no-repeat 10px 9px;min-height:32px;height:auto !important;height:32px;line-height:32px;font-size:14px;font-weight:bold;color:#ff6d00;}

.step_button{width:188px;float:right;}
.step_button span{display:block;width:84px;float:left;_display:inline;zoom:1;margin-top:3px;height:25px;line-height:25px;text-align:center;color:#FFF;margin-left:10px;font-size:14px;font-family:"Microsoft Yahei";cursor:pointer;}
.step_button span.prev{background:url(/image/orderprocess/ui_button_prev.jpg) no-repeat;}
.step_button span.next{background:url(/image/orderprocess/ui_button_next.jpg) no-repeat;}
.step_button span.un{background-position:0 0;cursor:default;}
.step_button span.on{background-position:0 -25px;}

.step_pic{text-align:center;padding-bottom:20px;margin-top:10px;}
.step_pic img{margin:0 auto;}