\@charset "gb2312";
.color_orange, .color_orange a, a.color_orange {
    color: #FF6600;
}
#abouts .column .cont li a{height:35px; display:block; padding-left:60px;}
/*关于我们*/
#abouts{ min-height:450px; height:auto !important; height:450px;padding-left:20px;}
.abouts_left{ background:#f4faff; width:263px; border:1px solid #cae4ff; border-top:0; float:left; margin-right:12px; height:1682px;}
#abouts .column{}
#abouts .column .tit{ border:1px solid #417cce; border-bottom:0; height:34px; line-height:34px; background:url(/image/nav/abouts_bg1.gif) repeat-x;}
#abouts .column .tit h2{ font-size:14px; color:#fff; font-weight:bold; padding-left:30px;}
#abouts .column .cont li{ height:35px; line-height:33px; background:url(/image/nav/abouts_bg2.gif) no-repeat;}
#abouts .column .cont li a{height:35px; display:block;}
#abouts .column .cont li a:hover{ background:url(/image/nav/abouts_bg3.gif) no-repeat;}
.abouts_right{ width:670px; float:left; }
.aboutsTit{height:30px; background:url(/image/nav/user_bg7.gif) repeat-x bottom; }
.aboutsTit li{float:left;  height:26px; line-height:26px; border-bottom:none; padding:0 25px;
background:url(/image/nav/user_bg8.gif) repeat-x; color:#fff; font-weight:bold; font-size:14px; border:1px solid #ff5500; border-bottom:none;}
.aboutsCont{ border:1px solid #cae4ff; padding:15px; }
/*changed by Afei*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

.ui_welcome { padding-bottom:10px; border-bottom:1px solid #CCC; }
.ui_welcome h4 { line-height:32px; font-size:16px; font-family:"Microsoft Yahei"; color:#164893; }
.ui_welcome p { line-height:24px; }
.ui_welcome p img { float:left; margin-right:15px; vertical-align:top; margin-top:5px; }
.ui_welcome a { color:#F60; }

.ui_stepanel { padding:20px 0; border-bottom:1px dashed #CCC; }
.ui_stepanel .ui_stit { height:24px; line-height:24px; clear:both; }
.ui_stepanel h5 { float:left; background:#3489da; color:#FFF; padding:0 5px; font-size:14px; }
.ui_stepanel p { line-height:24px; margin:8px 0; }
.ui_stepanel p.ui_btit { margin-top:15px; }
.ui_stepanel p strong { color:#066dcc; font-size:14px; }
.ui_stepanel a { color:#F60; }

.ui_odprogram { border-collapse:collapse; border-spacing:0; border:1px solid #dee2e3; margin:5px 0; }
.ui_odprogram td { border:1px solid #dee2e3; padding:10px; color:#3396da; }