@charset "gb2312";

.fix{*display:block;*zoom:1;}
.fix:after{display:block;clear:both;height:0;font-size:0;visibility:hidden;content:"";}
.role{-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";
filter: progid:DXImageTransform.Microsoft.Matrix(
    M11=0.7071067811865475,
    M12=-0.7071067811865477,
    M21=0.7071067811865477,
    M22=0.7071067811865475,
    SizingMethod='auto expand'
);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform:rotate(45deg);
font-size:0;}
.hide{display:none;}
.page-location{height:38px;padding-left:20px;line-height:38px;font-size:12px;border-bottom:1px solid #E6E6E6;}
.ui-checked-tab{margin:50px 0 20px 0;padding:0 50px;}
.ui-checked-type{margin:0 auto;text-align:center;}
.ui-checked-type li{display:inline-block;*display:inline;*zoom:1;margin:0 30px;font-size:14px;font-weight:700;}
.ui-checked-type label{vertical-align:middle;cursor:pointer;}
.ui-checked-type label input{position:relative;width:12px;height:12px;font-family:Arial;vertical-align:middle;overflow:hidden;margin:-3px 5px 0 0;}
.ui-checked-type li.disabled label{cursor:not-allowed;}
.ui-checked-type li.checked{color:#2263bf;}
.ui-checked-wrap{margin-top:30px;padding:50px 0;border:1px solid #d2e3f5;background:#eef7fe;border-radius:3px;position:relative;zoom:1;display:block;}
.ui-checked-wrap i{position:absolute;top:-8px;_top:-10px;top:-11px\9;display:block;margin:0;padding:0;width:15px;height:15px;border-left:1px solid #d2e3f5;border-top:1px solid #d2e3f5;background:#eef7fe;}
.m{left:370px;}
.e{left:513px;}
.m-box{width:425px;margin:0 auto;padding-left:55px;background:url(/image/fp_m.jpg) no-repeat;}
.e-box{width:470px;margin:0 auto;padding-left:105px;background:url(/image/fp_e.jpg) no-repeat;}
.tips-text{font-size:14px;color:#235eba;}
.fp_form{margin-top:5px;height:34px;}
.fp_ipt{height:30px;line-height:30px;font-size:14px;font-family:tahoma;border:1px solid #d7d7d7;background:#FFF;padding:1px 3px;border-right:0;width:296px;float:left;outline:none;}
.fp_btn{height:34px;width:122px;font-size:12px;font-weight:700;padding-bottom:2px;color:#FFF;text-align:center;background:url(/image/fp_btn.png) no-repeat;float:left;border:0;cursor:pointer;}
#J_Mobile,#J_Email{margin:0;padding:0;}