#las_vegas_show .product_content2_n_l{width:698px; display:inline; margin-right:0px;}
#las_vegas_show .product_1{ width:710px; float:right; margin-left:10px; display:inline;}
#las_vegas_show .show936{ border:0px; padding:0px; width:694px;}
#las_vegas_show .show_ctt{width:460px;}
#las_vegas_show .product_class_and_max_button{ background:#fff;}
#las_vegas_show .title_buy_center{ border:1px solid #FFCC00;background:#FFF9E0;  margin-top:15px; width:663px; padding:10px 0px 10px 10px; }
#las_vegas_show .product_tab_b_n{ float:right; width:698px;}
#las_vegas_show .product_detail_content{width:698px; display:inline; }
#las_vegas_show .product_content2_n_r{ float:left; width:210px}
#las_vegas_show .tab1 ul { margin:0px;}
#las_vegas_show .biaoti8_n{ width:698px;}
#las_vegas_show .big_b7_n{ float:left; width:95%; padding-left:10px;}
#las_vegas_show .p_p_2{ padding-right:10px;}
#las_vegas_show .biaoti8_n2 { width:688px;}
#las_vegas_show .biaoti8_n2 h5 { margin-left:0px;}
#las_vegas_show .pr_1_n{ width:208px; background:url(/image/maybe_you_like_bg.gif) top left repeat-x;}
#las_vegas_show .pr_2{ width:200px;}
#las_vegas_show .pr_3_b_t_n{ font-size:12px; width:204px; margin:0px; padding:10px 0px 0px 5px;}
#las_vegas_show .pr_1_n_las_vegas{  background:none;}
#las_vegas_show .pr_3_b_t_n_las_vegas{ font-size:12px; width:203px; padding:10px 0px 5px 5px; margin-left:0px; background:#E4F4FF;}
#las_vegas_show .pr_1_n ul{}
#las_vegas_show .pr_1_n ul li{ width:180px; white-space:nowrap; overflow:hidden; margin-top:0px;}
#las_vegas_show .pr_1_n ul li span{ color:#6f6f6f;}

#las_vegas_show .pr_1_n dl{ padding-left:10px;}
#las_vegas_show .pr_1_n dl dd{ width:180px; white-space:nowrap; overflow:hidden; margin-top:0px;}
#las_vegas_show .pr_1_n dl dd span{ color:#6f6f6f;}

#las_vegas_show .p_p_2_note{ padding-top:15px; }
#las_vegas_show .p_p_2_note ul li{ padding:4px 0px 4px 0px; list-style: disc; list-style-position:inside;}

