@charset "gb2312";
/*积分规则 by _Afei 270842722@qq.com*/
.ui_rules_wrap{border:1px solid #AED5FF;padding:10px;}
.ui_rules_wrap h3{line-height:26px;font-size:14px;color:#19569E;}
.ui_rules_wrap p{line-height:22px;text-indent:2em;}
.ui_rules_wrap .ui_rules_table{border-collapse:collapse;border-spacing:0;border:1px solid #999999;width:100%;margin:10px 0;}
.ui_rules_wrap .ui_rules_table th{background:#f5f5f5;text-align:center;font-size:14px;}
.ui_rules_wrap .ui_rules_table th,.ui_rules_wrap .ui_rules_table td{height:32px;line-height:32px;border:1px solid #999999;}
.ui_rules_wrap .ui_rules_table td{text-indent:10px;}
.ui_rules_wrap .ui_rules_table td.ui_rules_notice{text-indent:0;text-align:center;color:#c00;}
.ui_rules_settle{color:#c00;font-size:14px;font-weight:700;}

