/* usitrip.com 201000906 */
/* 包含了走四方专家的css
 * -------------------------------------------------- */

/* 走四方专家首页的css */
.pathLinksLeft{ float:left;}
.longLink{ width:942px;}
.expertSearch{ float:left; margin:5px 0 0 200px; display:inline; width:230px; height:21px; border:1px solid #C3C3C3; line-height:21px;}
.expertSearch input{ float:left; padding:3px 0 0 3px; width:199px; height:14px; line-height:14px; border:0;} 
.expertSearch button{ float:right; width:28px; height:21px; background:url(/image/expert_search_btn.jpg); border:0; cursor:pointer;} 

.expertIndex{ clear:both; margin:10px 10px 0; padding:20px 20px 10px; width:888px; border:1px solid #F1F1F1; overflow:hidden;}
.expertIndexUser{ margin-bottom: 30px; padding: 25px 20px; border: 1px dashed #c1c1c1; background:#f8f8f8; }
.expertIndexTop5{ margin-top:5px;}

/* 通用走四方专家简介 */
.expertList{ width:888px;}
.expertList dt{ float:left; width:152px; text-align:center; }
.expertList dt .userPic{ display:block; padding:5px; width:140px; height:190px; background:#FCFCFC; border:1px solid #F4F4F4;}
.expertList dt .userPic img{ width:140px;}
.expertList dt a{ color:#327EF6; line-height:24px;}

.expertList dd{ float:right; margin-bottom:10px; display:inline; width:716px; line-height:20px;}
.expertList dd h3 a{ color: #327EF6;font-size: 12px; font-weight: normal; margin-left: 18px;}
.expertList dd h2{ font-size:14px; color:#BF3A01; line-height:24px; }
.expertList dd h2 a{ margin-left:20px; font-size:12px; font-weight:normal; color:#327EF6;}
.expertList dd p{ padding-bottom:5px;}
.expertList dd p a{ margin-right:18px; color:#00388A;}
.expertList dd p a.more{ padding:0 0 0 10px; color:#327EF6;}
.expertList dd p span{ display:none;}
.expertList .operateAsk{ float:left; margin-right:20px; display:inline; padding-left:12px; height:20px; background:url(/image/expert_btn_bg.gif) left -40px no-repeat #3299D3;}
.expertList .operateAsk a{ display:block; float:left; padding-right:12px; height:18px; padding-top:2px; line-height:16px; *line-height:18px; background:url(/image/expert_btn_bg.gif) right -60px no-repeat; color:#fff; }

.expertList .operateNew{ float:left; margin-right:20px; display:inline; padding-left:12px; height:20px; background:url(/image/expert_btn_bg.gif) left 0 no-repeat #3DA800;}
.expertList .operateNew a{ display:block; float:left; padding-right:12px; height:18px; padding-top:2px; line-height:16px; *line-height:18px; background:url(/image/expert_btn_bg.gif) right -20px no-repeat; color:#fff; }

.expertList ul{ padding-top:12px; width:100%; border-top:1px solid #BCE8F3;}
.expertList li{ float:left; padding:0 18px; height:14px; line-height:14px; }
.expertList li.publish{ background:url(/image/icons/publish.gif) no-repeat;}
.expertList li.question{ background:url(/image/icons/question.gif) no-repeat;}
.expertList li.question span{ margin-left:5px; display:inline; font-weight:bold; color:#4BA700;}
.expertList li a{color:#00388A;}
.expertList li.success{ float:right; color:#111; }
.expertList li.success b{ margin-left:5px; display:inline; color:#F7860F; font-family:Tahoma;}

/* 走四方专家编辑 */
input.expertipttip,textarea.expertipttip{color:#999;}
/* 编辑信息 */
.expertEditInfo textarea{ margin-top:10px; width:562px; height:150px;}
/* 编辑头像 */
.expertEditPic { padding:15px 0 10px 15px; color:#777;}
.expertEditPic .text{ float:left; margin-right:10px; display:inline; padding-top:4px; width:345px;} 
.expertEditPic blockquote{font-size:12px; font-weight:bold; color:#111;}
/* 新增类别 */
.expertAddSort{ padding:15px 0 10px 15px; color:#777;}
.expertAddSort li{ padding:5px 0;line-height:25px; color:#777;}
.expertAddSort li .text{ width:200px;}
/* 编辑分类 */
.editSort{ clear:both; margin:10px 0 10px; overflow:hidden;}
.editSort ul{ margin:10px;  padding:5px 10px; background:#F8F8F8; overflow:hidden;}
.editSort li{ display:inline-block; *display:inline; *zoom:1; width:260px; margin:5px 0; }
.editSort li .checkbox{ float:left; margin:5px 3px 0 0; *margin-top:2px; display:inline; }
.editSort li .text{ width:150px; overflow:visible;}
.editSort li span{ padding-left:3px; color:#777;}
.editSort li a{ margin-left:10px;}

.editSort .moveSort{float:left;}
.editSort .moveSort .moveLeft{ float:left; height:30px; margin-left:10px; display:inline; line-height:30px; color:#777;}
.editSort .moveSort span{ padding:0 10px 0 5px; color:#111;}
.editSort .moveSort .btn button{ width:70px;}


.expertNewArticle{ padding:10px 0 0 40px; width:90%;}
.expertNewArticle li{ float:left; margin-top:15px; width:100%; height:22px; line-height:22px; color:#777;}
.expertNewArticle li a{ color:#327EF6;}
.expertNewArticle li label{ float:left; font-size:14px;} 
.expertNewArticle li span{ float:left; margin-right:8px; display:inline; height:22px; color:#111;}
.expertNewArticle li span input{ float:left; margin:3px 2px 0 0; display:inline; width:13px; height:13px; }
.expertNewArticle .articleEdit{ float:left; margin-top:15px; width:100%;}
.expertNewArticle .submit{ clear:both; margin:0 auto; padding:20px 0; width:200px; overflow:hidden; }
.expertNewArticle .submit .btn{ margin-left:15px;}
.expertNewArticle select.writings optgroup{font-style:normal; font-weight:normal;color:#777;}

/* 旅行专家详细页面 */

.expertTitle{ margin-top:15px; }
.expertTitle h2,.expertTitle h2 a{ padding:0 10px; font-size:14px; color:#BF3A01; line-height:20px;}
.expertTitle h3{ padding:0 10px; font-size:14px; color:#F7860F; line-height:20px;}
.expertTitle h3 a{font-size:12px; font-weight:normal;color: #327EF6;margin-left: 20px;}

.expert1Recommend{ width:888px;}
.expert1Recommend h2{ font-size:16px; line-height:24px;}
.expert1Recommend h2 a{ color:#111;}
.expert1Recommend h3{ font-weight:normal; line-height:20px; color:#4BA700;}

.expert1Recommend .left{ float:left; margin:15px 15px 0 0; display:inline; width:160px;}
.expert1Recommend .left img{ width:160px;}
.expert1Recommend .right{ float:left; margin-top:15px; width:713px; line-height:24px;}


.expertLast{ float:left; margin-left:10px; display:inline; width:459px; }
.expertLast .expertTitle h2{ padding:0;}
.expertLast .left{ float:left; margin-top:5px; padding:10px 20px; width:418px; min-height:70px; border:1px solid #f1f1f1; }

/* 文章列表 */
.expertArticle dl{ float:left; margin-bottom:10px; width:100%;}
.expertArticle dt{ float:left;width:100%; height:24px; line-height:24px; color:#00388A; font-weight:bold; }
.expertArticle dd{ float:left;width:100%; line-height:22px;}
.expertArticle dd p{ float:left; width:350px;}
.expertArticle dd span{ display:block; float:left; color:#777;}
.expertArticle dd span.date{ width:85px;}
.expertArticle dd span.viewed{ width:60px;}
.expertArticle dd span.share{ width:70px;}
.expertArticle dd span.edit{ width:35px;}
.expertArticle dd a{ color:#111;}
.expertArticle dd a.pic{ padding-right:15px; background:url(/image/icons/a_pic.gif) right center no-repeat;}
.expertArticle dd span a{ color:#327EF6;}


.expertLast .left .more{ float:left; width:410px; height:32px; line-height:28px; text-align:right;} 
.expertLast .right{ float:left; margin-top:5px;  width:100%; min-height:90px; border:1px solid #f1f1f1; }

/* 问答列表 */
.expertFaq dl{ float:left; padding:10px 8px 0 8px; width:443px;  }
.expertFaq dt{ float:left; width:28px; line-height:18px; font-weight:bold;}
.expertFaq dd{ float:right; margin-bottom:8px; width:415px; line-height:18px;}
.expertFaq dd p{ font-weight:bold;}
.expertFaq dd span{ float:right; margin-right:10px; display:inline; color:#777;}
.expertFaq dl.reply{ background:#FFFFF5;}
.expertFaq dl.reply dt{ color:#F7860F;}
.expertFaq dl.reply dd p{ font-weight:normal;}
.expertFaq dl.reply dd p a{ text-decoration:underline;}
.expertFaq dl.reply dd p a.faqMore{ padding-left:10px; text-decoration:none; color:#327EF6;}
.expertFaq dl.reply dd span{ float:left;}
.expertFaq dl.reply dd span.tip{color: #F90; padding-left:10px;}
.expertFaq dl.reply dd span.tip font{color: #777; font-size:12px;}
.expertFaq dl.reply dd span.r{ margin-left:20px;}
.expertFaq dl.reply dd span.r a{color: #327EF6;display: block;}

.popupCon .notes_top {height:auto;width: auto;}
.popupCon .notes_img { margin-top:0px;}
.popupCon .notes_text { margin-top:0px; text-align:left;}
.popupCon .notes_text .tip{ color:#000; font-weight:normal;}



.expertLast .right .more{ float:left; width:450px; height:60px; line-height:60px; text-align:right;}
.expertIndex .page{ margin-left:-8px; display:inline; padding:10px 0; }
.expertIndex .goTop{ margin-top:10px;}

.AllFaq{ margin-bottom:10px; padding:0; width:928px;}
.AllFaq dl{ width:912px; border-bottom:1px solid #F9F5D2}
.AllFaq dd{ width:884px;}

.AllFaq dd p{ float:left; width:680px;}
.AllFaq dd span.reply{ margin-right:0; margin-left:10px;}
.AllFaq dd span.reply a{ display:block; padding:0 5px; color:#327EF6; }
.AllFaq dd span.reply a.on{ background:#00388A; color:#fff; }

.newAsk{ float:left; margin:20px 0 0 10px; display:inline; width:650px;}
.newAsk h2{ font-size:14px; line-height:30px;}
.newAsk textarea{ float:left; width:640px; height:85px;}
.newAsk .textareatip{color:#999;}
.newAsk .submit{ float:left; padding:15px 0 15px 300px; width:85px;}


/* 文章页面 */
.expertArticleDetail{ padding:5px 15px; width:920px;}
.expertArticleDetail h1{ padding-top:10px; height:50px; line-height:50px; font-size:14px; text-align:center; } 
.expertArticleDetail .exInfo{  padding:5px 0 5px 150px; width:770px; height:16px; line-height:16px; border-bottom:1px solid #EEE; color:#777; }
.expertArticleDetail .exInfo span{ float:left;}
.expertArticleDetail .exInfo .date{  margin-right:30px; display:inline; }
.expertArticleDetail .exInfo .operate{ margin:0 60px 0 10px; display:inline;}
.expertArticleDetail .exInfo .operate a{ color:#327EF6;}

.expertArticleDetail .exCon{ padding:20px 25px; width:870px; line-height:24px; }

.expertArticleDetail .postNav{ padding:15px 15px 5px; width:890px; border-top:1px solid #eee; overflow:hidden; }
.expertArticleDetail .postNav .pre{ float:left; width:400px;}
.expertArticleDetail .postNav .next{ float:right; width:400px; text-align:right;}


.expertRouteShow{ clear:both; padding:10px 20px 0; width:910px;}
.expertRouteShow .title a{ float:left; margin:6px 0 0 25px; display:inline; color:#327EF6; }


.expertRoute{ padding:12px 0 12px 12px; width:896px; border:1px solid #C5E6F9; border-top:0; overflow:hidden;}
.expertRoute li{ float:left; height:24px; line-height:24px;}
.expertRoute li p{ float:left; width:675px; height:24px; overflow:hidden;} 
.expertRoute li p input{ float:left; margin:4px 3px 0 0; display:inline; width:13px; height:13px;}
.expertRoute li span{ float:left; }
.expertRoute li .price{ width:70px; font-weight:bold; color:#F7860F; text-align:right; font-family:Tahoma; }
.expertRoute li .view{ margin-left:20px; display:inline; width:70px; color:#777;}
.expertRoute li .order{ width:60px; color:#777; }


.expertPush{ float:left; margin:10px 10px 0; display:inline; padding:10px; width:908px; border:1px solid #F1F1F1; overflow:hidden; }
.expertPush h1{ padding-bottom:10px; line-height:25px; font-size:14px; font-weight:normal;}
.expertPush h1 b{ color:#bc3a00;}
.expertPush h2{ padding-left:15px; line-height:20px; font-weight:normal; color:#777; } 
.expertPush .expertRoute{ border:0;}
.expertPush .expertRoute p{ width:820px;}
.expertPush h2 a{font-weight:bold;}
.expertPush a.selected{background: none repeat scroll 0 0 #138DDA;color: #FFFFFF;text-decoration: none;padding: 2px 3px 3px;white-space: nowrap;}

.expertPushBtn{ clear:both; margin:0 auto; padding:10px 0 15px; width:200px; height:25px;}
.expertPushBtn .btn{ margin-left:15px;}

.addSuccess .btn{ margin-right:15px;}

.btnShort button {
    width: 40px;
}

/* 走四方专家成功订单页面 */
.expertSuccessOrderTop h2{ padding:0 20px; font-size:14px; color:#BF3A01; line-height:25px;}
.expertSuccessOrderTop div{ padding:5px 20px 0; height:25px; line-height:25px;} 
.expertSuccessOrderTop label{ padding-left:15px; color:#777;}
.expertSuccessOrderTop .time{ width:88px; height:14px; padding:3px 2px; background:url(/image/icons/Calendar.gif) no-repeat 72px 3px; border:1px solid #d5d5d5; line-height:14px;background-position: 72px 3px;color: black;cursor: pointer;}
.expertSuccessOrderTop span{ color:#777;}
.expertSuccessOrderTop strong{ color:#F7860F; font-family:Tahoma;}

.expertSuccessOrderCon{ padding:10px 20px 15px; width:910px;}
.expertSuccessOrderCon li{ display:inline-block; *display:inline; *zoom:1; text-align:center; vertical-align:top; }
.expertSuccessOrderCon .col1{ width:50px;}
.expertSuccessOrderCon .col2{ width:90px;}
.expertSuccessOrderCon .col3{ width:70px;}
.expertSuccessOrderCon .col4{ width:340px; padding-left:0px; }
.expertSuccessOrderCon .col5{ width:110px;}
.expertSuccessOrderCon .col6{ width:110px;}
.expertSuccessOrderCon .col7{ width:100px;}

.expertSuccessOrderCon .title ul{ float:left; display:inline; width:900px;}
.expertSuccessOrderCon .title li{  height:22px; padding-top:4px; line-height:22px; font-weight:bold; }
.expertSuccessOrderCon .title .col4{ text-align:left;}

.expertSuccessOrderCon .list{ border:1px solid #C5E6F9; border-top:0;}
.expertSuccessOrderCon .list ul{ clear:both; padding:12px 0 12px 5px; border-bottom:1px solid #efefef; overflow:hidden; line-height:20px;}
.expertSuccessOrderCon .list .col4{ text-align:left;}
.expertSuccessOrderCon .list .col5{ color:#F7860F;font-weight:bold; font-family:Tahoma;}
.expertSuccessOrderCon .list .col6{ color:#F7860F; font-weight:bold; font-family:Tahoma;}
.expertSuccessOrderCon .list .col7{ color:#4BA700;}
.expertSuccessOrderCon .list .red{ color:red;}

/* 线路列表标题 */
.proListCon h2{ font-size:14px; color:#111; line-height:24px; }
.proListCon h2 a{color:#111;}
.proListCon h2 a:hover{color:#00388A;}
.proListCon h3{ margin-bottom:4px; line-height:14px; font-size:12px; color:#4ba700; font-weight:normal;} 

/* 线路列表左边 */
.proListCon .left{ float:left; padding:20px 25px 0 0; width:159px; overflow:hidden;}
.proListCon .left .pic{ position:relative; width:159px; height:103px; }
.proListCon .left .pic img{ width:159px; height:103px;}
.proListCon .left .pic .gift{position:absolute; right:-20px; top:-17px; width:78px; height:41px; background:url(/image/gift.png); _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/image/gift.png");_background:none; text-align:center; color:#fff; padding-top:12px; padding-left:1px;}
.proListCon .left ul{ float:left; margin-top:10px; width:159px; }
.proListCon .left ul li{ float:left; margin-top:3px; width:79px; line-height:15px; color:#F78610}
.proListCon .left ul li.compare{ width:159px; height:25px; line-height:25px;}
.proListCon .left ul li.compare .compareLeft{ float:left;}
.proListCon .left ul li.compare .compareLeft input{ float:left; margin:5px 2px 0 0; display:inline; width:13px; height:13px;}
.proListCon .left ul li.compare button{ width:50px;}
.proListCon .left ul li.compare .btnCompareSmall{display:none;}


/* 线路列表中间 */
.proListCon .mid{ float:left; margin-top:15px; display:inline; width:500px; overflow:hidden; color:#111; line-height:24px;}
.proListCon .mid li{ float:left; width:500px;}
.proListCon .mid h4{ float:left; color:#777; width:65px; font-weight:normal;}
.proListCon .mid p{ float:left; width:435px;}
.proListCon .mid b{ float:left; color:#223c6a; font-weight:normal; }
.proListCon .mid li.NotReqVisa{float:left; padding:3px 5px; width:348px; background:#F2F8D8; border:1px dotted #D7E59A; color:#319114; line-height:18px;}

/* 线路列表右边 */
.proListCon .right{ float:right; margin-top:15px; width:93px; text-align:right;}
.proListCon .right del{  width:90px; font-size:14px; color:#777; font-family:Tahoma;}
.proListCon .right b{ width:90px; font-size:18px; color:#f7860f; font-family:Tahoma; font-weight:normal;}
.proListCon .right .btnAddCar{ margin-top:28px;}
.proListCon .right .btnAddCollect{ margin-top:10px; }
.proListCon .right button{ width:90px;}

/*====================================*/
.jb_fb_tc{
margin:0 auto;
position:absolute;
top:40%;
left:35%;
width:624px;
z-index:1410065406;}
.jb_fb_tcAddXx {
    left: 50%;
    margin-left: -312px !important;
    margin-top: -100px !important;
    position: fixed !important;
    top: 50%;
    width: 624px;
    z-index: 1410065406;
}
.jb_xj_t1{width:6px; height:6px; background:url(/image/t1.png) no-repeat;
		_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/t1.png', sizingMethod=scale);}
.jb_xj_t3{width:6px;height:6px;background:url(/image/t3.png) top left no-repeat;
		_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/t3.png', sizingMethod=scale);}
.jb_xj_b1{width:6px;height:6px;background:url(/image/b1.png) top left no-repeat;
		_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/b1.png', sizingMethod=scale);}
.jb_xj_b3{width:6px;height:6px;background:url(/image/b3.png) top left no-repeat;
		_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/b3.png', sizingMethod=scale);}
.jb_xj_t2{height:6px;background:url(/image/png.png)  top left repeat;
		_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/png.png', sizingMethod=scale);}
.jb_xj_m{width:6px; background:url(/image/png.png)  top left repeat;
		_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/png.png', sizingMethod=scale);}	
.jb_xj_content{ background:#fff;}	
.jb_fb_tc_bt{ width:570px; height:30px; border-bottom:#dbdbdb dashed 1px;  margin:10px 0 0 15px; float:left; display:inline; position:relative; line-height:30px; }
.jb_fb_tc_bt h3{ color:#111; font-weight:bold; font-size:14px; float:left; display:block; margin-bottom:3px; background:none; text-indent:0; border:none;  padding:0; width:auto; line-height:30px;}
.jb_fb_tc_bt_a{ color:#3380F4; text-decoration:none; line-height:30px;}
.jb_fb_tc_bt_a:hover{ text-decoration:underline}
.jb_fb_tc_bt .icon_fb_bt{ position:absolute; right:0; top:5px; background:url(/image/icons/icon_x.gif) no-repeat top left; width:16px; height:16px; border:none; float:right}
.jb_fb_tc_tab{ width:564px; padding:15px 20px; color:#999;}
/*
.jb_fb_tc_tab ul{list-style:none outside none;margin:10px}
.jb_fb_tc_tab ul li{ margin-bottom:10px;}
*/
.jb_fb_tc_tab table{ width:100%}
/*tom修改 2010-7-21 jb_fb_tc_tab table td 去除间距 ouou修改*/
.jb_fb_tc_tab table td{vertical-align:top; padding-top:5px; padding-bottom:5px;}
.jb_fb_tc_tab span{ width:60px; color:#666;}
.jb_fb_tc_tab .text_fb_bt{ width:416px; height:18px; padding:3px 8px; font-size:12px; border:#ccc solid 1px;}
.jb_fb_tc_tab label{ color:#000000;}

.center_pop_small {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 12px;
    left: 45%;
    margin-left: -177px !important;
    margin-top: -185px !important;
    padding: 0;
    position: fixed !important;
    top: 50%;
    width: 400px;
    z-index: 999;
}

/*2010-07-07 howard added for OutTimeNotes*/
.notes_sms{width:380px; height:150px;}/*ouou修改*/
.notes_top{width:380px; height:105px;}
.notes_img{width:80px; height:65px; float:left; text-align:center; vertical-align:middle; margin-top:30px; margin-left:10px; display:inline; }
.notes_text{ float:left; width:260px; text-align:center; vertical-align:middle; margin-top:40px;}
.notes_text p{ margin:8px;}
.notes_foot{width:380px; text-align:center; height:40px;}
.notes_button{ background:url(/image/canel.gif) no-repeat scroll left top transparent; width:88px; height:25px; border:medium none; cursor:pointer; font-weight:normal; color:#000;}