@charset "gb2312";
.color_orange, .color_orange a, a.color_orange {
    color: #FF6600;
}
#abouts .column .cont li a{height:35px; display:block; padding-left:60px;}
/*关于我们*/
#abouts{ min-height:450px; height:auto !important; height:450px;padding-left:20px;}
.abouts_left{ background:#f4faff; width:263px; border:1px solid #cae4ff; border-top:0; float:left; margin-right:12px; height:1682px;}
#abouts .column{}
#abouts .column .tit{ border:1px solid #417cce; border-bottom:0; height:34px; line-height:34px; background:url(/image/nav/abouts_bg1.gif) repeat-x;}
#abouts .column .tit h2{ font-size:14px; color:#fff; font-weight:bold; padding-left:30px;}
#abouts .column .cont li{ height:35px; line-height:33px; background:url(/image/nav/abouts_bg2.gif) no-repeat;}
#abouts .column .cont li a{height:35px; display:block;}
#abouts .column .cont li a:hover{ background:url(/image/nav/abouts_bg3.gif) no-repeat;}
.abouts_right{ width:670px; float:left; }
.aboutsTit{height:30px; background:url(/image/nav/user_bg7.gif) repeat-x bottom; }
.aboutsTit li{float:left;  height:26px; line-height:26px; border-bottom:none; padding:0 25px;
background:url(/image/nav/user_bg8.gif) repeat-x; color:#fff; font-weight:bold; font-size:14px; border:1px solid #ff5500; border-bottom:none;}

.ui_tourCnt{ border:1px solid #cae4ff;margin-top:2px;padding:15px 20px;}
.ui_tourCnt h5,.ui_tourCnt h6{font-size:14px;line-height:28px;}
.ui_tourCnt h5{border-bottom:1px dashed #ccc;}
.ui_tourCnt h6{font-weight:normal;}
.ui_tourCnt ol{margin:10px 0;}
.ui_tourCnt ol li,.ui_tourCnt p{line-height:24px;padding-left:15px;}

.ui_tourCnt ul{*display:block;zoom:1;clear:both;overflow:hidden;}
.ui_tourCnt ul li{float:left;_display:inline;width:31%;height:30px; line-height:30px; background:url(/image/nav/help_bg06.gif) no-repeat 0 center; padding-left:12px;}
.ui_tourCnt ul li span{ float:right;}

.gotop{float:right;}