@charset "gb2312";
/* CSS Document */
#header_bg{ background:url(../images/header_bg.gif) repeat-x; height:83px;}
#header{ width:980px; margin:0 auto;}
#header h2{ width:162px; height:83px; display:block; float:left;}
#header dl{ float:right; width:800px; padding-top:19px;}
#header dl dt{ height:19px; background:url(../images/phone.gif) no-repeat right 0; text-indent:-999em; padding-bottom:4px; }
#header dl dd{ text-align:right;}
#header dl dd ul{ float:right; width:620px;margin-top:5px;}
#header dl dd li{ float:left; padding:0 17px; font-size:14px; background:url(../images/fgx.gif) no-repeat right center;}
#header dl dd li a{ color:#4b4b4b;}
#header dl dd li a:hover{ color:#e40808;}
#banner{ background:url(../images/banner.jpg) no-repeat center top; height:315px; text-indent:-9999px;}
.menuBg{ background:url(../images/menu_bg.jpg) no-repeat center top; height:48px; width:100%;}

.proListTop { z-index:150; position:fixed; _position:absolute; top:0;left:0;_top:expression(eval(document.documentElement.scrollTop));width:100%;_width:expression(eval(document.documentElement.clientWidth));}
* html,* html body /* 修正IE6振动bug */{background-image:url(about:blank);background-attachment:fixed;}




.menu{width:980px; height:48px; font-size:16px;  color:#ffdb93; line-height:48px; margin:0 auto; position:relative;font-family:"微软雅黑"; }
.menu .sontshu{ background:url(../images/songshu.png) repeat; width:82px; height:92px; position: absolute; left:0; top:-40px;}
.menu ul{ float:left;padding-left:100px; }
.menu li{ float:left; background:url(../images/menu_fgx.png) no-repeat right; padding-right:8px;}
.menu li a{ padding:0 20px;color:#ffdb93; }
.menu li.first{ background:none; padding:0;}
.menu p{ float:right; font-size:14px;}
.menu p a{color:#ffdb93; background:url(../images/activities_dot.gif) no-repeat 0 2px; margin-left:10px; text-decoration:underline; padding-left:22px;} 




#mainBg{ width:100% ; background:url(../images/bg.jpg) repeat-y center top;}
#main{ width:997px; margin:0 auto; padding:20px 0 10px 0;  }
.footer{color:#fff; padding-bottom:15px; clear:both;}
.footer li{ padding:0 22px; float:left; background:url(../images/footer_fgx.gif) no-repeat right center;}
.footer li a{ color:#5c4012;}
.divBox{margin:0 auto; margin-bottom:20px;  clear:both;}
.divBox_bg_1{width:100%;  background: url(../images/contentBg.png) no-repeat center top; height:606px;}
.divBox_bg_2{width:100%;  background: url(../images/contentBg2.png) no-repeat center top; height:364px;}


.divBox .tit{ text-align:center; height:85px;  color:#752405; position:relative;  }
.divBox .tit h2{ font-size:30px; padding-top:45px; font-weight:bold; font-family:"微软雅黑";}
.divBox .tit span{ width:60px; height:22px; display:block; right:28px; top:50px; position:absolute;}
.divBox .tit span a{  font-size:12px; font-size:"宋体"; color:#752405;  text-decoration:underline;}
.divBox .cont{ padding:0 36px;}
.divBox .cont dl{ width:231px; height:190px; padding:21px 23px 15px 22px; float:left; display:inline; background:url(../images/boxBg.png) no-repeat; margin: 0 16px;}
.divBox .cont dl dt{ width:231px; height:100px;}
.divBox .cont dl dt img{ width:230px; height:100px; display:block;}
.divBox .cont dl dd.s_1{ background:url(../images/tit_bg.gif) repeat-x; height:
46px; line-height:18px; padding:8px 8px 0 8px; }
.divBox .cont dl dd.s_1 a{ color:#4f270a; font-family:Verdana, Geneva, sans-serif;}
.divBox .cont dl dd.s_3{ overflow:hidden; height:30px; line-height:34px;}
.divBox .cont dl dd.s_3 a{ float:right; color:#5aa81d;  }
.divBox .cont dl dd.s_3 p{ color:#ca1212; font-size:20px; font-family:Vani,Verdana, Geneva, sans-serif; padding-top:3px;}
.divBox .cont dl dd.s_3 p em{ font-size:12px; font-weight:normal;}  




.proListTop { z-index:150; position:fixed; _position:absolute; top:0;left:0;_top:expression(eval(document.documentElement.scrollTop));width:100%;_width:expression(eval(document.documentElement.clientWidth));}
* html,* html body /* 修正IE6振动bug */{background-image:url(about:blank);background-attachment:fixed;}


.activity{ background:url(../images/activities.png) no-repeat; height:135px; padding-left:140px; padding-top:25px;}
.activity li{ font-size:14px; height:26px; line-height:26px; color:#813700;}



