/*left*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body{ 
	background:#EBEFF2;
	font-size: 12px; /* font-size: 0.625em;  */
	font-family: ו, Tahoma, Arial, Verdana, Helvetica, sans-serif,;
	color:#000;
	}
table {
	border-collapse: collapse;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
em {
	font-style: normal;
}
ins {
	text-decoration: none;
}
img {
	border: 0;
}
.clear{ clear:both;}
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}
/*left*/
.CenterLeft{ width:200px; height:100%; background:#fff;}
		.box1{background:url(../images/lefttopbg.jpg) repeat-x;position:relative;width:200px;  border:none; height:30px; }
		.box1 .cc{height:30px; }
		.box1 .cc h3{color:#EBF3FE; font-weight:bold; font-size:12px; line-height:30px; padding-left:15px;}
		.box1 .tl {left:0;top:0; background:url(../images/lefttopbg_l.jpg) no-repeat; width:6px; height:30px; position:absolute;}
		.box1 .tr {right:0; _right:-1px; top:0; background:url(../images/lefttopbg_r.jpg) no-repeat; width:6px; height:30px; position:absolute;}
.CenterLeft .LeftContentBox{ border:solid #ddd; border-width:0 1px 1px 1px; width:190px; padding:4px; }
.CenterLeft .LeftContentBox .LeftContent{ border: 1px solid #ddd; width:178px; padding:5px;}	 