BODY {
	FONT-WEIGHT: normal; MARGIN: 0px; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-FAMILY: verdana; LETTER-SPACING: normal; BACKGROUND-COLOR: #ffffff
}
UL LI {
	LIST-STYLE-TYPE: square
}
UL LI LI {
	LIST-STYLE-TYPE: disc
}
UL LI LI LI {
	LIST-STYLE-TYPE: circle
}
OL LI {
	LIST-STYLE-TYPE: decimal
}
OL OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
OL OL OL LI {
	LIST-STYLE-TYPE: lower-roman
}
TD.topbar {
	BACKGROUND-COLOR: #5685bb
}
TD.lanbar {
	BACKGROUND-COLOR: #d7e4f3
}
TD.menbar {
	BACKGROUND-COLOR: #2461b3
}
TABLE.borbg {
	BACKGROUND-COLOR: #c1c1c1
}
TABLE.unicon {
	BACKGROUND-COLOR: #d4d4d4
}
TABLE.reservation {
	FONT-SIZE: 10px; COLOR: #646464; LINE-HEIGHT: 1.8em; FONT-FAMILY: verdana,Arial; LETTER-SPACING: 0em; BACKGROUND-COLOR: #deedff
}
TD.reservation {
	FONT-SIZE: 10px; COLOR: #646464; LINE-HEIGHT: 1.8em; FONT-FAMILY: verdana,Arial; LETTER-SPACING: 0em; BACKGROUND-COLOR: #deedff
}
TABLE.tours {
	BACKGROUND-COLOR: #ffa11d
}
TABLE.toptours {
	BACKGROUND-COLOR: #ffc00d
}
TABLE.brebg {
	BACKGROUND-COLOR: #003785
}
TABLE.artbg {
	PADDING-LEFT: 3px; FONT-SIZE: 10px; COLOR: #7e7e7e; FONT-FAMILY: verdana; BACKGROUND-COLOR: #d3d3d3
}
TD.toptours {
	BACKGROUND-COLOR: #ffc00d
}
TD.artbg {
	PADDING-LEFT: 3px; FONT-SIZE: 10px; COLOR: #7e7e7e; LINE-HEIGHT: 1.4em; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff
}
TD.seccel {
	PADDING-LEFT: 8px; FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; BACKGROUND-COLOR: #fffef3
}
TD.uniconhea {
	PADDING-LEFT: 5px; FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff
}
TD.uniconcel {
	PADDING-LEFT: 5px; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff
}
TD.uniconceldis {
	PADDING-LEFT: 2px; FONT-SIZE: 11px; COLOR: #9b9b9b; FONT-STYLE: normal; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff
}
TD.grayline {
	BACKGROUND-COLOR: #e0e0e0
}
TD.yellowbg {
	BACKGROUND-COLOR: #fff6db
}
TD.botline {
	BACKGROUND-COLOR: #b7d8ff
}
TD.borbg {
	BACKGROUND-COLOR: #ffffff
}
TD.unibor {
	BACKGROUND-COLOR: #d4d4d4
}
TD.unitop {
	BACKGROUND-IMAGE: url(images/unittopline.gif)
}
.savhea {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #ffd011; FONT-FAMILY: verdana
}
.savheaper {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #ffd011; FONT-FAMILY: verdana
}
.savheapac {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ffd011; FONT-FAMILY: arial
}
TD.unihea {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff
}
.smlgryhea {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #464646; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana; LETTER-SPACING: 0em
}
.smlver {
	FONT-SIZE: 10px; COLOR: #2461b3; FONT-FAMILY: verdana
}
.medblk {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana; LETTER-SPACING: 0em
}
.smlgry1 {
	FONT-SIZE: 10px; COLOR: #4b4b4b; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana,Arial; LETTER-SPACING: 0em
}
.biggry1 {
	FONT-SIZE: 11px; COLOR: #4b4b4b; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana,Arial; LETTER-SPACING: 0em
}
.smlgry2 {
	FONT-SIZE: 10px; COLOR: #646464; LINE-HEIGHT: 1.8em; FONT-FAMILY: verdana,Arial; LETTER-SPACING: 0em
}
.smlgry2nospc {
	FONT-SIZE: 10px; COLOR: #646464; LINE-HEIGHT: 1.3em; FONT-FAMILY: verdana,Arial; LETTER-SPACING: 0em
}
.hompakhea {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2461b3; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana; LETTER-SPACING: 0em
}
.bigpakhea {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #2461b3; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana; LETTER-SPACING: 0em
}
.smlpakhea {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2461b3; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana; LETTER-SPACING: 0em
}
.smlheav {
	FONT-SIZE: 11px; COLOR: #2461b3; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana; LETTER-SPACING: 0em
}
.smlblkv {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana; LETTER-SPACING: 0em
}
.smlredhea {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #f40000; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana; LETTER-SPACING: 0em
}
.loguse {
	FONT-SIZE: 11px; COLOR: #003785; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana,Arial; LETTER-SPACING: 0em
}
.menu {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana,Arial; LETTER-SPACING: 0em
}
.menove {
	FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana,Arial; LETTER-SPACING: 0em
}
TD {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 1.6em; FONT-FAMILY: verdana,Arial; LETTER-SPACING: 0em
}
.ahreftext {
	FONT-SIZE: 10px; COLOR: #003785; FONT-FAMILY: verdana,Arial
}
A:link {
	FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A.myacc:link {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A.myacc:visited {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A.myacc:hover {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.myacc:active {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A.tours:link {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.tours:visited {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.tours:hover {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A.tours:active {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.toptours:link {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.toptours:visited {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.toptours:hover {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A.toptours:active {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.menu:link {
	FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.menu:hover {
	FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A.menu:active {
	FONT-SIZE: 11px; COLOR: #003785; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.menove:link {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.menove:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.menove:hover {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A.menove:active {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.styform {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #c2c2c2 1px solid; BORDER-BOTTOM: #c2c2c2 1px solid; FONT-FAMILY: verdana; HEIGHT: 18px
}
.styformnoht {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #c2c2c2 1px solid; BORDER-BOTTOM: #c2c2c2 1px solid; FONT-FAMILY: verdana
}
HR {
	COLOR: #b7d8ff
}
#htlsch {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; BORDER-LEFT: #ffffff 1px solid; MARGIN-RIGHT: 0px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #eaf4ff
}
TABLE.htlsrcfld {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; WIDTH: 324px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial
}
#htlsch TD {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Verdana
}
#htlsch H1 {
	BORDER-RIGHT: red 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: red 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: red 0px solid; COLOR: #283e7a; PADDING-TOP: 0px; BORDER-BOTTOM: red 0px solid; FONT-FAMILY: Verdana, Arial
}
.htlschimg {
	BACKGROUND-COLOR: #eaf4ff
}
#htlsch H6 {
	MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(/image/s/mainhotelimage.jpg); MARGIN-BOTTOM: 0px; MARGIN-LEFT: 49px; WIDTH: 227px; BACKGROUND-REPEAT: repeat-y; HEIGHT: 290px
}
.popup {
	BORDER-RIGHT: #ffc000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ffc000 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 10px; Z-INDEX: 999; VISIBILITY: hidden; PADDING-BOTTOM: 4px; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #ffc000 1px solid; WIDTH: 175px; PADDING-TOP: 4px; BORDER-BOTTOM: #ffc000 1px solid; FONT-STYLE: normal; FONT-FAMILY: verdana,arial; POSITION: absolute; BACKGROUND-COLOR: #fff7d1
}
#htlred TABLE {
	BORDER-RIGHT: #e9eefe 1px solid; BORDER-TOP: #e9eefe 1px solid; FONT-SIZE: 10px; MARGIN-BOTTOM: 15px; MARGIN-LEFT: 0px; BORDER-LEFT: #e9eefe 1px solid; WIDTH: 626px; COLOR: #2a417d; MARGIN-RIGHT: 0px; BORDER-BOTTOM: #e9eefe 1px solid; FONT-FAMILY: verdana,arial; BACKGROUND-COLOR: #f3f3f3
}
#htlred H5 {
	MARGIN: 0px 0px 10px; WIDTH: 626px; TEXT-ALIGN: right
}
#htlred P {
	VERTICAL-ALIGN: baseline
}
#htlred IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#htlred FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#htlred INPUT {
	BORDER-RIGHT: #d6d6d6 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d6d6d6 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d6d6d6 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d6d6d6 0px solid; FONT-FAMILY: Verdana, Arial
}
#htlres TABLE {
	BORDER-RIGHT: #e9eefe 1px solid; BORDER-TOP: #e9eefe 1px solid; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #e9eefe 1px solid; WIDTH: 626px; MARGIN-RIGHT: 0px; BORDER-BOTTOM: #e9eefe 1px solid; FONT-FAMILY: verdana,arial
}
#htlres H1 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; COLOR: #2a417d; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #eaf4ff
}
#htlres H2 {
	PADDING-RIGHT: 2px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 6px; BACKGROUND-COLOR: #eaf4ff
}
#htlres H3 {
	PADDING-RIGHT: 6px; MARGIN-TOP: 0px; PADDING-LEFT: 6px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; WIDTH: 100px; MARGIN-RIGHT: 0px; PADDING-TOP: 8px
}
#htlres H4 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 614px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 3px; BACKGROUND-COLOR: #eaf4ff
}
#htlres H5 {
	PADDING-RIGHT: 2px; MARGIN-TOP: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; COLOR: #696969; LINE-HEIGHT: 14px; MARGIN-RIGHT: 0px; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial; TEXT-ALIGN: left
}
#htlres P {
	PADDING-RIGHT: 6px; MARGIN-TOP: 0px; PADDING-LEFT: 6px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; MARGIN-LEFT: 0px; WIDTH: 500px; LINE-HEIGHT: 15px; PADDING-TOP: 6px; TEXT-ALIGN: justify
}
#srcpram TABLE {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 10px; MARGIN: 10px 3px 6px; VERTICAL-ALIGN: top; BORDER-LEFT: #ffffff 1px solid; WIDTH: 618px; COLOR: #2a417d; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: verdana,arial; BACKGROUND-COLOR: #f3f3f3
}
#htlroom TABLE {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 10px; MARGIN: 10px 3px 6px; VERTICAL-ALIGN: top; BORDER-LEFT: #ffffff 1px solid; WIDTH: 544px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: verdana,arial; BACKGROUND-COLOR: #ffffff
}
#htlroom TH {
	FONT-SIZE: 10px; LEFT: 2px; VERTICAL-ALIGN: middle; FONT-FAMILY: verdana,arial; BACKGROUND-COLOR: #eef2ff
}
#htlroom TD {
	FONT-SIZE: 10px; VERTICAL-ALIGN: middle; FONT-FAMILY: arial; BACKGROUND-COLOR: #f8f6ee; TEXT-ALIGN: center
}
#htlroom A {
	FONT-SIZE: 10px; COLOR: #001381; FONT-FAMILY: verdana,arial; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
#htlroom A:visited {
	FONT-SIZE: 10px; COLOR: #001381; FONT-FAMILY: verdana,arial; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
#htlroom A:active {
	FONT-SIZE: 10px; COLOR: #001381; FONT-FAMILY: verdana,arial; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
#htlroom A:hover {
	FONT-SIZE: 10px; COLOR: #283c79; FONT-FAMILY: verdana,arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#htlwk TABLE {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #ffffff 0px solid; WIDTH: 285px; BORDER-BOTTOM: #ffffff 0px solid
}
#htlwk TD {
	VERTICAL-ALIGN: middle; BACKGROUND-COLOR: #eef2ff; TEXT-ALIGN: center
}
#htlinfo TABLE {
	BORDER-RIGHT: #e9eefe 1px solid; BORDER-TOP: #e9eefe 1px solid; FONT-SIZE: 11px; MARGIN-BOTTOM: 15px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #e9eefe 1px solid; WIDTH: 626px; MARGIN-RIGHT: 0px; BORDER-BOTTOM: #e9eefe 1px solid; FONT-FAMILY: verdana,arial
}
#htlinfo H1 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; COLOR: #2a417d; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #eaf4ff
}
#htlinfo H2 {
	PADDING-RIGHT: 2px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 6px; BACKGROUND-COLOR: #eaf4ff
}
#htlinfo H3 {
	PADDING-RIGHT: 6px; MARGIN-TOP: 0px; PADDING-LEFT: 6px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; WIDTH: 100px; MARGIN-RIGHT: 0px; PADDING-TOP: 8px
}
#htlinfo H4 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 540px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 3px; BACKGROUND-COLOR: #eaf4ff
}
#htlinfo H5 {
	PADDING-RIGHT: 2px; MARGIN-TOP: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 3px; COLOR: #696969; LINE-HEIGHT: 14px; MARGIN-RIGHT: 0px; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial; TEXT-ALIGN: left
}
#htlinfo P {
	PADDING-RIGHT: 6px; MARGIN-TOP: -149px; PADDING-LEFT: 6px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; MARGIN-LEFT: 111px; WIDTH: 511px; LINE-HEIGHT: 15px; PADDING-TOP: 6px
}
#photogal TABLE {
	BORDER-RIGHT: #e9eefe 1px solid; BORDER-TOP: #e9eefe 1px solid; FONT-SIZE: 11px; MARGIN-BOTTOM: 15px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #e9eefe 1px solid; WIDTH: 626px; MARGIN-RIGHT: 0px; BORDER-BOTTOM: #e9eefe 1px solid; FONT-FAMILY: verdana,arial
}
#photogal H1 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; COLOR: #2a417d; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #eaf4ff
}
#photogal H2 {
	PADDING-RIGHT: 2px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 6px; BACKGROUND-COLOR: #eaf4ff
}
#photogal P {
	PADDING-RIGHT: 6px; MARGIN-TOP: 0px; PADDING-LEFT: 6px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; LINE-HEIGHT: 15px; PADDING-TOP: 6px
}
#photos TABLE {
	BORDER-RIGHT: #e9eefe 0px solid; BORDER-TOP: #e9eefe 0px solid; FONT-SIZE: 11px; MARGIN: 0px 0px 0px 10px; VERTICAL-ALIGN: top; BORDER-LEFT: #e9eefe 0px solid; WIDTH: 500px; BORDER-BOTTOM: #e9eefe 0px solid; FONT-FAMILY: verdana,arial
}
#photos IMG {
	BORDER-RIGHT: green 0px solid; BORDER-TOP: green 0px solid; BORDER-LEFT: green 0px solid; BORDER-BOTTOM: green 0px solid
}
#htldtl TABLE {
	BORDER-RIGHT: #e9eefe 1px solid; BORDER-TOP: #e9eefe 1px solid; FONT-SIZE: 11px; MARGIN-BOTTOM: 15px; MARGIN-LEFT: 14px; VERTICAL-ALIGN: top; BORDER-LEFT: #e9eefe 1px solid; WIDTH: 626px; MARGIN-RIGHT: 14px; BORDER-BOTTOM: #e9eefe 1px solid; FONT-FAMILY: verdana,arial; HEIGHT: 25px; TEXT-ALIGN: center
}
.htldtlhl {
	BACKGROUND-POSITION: center bottom; BACKGROUND-IMAGE: url(/image/s/htldtlhl.gif); BACKGROUND-REPEAT: repeat-x
}
.htldtldf {
	BACKGROUND-POSITION: center bottom; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/image/s/htldtldf.gif); COLOR: #0b2873; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: verdana
}
A.htldtl:link {
	FONT-SIZE: 11px; COLOR: #0b2873; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.htldtl:visited {
	FONT-SIZE: 11px; COLOR: #0b2873; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.htldtl:hover {
	FONT-SIZE: 11px; COLOR: #0b2873; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A.htldtl:active {
	FONT-SIZE: 11px; COLOR: #0b2873; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.elelevone {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-COLOR: #f8ffee
}
.elelevtwo {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-COLOR: #fef5ee
}
.elelevthree {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-COLOR: #e6f1ff
}
