<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/expert.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<title>order</title>
</head>

<body >
<div class="main">
    <div class="searchBox">
        <h2 class="conSwitch" id="ConSwitchH_1">搜索条件</h2>
        <div class="searchCon" id="ConSwitchCon_1">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="90">专家姓名：</td><td><input type="text" class="textAll" /></td><td width="65">专家邮箱：</td><td><input type="text" class="textAll" /></td><td width="65">专家手机：</td><td><input type="text" class="textAll" /></td><td width="65">申请级别：</td><td><select  name="" size="1" class="selectText"><option>普通专家</option><option>高级专家</option><option>注册用户</option></select></td>
                </tr>
                <tr>
                    <td>成为专家日期：</td><td colspan="3"><input type="text" class="textTime" /> 至 <input type="text" class="textTime" /></td><td>订单号：</td><td><input type="text" class="textAll" /></td><td>下单人：</td><td><input type="text" class="textAll" /></td>
                </tr>
                <tr>
                    <td colspan="8" class="btnCenter">
                        <button class="btn btnOrange">搜 索</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
 
 
 
    <div>
        <h2 class="conSwitch" id="ConSwitchH_2">搜索结果</h2>

        <div class="minCon" id="ConSwitchCon_2">

            <div>
                <ul class="nav">
                    <li class="selected"><a href="#">所有专家</a></li>
                    <li><a href="#">高级专家</a></li>
                    <li><a href="#">普通专家</a></li>
                </ul>
                  
                  
<table class="expertTable" id="ExpertTable" border="0" cellpadding="0" cellspacing="0">
<tbody>
   <tr>
        <th>姓名</th><th>邮箱</th><th>成为专家日期</th><th>专家级别</th><th>订单数</th><th>佣金总额</th><th>文章数</th><th>回答咨询数</th><th style="padding-left:40px;">操作</th>
    </tr>
    <tr id="Basic_1">
        <td>王小强</td><td>wangxiaoqiang@163.com</td><td>2011-02-05 09:20:00</td><td>普通专家</td><td>10</td><td>$1020.00</td><td>200</td><td>1000</td><td><a href="#" class="showMore">查看详细</a></td>
    </tr>
    
    
    <tr class="trDetail" id="Detail_1">
        <td colspan="9" class="TabselectBg">
        
            <div class="expertInfo">
                <h2>基本信息</h2>
                <table cellspacing="0" cellpadding="0" border="0" class="basicTable">
                   <tr>
                       <td><label>中文姓名：</label>王小强</td> 
                       <td><label>英文名：</label>xiaoqiang.wang</td> 
                       <td><label>邮箱：&nbsp;&nbsp;&nbsp;&nbsp;</label>wangxiaoqiang@gmail.com</td> 
                       <td><label>手机：&nbsp;&nbsp;</label>18985847852</td> 
                       <td><label>其他电话：&nbsp;&nbsp;</label>+86-028-85854525</td> 
                   </tr>
                   <tr>
                       <td><label>专家级别：</label>普通专家</td> 
                       <td><label>订单数：</label>10</td> 
                       <td><label>佣金总额：</label>$1022.00</td> 
                       <td><label>文章数：</label>20</td> 
                       <td><label>回答咨询数：</label>1541</td> 
                   </tr>
                </table>
                
                <h2>行成订单</h2>
                
                <table cellspacing="0" cellpadding="0" border="0" class="route">
                    <tr>
                        <th>订单号</th><th>下单时间</th><th>下单人</th><th>行程</th><th>金额</th><th>获得佣金</th>
                    </tr>
                
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>王小峰</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>156322</td>
                        <td>09/10/2010</td>
                        <td>张磊</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>黎明前</td>
                        <td>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>王小峰</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td colspan="6" align="right">
                            <div class="page">
                                <a class="go first" href=""></a>
                                <a class="go pre" href="">上一页</a>
                                <span>&nbsp;|<a href="">1</a>|<b>2</b>|<a href="">3</a>|<a href=""> ... </a>|<a href="">10</a>|</span>
                                <a class="go next" href="">下一页</a>
                                <a class="go last" href=""></a>
                            </div>
                        </td>
                    </tr>
                </table>
                
                <div class="btnCenter"><button class="btn btnGrey">关闭</button></div>
            </div>
            
        </td>
    </tr>
    
    
    
    <tr id="Basic_2">
        <td>王小强</td><td>wangxiaoqiang@163.com</td><td>2011-02-05 09:20:00</td><td>普通专家</td><td>10</td><td>$1020.00</td><td>200</td><td>1000</td><td><a href="#" class="showMore">查看详细</a></td>
    </tr>
    <tr class="trDetail" id="Detail_2">
        <td colspan="9" class="TabselectBg">
            
            <div class="expertInfo">
                <h2>基本信息</h2>
                <table cellspacing="0" cellpadding="0" border="0" class="basicTable">
                   <tr>
                       <td><label>中文姓名：</label>王小强</td> 
                       <td><label>英文名：</label>xiaoqiang.wang</td> 
                       <td><label>邮箱：&nbsp;&nbsp;&nbsp;&nbsp;</label>wangxiaoqiang@gmail.com</td> 
                       <td><label>手机：&nbsp;&nbsp;</label>18985847852</td> 
                       <td><label>其他电话：&nbsp;&nbsp;</label>+86-028-85854525</td> 
                   </tr>
                   <tr>
                       <td><label>专家级别：</label>普通专家</td> 
                       <td><label>订单数：</label>10</td> 
                       <td><label>佣金总额：</label>$1022.00</td> 
                       <td><label>文章数：</label>20</td> 
                       <td><label>回答咨询数：</label>1541</td> 
                   </tr>
                </table>
                
                <h2>行成订单</h2>
                
                <table cellspacing="0" cellpadding="0" border="0" class="route">
                    <tr>
                        <th>订单号</th><th>下单时间</th><th>下单人</th><th>行程</th><th>金额</th><th>获得佣金</th>
                    </tr>
                
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>王小峰</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>156322</td>
                        <td>09/10/2010</td>
                        <td>张磊</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>黎明前</td>
                        <td>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>王小峰</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td colspan="6" align="right">
                            <div class="page">
                                <a class="go first" href=""></a>
                                <a class="go pre" href="">上一页</a>
                                <span>&nbsp;|<a href="">1</a>|<b>2</b>|<a href="">3</a>|<a href=""> ... </a>|<a href="">10</a>|</span>
                                <a class="go next" href="">下一页</a>
                                <a class="go last" href=""></a>
                            </div>
                        </td>
                    </tr>
                </table>
                
                <div class="btnCenter"><button class="btn btnGrey">关闭</button></div>
            </div>
            
        </td>
    </tr>
    
    <tr id="Basic_3">
        <td>王小强</td><td>wangxiaoqiang@163.com</td><td>2011-02-05 09:20:00</td><td>普通专家</td><td>10</td><td>$1020.00</td><td>200</td><td>1000</td><td><a href="#" class="showMore">查看详细</a></td>
    </tr>
    <tr class="trDetail" id="Detail_3">
        <td colspan="9" class="TabselectBg">
            
           <div class="expertInfo">
                <h2>基本信息</h2>
                <table cellspacing="0" cellpadding="0" border="0" class="basicTable">
                   <tr>
                       <td><label>中文姓名：</label>王小强</td> 
                       <td><label>英文名：</label>xiaoqiang.wang</td> 
                       <td><label>邮箱：&nbsp;&nbsp;&nbsp;&nbsp;</label>wangxiaoqiang@gmail.com</td> 
                       <td><label>手机：&nbsp;&nbsp;</label>18985847852</td> 
                       <td><label>其他电话：&nbsp;&nbsp;</label>+86-028-85854525</td> 
                   </tr>
                   <tr>
                       <td><label>专家级别：</label>普通专家</td> 
                       <td><label>订单数：</label>10</td> 
                       <td><label>佣金总额：</label>$1022.00</td> 
                       <td><label>文章数：</label>20</td> 
                       <td><label>回答咨询数：</label>1541</td> 
                   </tr>
                </table>
                
                <h2>行成订单</h2>
                
                <table cellspacing="0" cellpadding="0" border="0" class="route">
                    <tr>
                        <th>订单号</th><th>下单时间</th><th>下单人</th><th>行程</th><th>金额</th><th>获得佣金</th>
                    </tr>
                
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>王小峰</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>156322</td>
                        <td>09/10/2010</td>
                        <td>张磊</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>黎明前</td>
                        <td>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>王小峰</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td colspan="6" align="right">
                            <div class="page">
                                <a class="go first" href=""></a>
                                <a class="go pre" href="">上一页</a>
                                <span>&nbsp;|<a href="">1</a>|<b>2</b>|<a href="">3</a>|<a href=""> ... </a>|<a href="">10</a>|</span>
                                <a class="go next" href="">下一页</a>
                                <a class="go last" href=""></a>
                            </div>
                        </td>
                    </tr>
                </table>
                
                <div class="btnCenter"><button class="btn btnGrey">关闭</button></div>
            </div>
        
        </td>
    </tr>
    
    <tr id="Basic_4">
        <td>王小强</td><td>wangxiaoqiang@163.com</td><td>2011-02-05 09:20:00</td><td>普通专家</td><td>10</td><td>$1020.00</td><td>200</td><td>1000</td><td><a href="#" class="showMore">查看详细</a></td>
    </tr>
    <tr class="trDetail" id="Detail_4">
        <td colspan="9" class="TabselectBg">
           
           <div class="expertInfo">
                <h2>基本信息</h2>
                <table cellspacing="0" cellpadding="0" border="0" class="basicTable">
                   <tr>
                       <td><label>中文姓名：</label>王小强</td> 
                       <td><label>英文名：</label>xiaoqiang.wang</td> 
                       <td><label>邮箱：&nbsp;&nbsp;&nbsp;&nbsp;</label>wangxiaoqiang@gmail.com</td> 
                       <td><label>手机：&nbsp;&nbsp;</label>18985847852</td> 
                       <td><label>其他电话：&nbsp;&nbsp;</label>+86-028-85854525</td> 
                   </tr>
                   <tr>
                       <td><label>专家级别：</label>普通专家</td> 
                       <td><label>订单数：</label>10</td> 
                       <td><label>佣金总额：</label>$1022.00</td> 
                       <td><label>文章数：</label>20</td> 
                       <td><label>回答咨询数：</label>1541</td> 
                   </tr>
                </table>
                
                <h2>行成订单</h2>
                
                <table cellspacing="0" cellpadding="0" border="0" class="route">
                    <tr>
                        <th>订单号</th><th>下单时间</th><th>下单人</th><th>行程</th><th>金额</th><th>获得佣金</th>
                    </tr>
                
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>王小峰</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>156322</td>
                        <td>09/10/2010</td>
                        <td>张磊</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>黎明前</td>
                        <td>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>王小峰</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td colspan="6" align="right">
                            <div class="page">
                                <a class="go first" href=""></a>
                                <a class="go pre" href="">上一页</a>
                                <span>&nbsp;|<a href="">1</a>|<b>2</b>|<a href="">3</a>|<a href=""> ... </a>|<a href="">10</a>|</span>
                                <a class="go next" href="">下一页</a>
                                <a class="go last" href=""></a>
                            </div>
                        </td>
                    </tr>
                </table>
                
                <div class="btnCenter"><button class="btn btnGrey">关闭</button></div>
            </div>
        
        
        </td>
    </tr>
    
    <tr id="Basic_5">
        <td>王小强</td><td>wangxiaoqiang@163.com</td><td>2011-02-05 09:20:00</td><td>普通专家</td><td>10</td><td>$1020.00</td><td>200</td><td>1000</td><td><a href="#" class="showMore">查看详细</a></td>
    </tr>
    <tr class="trDetail" id="Detail_5">
        <td colspan="9" class="TabselectBg">
           
           <div class="expertInfo">
                <h2>基本信息</h2>
                <table cellspacing="0" cellpadding="0" border="0" class="basicTable">
                   <tr>
                       <td><label>中文姓名：</label>王小强</td> 
                       <td><label>英文名：</label>xiaoqiang.wang</td> 
                       <td><label>邮箱：&nbsp;&nbsp;&nbsp;&nbsp;</label>wangxiaoqiang@gmail.com</td> 
                       <td><label>手机：&nbsp;&nbsp;</label>18985847852</td> 
                       <td><label>其他电话：&nbsp;&nbsp;</label>+86-028-85854525</td> 
                   </tr>
                   <tr>
                       <td><label>专家级别：</label>普通专家</td> 
                       <td><label>订单数：</label>10</td> 
                       <td><label>佣金总额：</label>$1022.00</td> 
                       <td><label>文章数：</label>20</td> 
                       <td><label>回答咨询数：</label>1541</td> 
                   </tr>
                </table>
                
                <h2>行成订单</h2>
                
                <table cellspacing="0" cellpadding="0" border="0" class="route">
                    <tr>
                        <th>订单号</th><th>下单时间</th><th>下单人</th><th>行程</th><th>金额</th><th>获得佣金</th>
                    </tr>
                
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>王小峰</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>156322</td>
                        <td>09/10/2010</td>
                        <td>张磊</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>黎明前</td>
                        <td>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td>17748</td>
                        <td>06/30/2010</td>
                        <td>王小峰</td>
                        <td>
                            <p><a href="">六日旧金山,玻璃桥,世界赌城两晚住大道,绝妙组合超值经济游</a></p>
                            <p><a href="">七日旧金山,世界赌城两晚住大道,玻璃桥全方位超值经济游</a></p>
                        </td>
                        <td>$385.00</td>
                        <td>$38.00</td>
                    </tr>
                    <tr>
                        <td colspan="6" align="right">
                            <div class="page">
                                <a class="go first" href=""></a>
                                <a class="go pre" href="">上一页</a>
                                <span>&nbsp;|<a href="">1</a>|<b>2</b>|<a href="">3</a>|<a href=""> ... </a>|<a href="">10</a>|</span>
                                <a class="go next" href="">下一页</a>
                                <a class="go last" href=""></a>
                            </div>
                        </td>
                    </tr>
                </table>
                
                <div class="btnCenter"><button class="btn btnGrey">关闭</button></div>
            </div>
        
        
        </td>
    </tr>
</tbody>
<tfoot>
<tr>
    <td colspan="9" bgcolor="#f5f5f5">
        <div class="pageNum">每页显示<select><option>20条</option><option>40条</option><option>60条</option></select></div>
        <div class="page">
            <a class="go first" href=""></a>
            <a class="go pre" href="">上一页</a>
            <span>&nbsp;|<a href="">1</a>|<b>2</b>|<a href="">3</a>|<a href=""> ... </a>|<a href="">10</a>|</span>
            <a class="go next" href="">下一页</a>
            <a class="go last" href=""></a>
        </div>
    </td>
</tr>
</tfoot>
</table>
                  
                  

          </div>



        <script type="text/javascript">
        $(function(){
        $("#ExpertTable>tbody>tr:odd").mouseover(function(){$(this).addClass("trHover");}).mouseout(function(){$(this).removeClass("trHover");});
        $("#ExpertTable>tbody>tr").each(function(index) {
            if((index+1)%4 == 0 ){
                $(this).addClass("trEven");
            }
        });

        $("#ExpertTable>tbody>tr:odd").click(function(){
            $("tr[id^='Detail_']").hide();
            
            
            var idName = $(this).attr("id");
            var tempName = idName.substr(idName.indexOf("_"));
            
            if($(this).hasClass("trClick")){
                $("#ExpertTable>tbody>tr:odd").removeClass("trClick");
                $("#ExpertTable>tbody>tr:odd").removeClass("trOut");

                $(this).addClass("trOut");
                $("#Detail"+tempName).hide();
            }else{
                $("#ExpertTable>tbody>tr:odd").removeClass("trOut");
                $("#ExpertTable>tbody>tr:odd").removeClass("trClick");
                $(this).addClass("trClick");
                
                $("#Detail"+tempName).show();
            }
            
            
        });

        });
         


        </script>

        </div>
    </div>
</div>
</body>
</html>
