{:include file="tours-talent-contest/header.tpl.htm":}
<div id="wrap">

  <div class="daren">
    
        <div class="darenTop"><img src="image/daren/daren_top_1.jpg" alt="{:db_to_html text=旅游体验师大赛:}" usemap="#Map" /><map name="Map" id="Map"><area shape="rect" coords="27,6,231,57" href="#" alt="" /></map></div>
        <div class="darenTop"><img src="image/daren/daren_top_2.jpg" alt="{:db_to_html text=旅游体验师大赛:}" /></div>
        <div class="darenTop"><img src="image/daren/daren_top_3.jpg" alt="{:db_to_html text=旅游体验师大赛:}" usemap="#Map2" /><map name="Map2" id="Map2">
    <area shape="rect" coords="401,50,517,93" href="trip_player.php?mod=apply" alt="" />
        </map></div>
        
<div class="darenNav">
            <div class="darenNavLeft"></div>
            <ul>
                <li><a href="trip_player.php">{:db_to_html text=活动首页:}</a></li>
                <li><a href="trip_player.php?mod=list">{:db_to_html text=所有作品:}</a></li>
                <li><a href="trip_player.php?mod=prize">{:db_to_html text=奖项设置:}</a></li>
                 {:if $customer_id > 0:}
				<li><a href="trip_player.php?mod=homepage&id={:$customer_id:}">{:db_to_html text=个人主页:}</a></li>
				{:/if:}
				<li><a href="trip_player.php?mod=finalists"><span>{:db_to_html text=获奖名单:}</span></a></li>
            </ul>
            <div class="share">
                <div class="bshare-custom">
                    <a title="{:db_to_html text=分享到新浪微博:}" class="bshare-sinaminiblog"></a>
                    <a title="{:db_to_html text=分享到开心网:}" class="bshare-kaixin001"></a>
                    <a title="{:db_to_html text=分享到人人网:}" class="bshare-renren"></a>
                    <a title="{:db_to_html text=分享到facebook:}" class="bshare-facebook"></a>
                    <a title="{:db_to_html text=分享到twitter:}" class="bshare-twitter"></a>
                    <a title="{:db_to_html text=分享到qq空间:}" class="bshare-qzone"></a>
                    <a title="{:db_to_html text=更多平台:}" class="bshare-more">{:db_to_html text=更多:}>></a>
                </div>
                <script language="javascript" type="text/javascript" src="http://www.bshare.cn/button.js#uuid=97319&amp;style=-1"></script>
                <script language="javascript" type="text/javascript" src="http://www.bshare.cn/bshareC1.js"></script> 
                {:db_to_html text=分享到：:}
            </div>
            
        
        </div>
		<div class="darenJx">
            <img src="image/daren/daren_jxsz_01.jpg" title="{:db_to_html text=上传发布游记攻略，赢取iPad2，更有机会签约走四方网旅游体验师，免费畅游美国！:}"  alt="{:db_to_html text=上传发布游记攻略，赢取iPad2，更有机会签约走四方网旅游体验师，免费畅游美国！:}"/>
            <img src="image/daren/daren_jxsz_02.jpg" title="{:db_to_html text=【报名条件】:}：
{:db_to_html text=1．走四方网注册用户:}
{:db_to_html text=2．恋字癖，摄影控，乐于旅行分享的达人:}
{:db_to_html text=3．拥有自己的博客(包括但不限于新浪博客、人人网主页、Facebook个人主页) :}

{:db_to_html text=报名参与，上传发布美国、加拿大、欧洲等地区的相关游记攻略到走四方网,同时在个人博客上发布，跟网友分享您的旅途见闻。每篇游记攻略不低于1000字和10张照片。:}" alt="{:db_to_html text=【报名条件】：:}
{:db_to_html text=1．走四方网注册用户:}
{:db_to_html text=2．恋字癖，摄影控，乐于旅行分享的达人:}
{:db_to_html text=3．拥有自己的博客(包括但不限于新浪博客、人人网主页、Facebook个人主页):} 

{:db_to_html text=报名参与，上传发布美国、加拿大、欧洲等地区的相关游记攻略到走四方网,同时在个人博客上发布，跟网友分享您的旅途见闻。每篇游记攻略不低于1000字和10张照片。:}" />
            <img src="image/daren/daren_jxsz_03.jpg" title="{:db_to_html text=【比赛进程】：:}
{:db_to_html text=注册报名---上传发布游记攻略---投票获得入围资格——决赛投票---走四方网签约旅游作者:}
{:db_to_html text=【评审方式】：:}
{:db_to_html text=总票数由参赛选手个人所有作品票数累计产生:}" alt="{:db_to_html text=【比赛进程】：:}
{:db_to_html text=注册报名---上传发布游记攻略---投票获得入围资格——决赛投票---走四方网签约旅游作者:}
{:db_to_html text=【评审方式】：:}
{:db_to_html text=总票数由参赛选手个人所有作品票数累计产生:}" />
            <img src="image/daren/daren_jxsz_04.jpg" alt="{:db_to_html text=【活动时间】：:}
{:db_to_html text=入围阶段：2011年10月12日—2011年11月09日:} {:db_to_html text=(11月10日公布入围名单):}
{:db_to_html text=决赛阶段：2011年11月11日—2011年11月22日（11月23日公布得奖名单）:}
{:db_to_html text=温馨提示：关注“走四方网微博”，加入“走四方网微群”，可即时了解更多相关活动信息和作品。:}" usemap="#Map3" title="【活动时间】：:}
{:db_to_html text=入围阶段：2011年10月12日—2011年11月09日:} {:db_to_html text=(11月10日公布入围名单):}
{:db_to_html text=决赛阶段：2011年11月11日—2011年11月22日:}（11月23日公布得奖名单）:}
{:db_to_html text=温馨提示：关注“走四方网微博”，加入“走四方网微群”，可即时了解更多相关活动信息和作品。:}" />
<map name="Map3" id="Map3"><area shape="rect" coords="144,112,248,136" target="_blank" href="http://weibo.com/usitrip" alt="{:db_to_html text=走四方网微博:}" /><area shape="rect" coords="304,112,405,134" target="_blank" href="http://q.weibo.com/436235" alt="{:db_to_html text=走四方网微群:}" /></map>

	</div>
    <div class="darenBot"></div>
    </div>
        
</div>

 
 
<script type="text/javascript"> 

//指定图片（首页）
jQuery(function(){
if(typeof(bShare)!='undefined'){
bShare.addEntry({
title: "{:db_to_html text=#走四方旅游体验师大赛#:}",
 summary:"{:db_to_html text=正在火热举行中，@走四方网:} {:db_to_html text=微博即可参与，IPAD2大奖等你拿，更有机会免费畅游美国，:}"
})
}
});
</script>

</body>
</html>
