{:include file="tours-talent-contest/header.tpl.htm":}
<div id="wrap">

  <div class="daren">
    
        <div class="darenTop"><img src="image/daren/daren_top_1.jpg" alt="{:db_to_html text=旅游体验师大赛:}" usemap="#Map" /><map name="Map" id="Map"><area shape="rect" coords="27,6,231,57" href="{:$severname:}" alt="" /></map></div>
        <div class="darenTop"><img src="image/daren/daren_top_2.jpg" alt="{:db_to_html text=旅游体验师大赛:}" /></div>
        <div class="darenTop"><img src="image/daren/daren_top_3.jpg" alt="{:db_to_html text=旅游体验师大赛:}" usemap="#Map2" />
		<map name="Map2" id="Map2"><area shape="rect" coords="401,50,517,93" href="trip_player.php?mod=apply" alt="" /></map>
        </map></div>
        
<div class="darenNav">
            <div class="darenNavLeft"></div>
            <ul>
                <li ><a href="trip_player.php">{:db_to_html text=活动首页:}</a></li>
                <li ><a href="trip_player.php?mod=list">{:db_to_html text=所有作品:}</a></li>
                <li><a href="trip_player.php?mod=prize">{:db_to_html text=奖项设置:}</a></li>
                 {:if $customer_id > 0:}
				<li><a href="trip_player.php?mod=homepage&id={:$customer_id:}">{:db_to_html text=个人主页:}</a></li>
				{:/if:}
                <li class="on"><a href="trip_player.php?mod=finalists"><span>{:db_to_html text=获奖名单:}</span></a></li>
            </ul>
            <div class="share">
                <div class="bshare-custom">
                    <a title="{:db_to_html text=分享到新浪微博:}" class="bshare-sinaminiblog"></a>
                    <a title="{:db_to_html text=分享到开心网:}" class="bshare-kaixin001"></a>
                    <a title="{:db_to_html text=分享到人人网:}" class="bshare-renren"></a>
                    <a title="{:db_to_html text=分享到facebook:}" class="bshare-facebook"></a>
                    <a title="{:db_to_html text=分享到twitter:}" class="bshare-twitter"></a>
                    <a title="{:db_to_html text=分享到qq空间:}" class="bshare-qzone"></a>
                    <a title="{:db_to_html text=更多平台:}" class="bshare-more">{:db_to_html text=更多:}>></a>
                </div>
                <script language="javascript" type="text/javascript" src="http://www.bshare.cn/button.js#uuid=97319&amp;style=-1"></script>
                <script language="javascript" type="text/javascript" src="http://www.bshare.cn/bshareC1.js"></script> 
                {:db_to_html text=分享到：:}
            </div>
            
        
        </div>
         <div class="darenHjmd">
        <div class="darenHjmdJx">
        <div class="darenHjmdJxImg"><img src="image/daren/daren_firset.jpg" width="663" height="97" title="{:db_to_html text=一等奖奖品：苹果:}iPad 2 {:db_to_html text=（:}16G WIFI {:db_to_html text=版）:}1{:db_to_html text=台:} + {:db_to_html text=价值$1000的美国境内旅游度假产品:}" alt="{:db_to_html text=一等奖奖品：苹果:}iPad 2 {:db_to_html text=（:}16G {:db_to_html text=WIFI版）:}1{:db_to_html text=台:} + {:db_to_html text=价值$1000的美国境内旅游度假产品:}" /></div>
        <div class="darenHjmdTb">
           <table width="643" border="0" cellpadding="0" cellspacing="0">
		   <tr class="tableHead"><td>{:db_to_html text=作者:}</td><td class="tdL">{:db_to_html text=参赛作品:}</td><td class="tdL">{:db_to_html text=总票数:}</td></tr>
           <tr ><td class=" tdName">the_air</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=68">
		   {:db_to_html text=【新西兰】米佛峡湾公路:} {:db_to_html text=魔幻之路:}</a><br /><a href="http://www.usitrip.com/trip_player.php?mod=view&id=67">{:db_to_html text=【新西兰】米佛峡湾公路:} {:db_to_html text=追随魔戒:} {:db_to_html text=穿越中土密境:}</a></td><td  class="tdL tdAcen">104311</td></tr>
         </table>
         </div>
         <div class="darenHjmdJxBot"><img src="image/daren/daren_hjmd_b.jpg" width="663" height="13" /></div>
        </div>
         <div class="darenHjmdJx">
        <div class="darenHjmdJxImg"><img src="image/daren/daren_secend.jpg" width="663" height="97" title="{:db_to_html text=二等奖奖品：佳能:}{:db_to_html text=（:}Canon{:db_to_html text=）:} IXUS 115 HS {:db_to_html text=数码相机各1台:} + {:db_to_html text=$500的美国境内旅游度假产品:}" alt="{:db_to_html text=二等奖奖品：佳能（Canon）:} IXUS 115 HS {:db_to_html text=数码相机各1台:} + {:db_to_html text=$500的美国境内旅游度假产品:}" /></div>
        <div class="darenHjmdTb">
           <table width="643" border="0" cellpadding="0" cellspacing="0">
		   <tr class="tableHead"><td>{:db_to_html text=作者:}</td><td class="tdL">{:db_to_html text=参赛作品:}</td><td class="tdL">{:db_to_html text=总票数:}</td></tr>
           <tr class="tdBbottom"><td class=" tdName">lexi</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=63">{:db_to_html text=【美国购物】血拼的天堂:}</a><br /><a href="http://www.usitrip.com/trip_player.php?mod=view&id=59">{:db_to_html text=美国住宿】洛杉矶青年旅社，想说爱你不容易:}
</a></td><td  class="tdL tdAcen">51146</td></tr>
        <tr ><td class=" tdName">{:db_to_html text=杨沐春涓:}</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=29">{:db_to_html text=[土耳其]卡帕多奇亚:让人瞠目结舌的怪石堡:}</a><br /><a href="http://www.usitrip.com/trip_player.php?mod=view&id=27">{:db_to_html text=[日本]独家探访：世界首家毛巾美术馆的奇妙艺术:}</a><br /><a href="http://www.usitrip.com/trip_player.php?mod=view&id=49">{:db_to_html text=探访韩国淘宝地仁寺洞，品尝、购买韩国"文化":}</a></td><td  class="tdL tdAcen">315</td></tr>
         </table>
         </div>
         <div class="darenHjmdJxBot"><img src="image/daren/daren_hjmd_b.jpg" width="663" height="13" /></div>
        </div>
        <div class="darenHjmdJx">
        <div class="darenHjmdJxImg"><img src="image/daren/daren_third.jpg" width="663" height="97" title="{:db_to_html text=三等奖奖品：富士拍立得mini25各1台:} + {:db_to_html text=$300的美国境内旅游度假产品:}" alt="{:db_to_html text=三等奖奖品：富士拍立得mini25各1台:} + {:db_to_html text=$300的美国境内旅游度假产品:}" /></div>
        <div class="darenHjmdTb">
           <table width="643" border="0" cellpadding="0" cellspacing="0">
		   <tr class="tableHead"><td>{:db_to_html text=作者:}</td><td class="tdL">{:db_to_html text=参赛作品:}</td><td class="tdL">{:db_to_html text=总票数:}</td></tr>
           <tr class="tdBbottom"><td class=" tdName">{:db_to_html text=i好心情:}</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=47">{:db_to_html text=美国西海岸游记:}</a></td><td  class="tdL tdAcen">161</td></tr>
        <tr ><td class=" tdName">Vanne</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=31">{:db_to_html text=世外桃源之越南大叻:}</a></td><td  class="tdL tdAcen">68</td></tr>
         </table>
         </div>
         <div class="darenHjmdJxBot"><img src="image/daren/daren_hjmd_b.jpg" width="663" height="13" /></div>
        </div>
        <div class="darenHjmdJx">
        <div class="darenHjmdJxImg"><img src="image/daren/daren_four.jpg" width="663" height="97" title="{:db_to_html text=四等奖奖品：苹果iPod:} shuffle {:db_to_html text=MP3各1个:} + {:db_to_html text=价值$200的美国境内旅游度假产品:}" alt="{:db_to_html text=四等奖奖品：苹果iPod:}  shuffle {:db_to_html text=MP3各1个:} + {:db_to_html text=价值$200的美国境内旅游度假产品:}" /></div>
        <div class="darenHjmdTb">
           <table width="643" border="0" cellpadding="0" cellspacing="0">
		   <tr class="tableHead"><td>{:db_to_html text=作者:}</td><td class="tdL">{:db_to_html text=参赛作品:}</td><td class="tdL">{:db_to_html text=总票数:}</td></tr>
           <tr class="tdBbottom"><td class=" tdName">{:db_to_html text=张婧:}</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=70">{:db_to_html text=不可错过的迈阿密"穿越"之旅:}</a></td><td  class="tdL tdAcen">38</td></tr>
        <tr  class="tdBbottom"><td class=" tdName">{:db_to_html text=安布罗希亚:}</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=53">{:db_to_html text=【加拿大】三文鱼的奇妙旅程:}</a></td><td  class="tdL tdAcen">25</td></tr>
        <tr  class="tdBbottom"><td class=" tdName">{:db_to_html text=小在在:}</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=17">{:db_to_html text=美国犹他州黄石公园简游印象:}</a></td><td  class="tdL tdAcen">15</td></tr>
        <tr  class="tdBbottom"><td class=" tdName">{:db_to_html text=天下畅行:}</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=71">{:db_to_html text=激荡心灵之旅:}
</a></td><td  class="tdL tdAcen">14</td></tr>
        <tr ><td class=" tdName">{:db_to_html text=无菇芥末:}</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=65">{:db_to_html text=美国西部:}
</a></td><td  class="tdL tdAcen">12</td></tr>
         </table>
         </div>
         <div class="darenHjmdJxBot"><img src="image/daren/daren_hjmd_b.jpg" width="663" height="13" /></div>
        </div>
        <div class="darenHjmdJx">
        <div class="darenHjmdJxImg"><img src="image/daren/daren_in.jpg" width="663" height="97" title="{:db_to_html text=参与奖奖品：各获得价值$30（约合￥200）的旅游用品:} + {:db_to_html text=价值$50走四方网旅游抵用券1张（满$300-$50）:}" alt="{:db_to_html text=参与奖奖品：各获得价值$30（约合￥200）的旅游用品:} + {:db_to_html text=价值$50走四方网旅游抵用券1张（满$300-$50）:}" /></div>
        <div class="darenHjmdTb">
           <table width="643" border="0" cellpadding="0" cellspacing="0">
		   <tr class="tableHead"><td>{:db_to_html text=作者:}</td><td class="tdL">{:db_to_html text=参赛作品:}</td><td class="tdL">{:db_to_html text=总票数:}</td></tr>
           <tr class="tdBbottom"><td class=" tdName">{:db_to_html text=甜蜜蜜:}</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=54">{:db_to_html text=沃韦－蒙特勒游记:}</a></td><td  class="tdL tdAcen">8</td></tr>
        <tr  class="tdBbottom"><td class=" tdName">{:db_to_html text=周宇:}</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=66">{:db_to_html text=加拿大落基山之冰川冰湖探访之旅:}</a></td><td  class="tdL tdAcen">7</td></tr>
        <tr  class="tdBbottom"><td class=" tdName">{:db_to_html text=晓风:}</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=20">{:db_to_html text=一起走过的日子:}</a></td><td  class="tdL tdAcen">6</td></tr>
        <tr ><td class=" tdName">christina_w</td><td class="tdL tdBT"><a href="http://www.usitrip.com/trip_player.php?mod=view&id=64">{:db_to_html text=christina悠游荡荡法意希:}</a></td><td  class="tdL tdAcen">5</td></tr>
         </table>
         </div>
         <div class="darenHjmdJxBot"><img src="image/daren/daren_hjmd_b.jpg" width="663" height="13" /></div>
        </div>
         </div>
		 <div class="darenBot"></div>
    </div>
        
</div>
<div class="popup" id="PopupSuccess">
<table width="100%" cellpadding="0" cellspacing="0" border="0" class="popupTable">
<tr class="tableHead"><td class="topLeft"></td><td class="side"></td><td class="topRight"></td></tr><tr><td class="side"></td><td class="con">
 
  <div class="popupCon" id="PopupSuccessCon" style="width:400px;">
    <div class="Success">
        <div style="float:left; margin:15px 0 0 20px;"><img src="image/success.jpg" /></div>
        <div style=" margin-left:100px; padding:30px 0; line-height:24px;">{:db_to_html text=投票成功！:}<br />{:db_to_html text=分享到：新浪微博:}</div>
        <div class="btnCenter"><a class="btn btnGrey" href="javascript:;" id="PopupSuccessClose"><button type="button">{:db_to_html text=关闭:}</button></a></div>
    </div>
  
    
  </div>
  
</td><td class="side"></td></tr><tr><td class="botLeft"></td><td class="side"></td><td class="botRight"></td></tr>
</table>
</div>
 
 
<script type="text/javascript"> 
function showSuccess(){
    new Popup('PopupSuccess','PopupSuccessCon','PopupSuccessClose');
}
</script>

</body>
</html>