@charset "utf-8";
body {
    background-color: #333;
}
.lvtu_comment_line {
    background-image: url(../image/lvtu_top_line_b_2.jpg);
    background-repeat: repeat-x;
    height: 10px;
}
.lvtu_pic_image_bg {
    display: block;
    height: 939px;
    background-color: #333;
}
.lvtu_pic_image {
    background-color: #242424;
}
.lvtu_pic_image_detail {
    background-color: #242424;
}
.lvtu_pic_image_load {
    background: url(../image/loading.gif) 50% 50% no-repeat;
}
.lvtu_pic_image_bigpic img {
    font-size: 0;
}
.lvtu_pic_image_prve {
    cursor: pointer;
    left: 0;
    top: 50%;
    background: url(../image/prve.png) 10px 80px no-repeat;
	_background: url(../image/prve.gif) 10px 80px no-repeat;
    width: 100px;
    height: 200px;
    z-index: 999;
}
.lvtu_pic_image_next {
    cursor: pointer;
    right: 0;
    top: 50%;
    background: url(../image/next.png) 70px 80px no-repeat;
	_background: url(../image/next.gif) 70px 80px no-repeat;
    width: 100px;
    height: 200px;
    z-index: 999;
}
.lvtu_pic_image_again {
    cursor: pointer;
    right: 0;
    top: 50%;
    background: url(../image/again.png) 45px 80px no-repeat;
	_background: url(../image/again.gif) 45px 80px no-repeat;
    width: 100px;
    height: 200px;
    z-index: 999;
}
.ui-comment-boxt {
    width: 400px;
    z-index: 5;
}
.J-album-name input {
    width: 220px;
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
    padding: 0 4px;
}
.ui-comment-boxt textarea {
    width: 400px;+
    width: 390px;
    _width: 390px;
    height: 100%;
    _height: 50px;
    border: 1px solid #cacaca;
    background-color: #fff;
    color: #555;
    line-height: 20px;
    padding: 0 4px;
    font-size: 12px;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.ui-comment-bg {
    display: block;
    background-color: #333;
    opacity: .25;
    -ms-filter: "alpha(opacity=25)";
    filter: alpha(opacity=25);
    zoom: 1;
}
.ui-comment-buttom {
    top: 43px;
    right: 0;
}
.lvtu_pic_image_num {
    top: 0;
    width: 100%;
    z-index: 1;
}
.lvtu_pic_image_num a {
    /*background: url(../image/crumb_icon_caption.png) left 2px no-repeat;*/
    width: 100px;
    height: 20px;
    display: block;
    text-align: left;
    /*padding-left: 20px;*/
    margin: 0 auto;
}
.lvtu_pic_comment_tips {
    cursor: pointer;
    bottom: 0;
    z-index: 100;
    background: url(../image/icon_pic_details.png) 0 0 no-repeat;
    _background: url(../image/icon_pic_details.gif) 0 0 no-repeat;
    width: 150px;
    height: 39px;
    _opacity: .6;
    _filter: alpha(opacity=60);
    zoom: 1;
}
.lvtu_pic_comment_tips_hover {
    cursor: pointer;
    bottom: 0;
    z-index: 100;
    background: url(../image/icon_pic_details.png) 0 -45px no-repeat;
    _background: url(../image/icon_pic_details.gif) 0 -45px no-repeat;
    width: 150px;
    height: 39px;
    _opacity: .6;
    _filter: alpha(opacity=60);
    zoom: 1;
}
.J-tips .l {
    background: url(../image/01.gif) 0 0 no-repeat;
    width: 11px;
    height: 11px;
    left: 15px;
    top: 15px;
}
.J-tips .r {
    background: url(../image/01.gif) 0 0 no-repeat;
    width: 11px;
    height: 11px;
    right: 17px;
    top: 15px;
}
.describe {
    background: url(../image/icon_pic_details.png) 0 -311px no-repeat;
	_background: url(../image/icon_pic_details.gif) 0 -311px no-repeat;
    width: 92px;
    height: 34px;
    line-height: 34px;
    left: -102px;
    top: -10px;
}
.describet {
    background: url(../image/icon_pic_details.png) 0 -354px no-repeat;
	_background: url(../image/icon_pic_details.gif) 0 -354px no-repeat;
    width: 226px;
    height: 143px;
    left: -236px;
    top: -76px;
}
.describet p {
    line-height: 19px;
}
.lvtu_pic_shop_triangle {
    background: url(../image/icon_pic_details.png) -95px -323px no-repeat;
    width: 6px;
    height: 9px;
    top: 50%;
    right: 0;
}
.lvtu_pic_shop {
    width: 20px;
    top: 30px;
    right: 10px;
    z-index: 1000;
    color: #fff;
	background-color:#767676;
	padding:5px;
}
.lvtu_pic_shop li {
    width: 20px;
    margin-bottom: 10px;
}
.describe_share {
    padding-left: 10px;
    background: url(../image/icon_pic_frame.png) 0 0 no-repeat;
    width: 174px;
    height: 32px;
    left: -174px;
    top: -6px;
}
.describe_share li {
    float: left;
    margin-right: 5px;
    width: auto;
    margin-bottom: 0;
    margin-top: 6px;
}
.share_title {
    padding: 0;
}
.cover {
    right: 0;
    top: 0;
    cursor: pointer;
    background: url(../image/icon_pic_details_2_1.png) 2px -21px no-repeat;
    _background: url(../image/icon_pic_details_2_1.gif) 2px -21px no-repeat;
    width: 20px;
    height: 20px;
}
.cover_hover {
    right: 0;
    top: 0;
    cursor: pointer;
    background: url(../image/icon_pic_details_2_1.png) -32px -21px no-repeat;
    _background: url(../image/icon_pic_details_2_1.gif) -32px -21px no-repeat;
    width: 20px;
    height: 20px;
}
.edit {
    right: 0;
    top: 0;
    cursor: pointer;
    background: url(../image/icon_pic_details_2_1.png) 0 -75px no-repeat;
    _background: url(../image/icon_pic_details_2.gif) 0 -75px no-repeat;
    width: 32px;
    height: 20px;
}
.edit_hover {
    right: 0;
    top: 0;
    cursor: pointer;
    background: url(../image/icon_pic_details_2_1.png) 0px -94px no-repeat;
    _background: url(../image/icon_pic_details_2.gif) 0px -94px no-repeat;
    width: 32px;
    height: 20px;
}
.lvtu_pic_shop .delete {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -354px -27px no-repeat;
    _background: url(../image/icon_pic_details.gif) -354px -27px no-repeat;
    width: 20px;
    height: 20px;
}
.delete_hover {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -407px -27px no-repeat;
    _background: url(../image/icon_pic_details.gif) -407px -27px no-repeat;
    width: 20px;
    height: 20px;
}
.lvtu_pic_shop .big {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -354px -55px no-repeat;
    _background: url(../image/icon_pic_details.gif) -354px -55px no-repeat;
    width: 20px;
    height: 20px;
}
.big_hover {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -407px -55px no-repeat;
    _background: url(../image/icon_pic_details.gif) -407px -55px no-repeat;
    width: 20px;
    height: 20px;
}
.lvtu_pic_shop .praise {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -354px -84px no-repeat;
    _background: url(../image/icon_pic_details.gif) -354px -84px no-repeat;
    width: 20px;
    height: 20px;
}
.praise_hover {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -407px -84px no-repeat;
    _background: url(../image/icon_pic_details.gif) -407px -84px no-repeat;
    width: 20px;
    height: 20px;
}
.lvtu_pic_shop .comment {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -354px -112px no-repeat;
    _background: url(../image/icon_pic_details.gif) -354px -112px no-repeat;
    width: 20px;
    height: 20px;
}
.comment_hover {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -407px -112px no-repeat;
    _background: url(../image/icon_pic_details.gif) -407px -112px no-repeat;
    width: 20px;
    height: 20px;
}
.lvtu_pic_shop .browse {
    background: url(../image/icon_pic_details.png) -354px -142px no-repeat;
    _background: url(../image/icon_pic_details.gif) -354px -142px no-repeat;
    width: 20px;
    height: 20px;
}
.browse_hover {
    background: url(../image/icon_pic_details.png) -407px -142px no-repeat;
    _background: url(../image/icon_pic_details.gif) -407px -142px no-repeat;
    width: 20px;
    height: 20px;
}
.lvtu_pic_shop .message {
    background: url(../image/icon_pic_details.png) -355px -173px no-repeat;
    _background: url(../image/icon_pic_details.gif) -355px -173px no-repeat;
    width: 20px;
    height: 15px;
}
.message_hover {
    background: url(../image/icon_pic_details.png) -408px -173px no-repeat;
    _background: url(../image/icon_pic_details.gif) -408px -173px no-repeat;
    width: 20px;
    height: 15px;
}
.lvtu_pic_shop .share {
    background: url(../image/icon_bind.png) -179px -27px no-repeat;
    _background: url(../image/icon_bind_share.gif) 0 -27px no-repeat;
    width: 20px;
    height: 20px;
}
.share_hover {
    background: url(../image/icon_bind.png) -179px 0 no-repeat;
    _background: url(../image/icon_bind_share.gif) 0 0 no-repeat;
    width: 20px;
    height: 20px;
}
.share_sina {
    display: block;
    background: url(../image/icon_bind.png) 0 -149px no-repeat;
    width: 20px;
    height: 20px;
}
.share_qqlg {
    display: block;
    background: url(../image/icon_bind.png) 0 -174px no-repeat;
    width: 20px;
    height: 20px;
}
.share_qzone {
    display: block;
    background: url(../image/icon_bind.png) 0 -199px no-repeat;
    width: 20px;
    height: 20px;
}
.share_kaixin {
    display: block;
    width: 80px;
    height: 20px;
    background: url(../image/icon_share.png) 0 -254px no-repeat;
}
.share_renren {
    display: block;
    background: url(../image/icon_bind.png) 0 -224px no-repeat;
    width: 20px;
    height: 20px;
}
.share_douban {
    display: block;
    background: url(../image/icon_bind.png) 0 -249px no-repeat;
    width: 20px;
    height: 20px;
}
.lvtu_special_service {
    width: auto;
    height: 20px;
}
.lvtu_special_service li {
    font-size: 12px;
    float: left;
    cursor: pointer;
    margin-right: 7px;
}
.lvtu_special_service a:link {
    display: block;
    background-color: #fff;
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    zoom: 1;
}
.lvtu_special_service a:hover {
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    zoom: 1;
}
.service_link {
    height: 20px;
    line-height: 18px;
    padding: 0 4px;
    display: inline-block;
    color: #fff;
    background-color: #828381;
    opacity: .7;
    -ms-filter: "alpha(opacity=70)";
    filter: alpha(opacity=70);
    zoom: 1;
}
.service_down {
    height: 20px;
    line-height: 18px;
    padding: 0 4px;
    display: inline-block;
    color: #fff;
    background-color: #de2c28;
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    zoom: 1;
}
.service_dowp {
    padding: 0 4px;
    display: inline-block;
    color: #fff;
    background-color: #701815;
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    zoom: 1;
}
.h20 {
    width: 100px;
    height: 20px;
    display: inline-block;
}
.picRoute {
    /*width: 320px;100px;*/
    height: 20px;
    display: inline-block;
    color: #fff;
    /*background: url(../image/icon_pic_details.png) 0 -202px no-repeat;
	_background: url(../image/icon_pic_details.gif) 0 -202px no-repeat;*/
}
.lvtu_pic_comment_place {
    width: auto;
    bottom: 0;
    _bottom: 0;
    right: 0;
	position:inherit;
}
.lvtu_pic_comment_place .span1 {
    display: inline-block;
}
.lvtu_pic_comment_place .span2 {
    display: inline-block;
}
.ui-comment-place {
    bottom: 0;
    right: 0;
}
.ui-comment-cancel {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -160px 0 no-repeat;
	_background: url(../image/icon_pic_details.gif) -160px 0 no-repeat;
    width: 70px;
    height: 22px;
    border: 0;
}
.ui-comment-confirm {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -244px 0 no-repeat;
	_background: url(../image/icon_pic_details.gif) -244px 0 no-repeat;
    width: 70px;
    height: 22px;
    border: 0;
}
.lvtu_pic_comment {
    width: auto;
    background-color: #fff;
    min-height: 653px;
    height: 653px;
}
.lvtu_pic_comment_up {
    width: 1140px;
    height: 50px;
    border-bottom: 1px #ddd solid;
}
.lvtu_pic_comment_bent {
    width: 1140px;
    background-color: #f6f6f6;
}
.lvtu_pic_comment_tips_b {
    display: block;
    cursor: pointer;
    bottom: -39px;
    z-index: 100;
    background: url(../image/icon_pic_details.png) 0 -96px no-repeat;
    _background: url(../image/icon_pic_details.gif) 0 -96px no-repeat;
    width: 150px;
    height: 39px;
    _opacity: .8;
    _filter: alpha(opacity=80);
    zoom: 1;
}
.lvtu_pic_comment_tips_b_hover {
    display: block;
    cursor: pointer;
    bottom: -39px;
    z-index: 100;
    background: url(../image/icon_pic_details.png) 0 -141px no-repeat;
    _background: url(../image/icon_pic_details.gif) 0 -141px no-repeat;
    width: 150px;
    height: 39px;
    _opacity: .6;
    _filter: alpha(opacity=60);
    zoom: 1;
}
.J-tips_b .l {
    background: url(../image/02.gif) 0 0 no-repeat;
    width: 11px;
    height: 11px;
    left: 15px;
    top: 15px;
}
.J-tips_b .r {
    background: url(../image/02.gif) 0 0 no-repeat;
    width: 11px;
    height: 11px;
    right: 17px;
    top: 15px;
}
.lvtu_pic_comment_box {
    width: 980px;
}
.lvtu_pic_comment_box textarea {
    resize: none;
    width: 958px;
    height: 48px;
    padding: 10px;
    border: 1px solid #CCC;
    background-color: white;
    line-height: 20px;
    font-size: 14px;
    word-wrap: break-word;
}
.comment_btn input {
    background: url(../image/icon_pic_details.png) -160px -32px no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    width: 100px;
    height: 30px;
}
.comment_btn_out input {
    background: url(../image/icon_pic_details.png) -160px -82px no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    width: 100px;
    height: 30px;
}
.comment_btn_down input {
    background: url(../image/icon_pic_details.png) -160px -132px no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    width: 100px;
    height: 30px;
}
.lvtu_pic_comment_restrict {
    height: 30px;
    line-height: 30px;
    display: inline-block;
}
.lvtu_pic_comment_list {
    width: 980px;
}
.lvtu_pic_comment_list li {
    width: 980px;
    border-bottom: 1px dashed #ccc;
    line-height: 35px;
}
.comment_main {
    _height: 50px;
}
.textarea_error {
    left: 0;
    width: 223px;
    bottom: -22px;+
    bottom: -5px;
    _bottom: -7px;
    background-color: #ffffeb;
    border: 1px #fbd5a7 solid;
    height: 20px;
    z-index: 1;
}
.J-textarea {
    min-height: 24px;
    _height: 50px;
}
.picAlbum_fips {
    right: 0;
    top: 0;
    width: 24px;
    height: 27px;
    background: url(../image/icon_pic_details_2_1.png) -1px -43px no-repeat;
	_background: url(../image/icon_pic_details_2_1.gif) -1px -43px no-repeat;
    cursor: pointer;
    z-index: 2;
}
.picAlbum_describe {
    right: 60px;
    top: 0;
    height: 27px;
    line-height: 27px;
}
.J-picAlbum-name input {
    width: 230px;
    border: 0;
    padding-left: 4px;
}
.picAlbum_wp {
    width: 360px;
	cursor:pointer;
}
.picAlbum_border {
    border: 1px solid #CACACA;
    background-color: #fff;
    z-index: 9999;
}
.picAlbum_wp ul {
    width: 258px;
    height: 105px;
    overflow-y: auto;
    top: 27px;
    left: -1px;
    color: #555;
    border: 1px solid #CACACA;
    background-color: #fff;
}
.picAlbum_wp ul li {
    cursor: pointer;
    width: 238px;
    color: #555;
    WORD-WRAP: break-word;
    TABLE-LAYOUT: fixed;
    word-break: break-all;
}
.picAlbum_wp ul li a {
    cursor: pointer;
    width: 234px;
    padding-left: 4px;
    color: #555;
    display: block;
    WORD-WRAP: break-word;
    TABLE-LAYOUT: fixed;
    word-break: break-all;
}
.picAlbum_wp ul li a:hover {
    cursor: pointer;
    background-color: #cacaca;
    color: #555;
    width: 234px;
    padding-left: 4px;
    display: block;
    WORD-WRAP: break-word;
    TABLE-LAYOUT: fixed;
    word-break: break-all;
}
.picst {
    width: 230px;
    height: 27px;
    display: block;
    line-height: 27px;
    padding-left: 4px;
}
.special_caption {
    left: 0;
    top: 0;
    z-index: 2;
}
.special_caption .cartoon {
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.special_caption .special_tips {
    display: inline-block;
    width: 10px;
    height: 30px;
    line-height: 30px;
    background: url(../image/icon_goback.png) right 0 no-repeat;
    _background: url(../image/icon_goback.png) right 0 no-repeat;
}
.crumbNshow .crumbN .dayLabel.first {
    padding-left: 4px;
}
.crumbNshow .crumbN {
    bottom: 0;
    height: 19px;
    left: 0;
    overflow: hidden;
    padding: 5px 0 7px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: url(../image/crump_bg.png) repeat-x;
    _background: #000;
    _filter: alpha(opacity=60);
    zoom: 1;
}
.crumbNshow .crumbN .crumbN_visible {
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.crumbNshow .crumbN .active {
    cursor: pointer;
}
.crumbNshow .crumbN .carousel_previous {
    display: inline-block;
    left: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
}
.crumbNshow .crumbN .carousel_previous, .crumbNshow .crumbN .carousel_next {
    cursor: default;
    height: 42px;
    width: 29px;
    z-index: -1;
}
.crumbNshow .crumbN .viewport {
    height: 42px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.crumbNshow .crumbN .active {
    cursor: pointer;
}
.crumbNshow .crumbN .carousel_next {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}
.crumbNshow .crumbN .active .icon {
    opacity: 1;
}
.crumbNshow .crumbN .carousel_previous .icon, .crumbNshow .crumbN .carousel_next .icon {
    display: none;
    left: 10px;
    opacity: .5;
    position: absolute;
    top: 7px;
    cursor: pointer;
}
.icon.arrow_left {
    background: url("../image/crumb_icon_arrow.png") repeat scroll 0 -104px transparent;
}
.icon.arrow_right {
    background: url(../image/crumb_icon_arrow.png) 0 -157px;
}
.icon.arrow_left, .icon.arrow_left_hover, .crumbNshow .crumbN .carousel_previous.active:hover .icon.arrow_left, .icon.arrow_right, .icon.arrow_right_hover, .crumbNshow .crumbN .carousel_next.active:hover .icon.arrow_right {
    height: 28px;
    width: 12px;
}
.icon {
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
}
.crumbNshow .crumbN .crumbN_inner {
    height: 32px;
    padding: 4px 0;
}
.crumbNshow .crumbN .active {
    background: url("../image/crumb_icon_active.png") no-repeat;
    _background: url("../image/crumb_icon_active.gif") no-repeat;
}
.crumbNshow .crumbN .dayLabel {
    border-left: 1px dotted #333;
    color: #666;
    display: none;
    font-size: 9px;
    height: 19px;
    left: 0;
    padding-left: 3px;
    position: absolute;
    top: -1px;
    width: 50px;
}
.crumbNshow .crumbN ul {
    -moz-box-orient: vertical;
    background: url("../image/crumb_icon.png") repeat-x scroll 0 0 transparent;
    _background: url("../image/crumb_icon.gif") repeat-x scroll 0 0 transparent;
    display: inline-block;
    vertical-align: middle;
}
.crumbNshow .crumbN.hover ul {
    background-position: 0 11px;
}
.crumbNshow .images ul li, .crumbNshow .crumbN_inner ul li {
    float: left;
    position: relative;
}
.crumbNshow .crumbN li {
    height: 36px;
    float: left;
    margin: 0;
    width: 16px;
}
ul, ul.menu, .block ul, ul li, ul.menu li, .item_list ul, .item_list ul li, li.leaf, li.collapsed {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.crumbNshow .crumbN.hover .dotLink.video, .crumbNshow .crumbN.hover .dotLink.active, .crumbNshow .crumbN.hover .dotLink:hover {
    background-position: 0 11px;
}
.crumbNshow .crumbN .dotLink a {
    display: block;
    height: 100%;
    position: relative;
    width: 16px;
}
.crumbNshow .crumbN .dotLink .thumb a {
    display: block;
    height: 100%;
    position: relative;
    width: auto;
}
.crumbNshow .crumbN .dotLink .thumb a:hover {
    background: none;
}
.crumbNshow .crumbN .dotLink a:hover {
    background: url("../image/crumb_icon_hover.png") 0 11px no-repeat;
    _background: url("../image/crumb_icon_hover.gif") 0 11px no-repeat;
}
.crumbNshow .crumbN .dotLink a:hover {
    text_decoration: none;
}
.crumbNshow .crumbN .handle {
    width: 16px;
    height: 36px;
    cursor: pointer;
    display: none;
    left: 4px;
    position: absolute;
    top: 3px;
    z-index: 10;
}
.crumbNshow .crumbN .handle a {
    background: url("../image/crumb_icon_arrow.png") repeat scroll 0 -1184px transparent;
    width: 16px;
    height: 36px;
    display: block;
}
.crumbNshow .crumbN .handle.hover, .crumbNshow .crumbN .handle a:hover {
    background: url(../image/crumb_icon_arrow.png) 0 -1148px;
}
.crumbNshow .crumbN.hover {
    height: 42px;
}
.crumbNshow .crumbN.hover {
    overflow: visible;
}
.crumbNshow .crumbN.hover .carousel_previous .icon, .crumbNshow .crumbN.hover .carousel_next .icon, .crumbNshow .crumbN.hover .dayLabel, .crumbNshow .crumbN.hover .handle {
    display: block;
}
.dotLink .title {
    width: 200px;
    height: 20px;
    color: #fff;
}
.dotLink .thumb {
    background: url("../image/crumb_icon_tooltip.png") repeat-x scroll 0 0 transparent;
    width: 96px;
    height: 73px;
    padding-top: 3px;
}
.thumb_fixed {
    display: block;
    position: fixed;
    _position: absolute;
}
.pop_status {
    width: 540px;
    padding: 20px 25px;
    background-color: #fff;
    border: solid 1px #999;
    position: absolute;
    display: none;
    z-index: 1001;
}
.pop_status .close {
    cursor: pointer;
    width: 25px;
    height: 25px;
    right: 5px;
    top: 5px;
    background: url(../image/new_icon_2.png) -478px -500px no-repeat;
    _background: url(../image/new_icon_2.gif) -478px -500px no-repeat;
}
.pop_status .bottom {
    text-align: right;
    padding: 10px 10px 10px 0;
    background-color: #eee;
}
.bg_mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    zoom: 1;
    display: none;
    z-index: 1000;
}
.btn {
    border: #666 1px solid;
    padding: 2px;
    width: 65px;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff,EndColorStr=#ECE9D8);
}
.travels_comment_list {
    width: 540px;
}
.travels_comment_list li {
    width: 540px;
    border-bottom: 1px dashed #ccc;
    line-height: 24px;
}
.travels_comment_box {
    width: 540px;
}
.travels_comment_box textarea {
    resize: none;
    width: 400px;
    height: 40px;
    padding: 6px;
    border: 1px solid #CCC;
    background-color: white;
    line-height: 20px;
    font-size: 12px;
    word-wrap: break-word;
}
.travels_comment_restrict {
    display: inline-block;
}
.confirm {
    cursor: pointer;
    background: url(../image/icon_pic_details.png) -244px 0 no-repeat;
    width: 70px;
    height: 22px;
    border: 0;
}
.userName a {
    color: #666;
    text-decoration: underline;
}
.userName a:link {
    color: #666;
    text-decoration: underline;
}
.userName a:hover {
    color: #E01E2B;
    text-decoration: underline;
}
ul.token-input-list-picdetail {
    overflow: hidden;
    height: 20px;
    width: 150px;
    border: 1px solid #cacaca;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0 4px;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    color: #555;
}
ul.token-input-list-picdetail li input {
    border: 0;
    width: 130px;
    padding: 0;
    background-color: #fff;
    height: 20px;
    margin: 0;
    -webkit-appearance: caret;
    color: #555;
}
li.token-input-token-picdetail {
    overflow: hidden;
    height: auto !important;
    height: 15px;
    color: #555;
    cursor: default;
    font-size: 11px;
    float: left;
    white-space: nowrap;
}
li.token-input-token-picdetail p {
    display: inline;
    padding: 0;
    margin: 0;
}
li.token-input-token-picdetail span {
    color: #ff8d00;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}
li.token-input-selected-token-picdetail {
    color: #555;
}
li.token-input-input-token-picdetail {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div.token-input-dropdown-picdetail {
    position: absolute;
    width: 158px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 9999;
}
div.token-input-dropdown-picdetail p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
}
div.token-input-dropdown-picdetail ul {
    margin: 0;
    padding: 0;
}
div.token-input-dropdown-picdetail ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}
div.token-input-dropdown-picdetail ul li.token-input-dropdown-item-picdetail {
    background-color: #fff;
}
div.token-input-dropdown-picdetail ul li.token-input-dropdown-item2-picdetail {
    background-color: #fff;
}
div.token-input-dropdown-picdetail ul li em {
    font-weight: bold;
    font-style: normal;
}
div.token-input-dropdown-picdetail ul li.token-input-selected-dropdown-item-picdetail {
    background-color: #cacaca;
    color: #555;
}