@charset "utf-8";
html {
	color:#000;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin:0;
	padding:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
audio, canvas, video {
	display:inline-block;
*display:inline;
*zoom:1;
}
body, button, input, select, textarea {
	font:12px/1.5 tahoma, arial, SimSun, sans-serif, \5b8b\4f53;
}
input, select, textarea {
	font-size:100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
th {
	text-align:inherit;
}
fieldset, img {
	border:0;
}
iframe {
	display:block;
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
textarea {
	resize:none;
}
del {
	text-decoration:line-through;
}
address, caption, cite, code, dfn, em, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup {
	top:-0.5em;
}
sub {
	bottom:-0.25em;
}
ins, a {
	text-decoration:none;
}
.fn-tl {
	text-align:left;
}
.fn-tc {
	text-align:center;
}
.fn-tr {
	text-align:right;
}
.fn-bc {
	margin-left:auto;
	margin-right:auto;
}
.fn-fl {
	float:left;
	display:inline;
}
.fn-fr {
	float:right;
	display:inline;
}
.fn-cb {
	clear:both;
}
.fn-cl {
	clear:left;
}
.fn-cr {
	clear:right;
}
.fn-clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.fn-clearfix {
	display:inline-block;
}
* html .fn-clearfix {
	height:1%;
}
.fn-clearfix {
	display:block;
}
.fn-vm {
	vertical-align:middle;
}
.fn-pr {
	position:relative;
}
.fn-pa {
	position:absolute;
}
.fn-abs-right {
	position:absolute;
	right:0;
}
.fn-zoom {
	zoom:1;
}
.fn-hidden {
	visibility:hidden;
}
.fn-none {
	display:none;
}
.fn-block {
	display:block;
}
.fn-enter {
	WORD-WRAP:break-word;
	TABLE-LAYOUT:fixed;
	word-break:break-all;
}
.fn-omit {
	text-overflow:ellipsis;
	overflow:hidden;
	display:block;
	word-break:keep-all;
	white-space:nowrap;
}
.fn-ohidden {
	overflow:hidden;
}
.fn-oauto {
	overflow:auto;
}
.fn-cursor {
	cursor:pointer;
}
.f12 {
	font-size:12px;
}
.f13 {
	font-size:13px;
}
.f14 {
	font-size:14px;
}
.f16 {
	font-size:16px;
}
.f17 {
	font-size:17px;
}
.f18 {
	font-size:18px;
}
.f20 {
	font-size:20px;
}
.fb {
	font-weight:bold;
}
.fn {
	font-weight:normal;
}
.t2 {
	text-indent:2em;
}
.lh150 {
	line-height:150%;
}
.lh180 {
	line-height:180%;
}
.lh200 {
	line-height:200%;
}
.unl {
	text-decoration:underline;
}
.no_unl {
	text-decoration:none;
}
.font-tahoma {
	font-family:arial, SimSun, sans-serif, \5b8b\4f53;
}
.font-yahei {
	font-family:'微软雅黑', 'YaHei', '黑体', tahoma, arial, SimSun, sans-serif, \5b8b\4f53;
}
.w10 {
	width:10px;
}
.w20 {
	width:20px;
}
.w30 {
	width:30px;
}
.w40 {
	width:40px;
}
.w50 {
	width:50px;
}
.w60 {
	width:60px;
}
.w70 {
	width:70px;
}
.w80 {
	width:80px;
}
.w90 {
	width:90px;
}
.w100 {
	width:100px;
}
.w200 {
	width:200px;
}
.w300 {
	width:300px;
}
.w400 {
	width:400px;
}
.w500 {
	width:500px;
}
.w600 {
	width:600px;
}
.w700 {
	width:700px;
}
.w800 {
	width:800px;
}
.w980 {
	width:980px;
}
.w {
	width:100%;
}
.h50 {
	height:50px;
}
.h80 {
	height:80px;
}
.h100 {
	height:100px;
}
.h200 {
	height:200px;
}
.h {
	height:100%;
}
.m10 {
	margin:10px;
}
.m15 {
	margin:15px;
}
.m30 {
	margin:30px;
}
.mt5 {
	margin-top:5px;
}
.mt10 {
	margin-top:10px;
}
.mt15 {
	margin-top:15px;
}
.mt20 {
	margin-top:20px;
}
.mt30 {
	margin-top:30px;
}
.mt50 {
	margin-top:50px;
}
.mt100 {
	margin-top:100px;
}
.mb5 {
	margin-bottom:5px;
}
.mb10 {
	margin-bottom:10px;
}
.mb15 {
	margin-bottom:15px;
}
.mb20 {
	margin-bottom:20px;
}
.mb30 {
	margin-bottom:30px;
}
.mb50 {
	margin-bottom:50px;
}
.mb100 {
	margin-bottom:100px;
}
.ml5 {
	margin-left:5px;
}
.ml10 {
	margin-left:10px;
}
.ml15 {
	margin-left:15px;
}
.ml20 {
	margin-left:20px;
}
.ml30 {
	margin-left:30px;
}
.ml50 {
	margin-left:50px;
}
.ml100 {
	margin-left:100px;
}
.mr5 {
	margin-right:5px;
}
.mr10 {
	margin-right:10px;
}
.mr15 {
	margin-right:15px;
}
.mr20 {
	margin-right:20px;
}
.mr30 {
	margin-right:30px;
}
.mr50 {
	margin-right:50px;
}
.mr100 {
	margin-right:100px;
}
.p10 {
	padding:10px;
}
.p15 {
	padding:15px;
}
.pt3 {
	padding-top:3px;
}
.pt4 {
	padding-top:4px;
}
.pt5 {
	padding-top:5px;
}
.pt6 {
	padding-top:6px;
}
.pt7 {
	padding-top:7px;
}
.pt8 {
	padding-top:8px;
}
.pt9 {
	padding-top:9px;
}
.pt10 {
	padding-top:10px;
}
.pt15 {
	padding-top:15px;
}
.pt20 {
	padding-top:20px;
}
.pt30 {
	padding-top:30px;
}
.pt50 {
	padding-top:50px;
}
.pt100 {
	padding-top:100px;
}
.pb5 {
	padding-bottom:5px;
}
.pb10 {
	padding-bottom:10px;
}
.pb15 {
	padding-bottom:15px;
}
.pb20 {
	padding-bottom:20px;
}
.pb30 {
	padding-bottom:30px;
}
.pb50 {
	padding-bottom:50px;
}
.pb100 {
	padding-bottom:100px;
}
.pl5 {
	padding-left:5px;
}
.pl10 {
	padding-left:10px;
}
.pl15 {
	padding-left:15px;
}
.pl20 {
	padding-left:20px;
}
.pl30 {
	padding-left:30px;
}
.pl50 {
	padding-left:50px;
}
.pl100 {
	padding-left:100px;
}
.pr5 {
	padding-right:5px;
}
.pr10 {
	padding-right:10px;
}
.pr15 {
	padding-right:15px;
}
.pr20 {
	padding-right:20px;
}
.pr30 {
	padding-right:30px;
}
.pr50 {
	padding-right:50px;
}
.pr100 {
	padding-right:100px;
}
.red {
	color:#de2c28;
}
.red a {
	color:#de2c28;
}
.white {
	color:#fff;
}
.white a {
	color:#fff;
}
.whitef4 {
	color:#f4f4f4;
}
.whitef4 a {
	color:#f4f4f4;
}
.black {
	color:#000;
}
.black a {
	color:#000;
}
.gray {
	color:#ccc;
}
.gray a {
	color:#ccc;
}
.gray_d4 {
	color:#d4d4d4;
}
.gray_d4 a {
	color:#d4d4d4;
}
.gray_d1 {
	color:#d1d1d1;
}
.gray_d1 a {
	color:#d1d1d1;
}
.darkgray {
	color:#555;
}
.darkgray a {
	color:#555;
}
.darkgray999 {
	color:#999;
}
.darkgray999 a {
	color:#999;
}
.darkgray666 {
	color:#666;
}
.darkgray666 a {
	color:#666;
}
.darkgray111 {
	color:#111;
}
.darkgray111 a {
	color:#111;
}
.darkgray333 {
	color:#333;
}
.darkgray333 a {
	color:#333;
}
.orange {
	color:#f60;
}
.orange a {
	color:#f60;
}
.blue {
	color:#56c2cf;
}
.blue a {
	color:#56c2cf;
}
.deongaree {
	color:#0069ca;
}
.deongaree a {
	color:#0069ca;
}
.yellow {
	color:#fff000;
}
.yellow a {
	color:#fff000;
}
.wheat {
	color:#9b8347;
}
.wheat a {
	color:#9b8347;
}
.bbb {
	color:#bbb;
}
.bbb a {
	color:#bbb;
}
.border {
	border:1px solid #555;
}
.border-line {
	border:1px solid #ccc;
	background-color:#ededed;
}
.border-linec {
	border:1px solid #161616;
	background-color:#161616;
}
.border-white {
	border:1px solid #fff;
	background-color:#161616;
}
.border-black {
	border:1px solid #000;
}
.border-yellow {
	border:1px solid #f90;
}
.border-gray {
	border:1px solid #ccc;
}
.border-ts {
	border-top:1px solid #c4edeb;
}
.border-bs {
	border-bottom:1px solid #c4edeb;
}
.border-bd-gray {
	border-bottom:1px dashed #ccc;
}
.border-bs-gray {
	border-bottom:1px solid #ccc;
}
.border-bs-wheat {
	border-bottom:1px solid #5e5a34;
}
@charset "utf-8";
.ui-comment {
	width:980px;
}
.ui-comment dl {
	border-bottom:1px dashed #808080;
	padding:10px 0;
}
.ui-comment dt {
	width:70px;
	height:70px;
}
.ui-comment dd {
	width:900px;
}
.ui-comment dd span {
	top:0;
	right:0;
	display:inline-table;
}
.ui-comment-publish {
	border-top:1px solid #c3c3c3;
}
.ui-comment-publish dl {
	border-bottom:1px dashed #c3c3c3;
	padding:10px 0;
}
.ui-comment-publish dt {
	width:70px;
	height:100%;
}
.ui-comment-publish dd {
	width:900px;
}
.ui-comment-publish dd span {
	top:0;
	right:0;
}
.ui-comment-input-button {
	background:url(../image/lvtu_home_icon_1.png) -279px -77px no-repeat;
	border-style:solid;
	border-width:0;
	color:#fff;
	cursor:pointer;
	font-size:12px;
	width:110px;
	height:30px;
	padding:2px 15px;
	text-align:center;
	line-height:16px;
}
.ui-comment-box textarea {
	width:890px;
	height:80px;
	border:1px solid #ccc;
	background-color:#fff;
	line-height:20px;
	padding:0 4px;
	font-size:14px;
	word-wrap:break-word;
}
.ui-comment-focus {
	border:1px solid #5D74A2;
	height:20px;
	overflow:hidden;
	overflow-y:auto;
}
.ui-comment-box p {
	padding-top:3px;
}
.ui-comment-box p input {
	float:right;
}
.ui-comment-box p span {
	color:#ccc;
	font-size:12px;
	line-height:25px;
	padding-left:5px;
}
.ui-comment-come2 {
	background:url(../image/icon_sm.png) -2px -108px no-repeat;
	width:16px;
	height:16px;
}
.ui-comment-come3 {
	background:url(../image/icon_sm.png) -2px -158px no-repeat;
	width:16px;
	height:16px;
}
.ui-comment-come4 {
	background:url(../image/icon_sm.png) -2px -203px no-repeat;
	width:16px;
	height:16px;
}
.ui-comment-eredar {
	background:url("../image/ui-icon-person.png") no-repeat scroll -40px -97px transparent;
	display:block;
	height:17px;
	width:21px;
}
.ui-comment-imgTip {
	text-indent:40px;
	width:128px;
	position:absolute;
	display:none;
	z-index:101;
	background-image:url(../image/m_loading.gif);
	background-repeat:no-repeat;
	height:32px;
	line-height:32px;
	background-color:#fff;
}
.ui-comment-mask {
	width:100%;
	height:100%;
	background-color:#000;
	position:absolute;
	top:0;
	left:0;
	opacity:.3;
	-ms-filter:"alpha(opacity=30)";
	filter:alpha(opacity=30);
	zoom:1;
	display:none;
	z-index:100;
}
.ui-userSidebar-border {
	height:auto;
}
.ui-userSidebar-information {
	padding:10px;
}
.ui-userSidebar-information p {
	margin-top:10px;
}
.ui-userSidebar-portrait {
	width:70px;
	height:70px;
	float:left;
	margin-right:10px;
}
.ui-userSidebar-female {
	background:url(../image/ui-icon-person.png) left -95px no-repeat;
	width:16px;
	height:21px;
	display:block;
	float:left;
	margin-right:3px;
}
.ui-userSidebar-male {
	background:url(../image/ui-icon-person.png) -17px -95px no-repeat;
	width:21px;
	height:21px;
	display:block;
	float:left;
	margin-right:3px;
}
.ui-userSidebar-eredar {
	background:url(../image/ui-icon-person.png) -40px -97px no-repeat;
	width:21px;
	height:21px;
	display:block;
	float:left;
}
.ui-userSidebar-fineDetail ul {
	margin:8px;
	padding-bottom:8px;
	border-bottom:1px dashed #999;
	clear:both;
}
.ui-userSidebar-fineDetail ul li {
	line-height:24px;
	float:left;
	margin:0 8px;
	_margin:0 4px;
	text-align:center;
	width:60px;
}
@charset "utf-8";
body {
	background-color:#fff;
}
.wrapper {
	width:1140px;
}
.lvtu_addtravels {
	cursor:pointer;
	background:url(../image/lvtu_addtravels.jpg) 0 0 no-repeat;
	width:105px;
	height:30px;
	margin-top:20px;
}
.lvtu_addtravels_hover {
	cursor:pointer;
	background:url(../image/lvtu_addtravels_hover.jpg) 0 0 no-repeat;
	width:105px;
	height:30px;
	margin-top:20px;
}
.lvtu_container {
	width:auto;
}
.lvtu_lineBetween {
	background:url(../image/lvtu_footer_line_1.png) no-repeat;
	height:18px;
	width:960px;
}
.webwidget_menu_glide {
	position:relative;
}
.webwidget_menu_glide .webwidget_menu_glide_sprite {
	width:120px;
	height:36px;
	background:url(../image/lvtu_nav_2_2_2.gif) no-repeat;
	position:absolute;
}
.webwidget_menu_glide ul {
	padding:0;
	margin:0;
}
.webwidget_menu_glide ul li {
	float:left;
	list-style:none;
	position:relative;
	text-align:center;
	width:120px;
}
.webwidget_menu_glide ul li a {
	text-decoration:none;
	font-weight:bold;
}
.webwidget_menu_glide ul li ul {
	padding-bottom:5px;
	position:absolute;
	z-index:999999;
	display:none;
}
.webwidget_menu_glide ul li ul li {
	margin:0;
	float:none;
	border:none;
	word-wrap:break-word;
}
.webwidget_menu_glide ul li ul li a {
	padding-left:5px;
	padding-right:5px;
	font-weight:normal;
}
.current {
	color:#ffd800;
}
.current a {
	color:#ffd800;
}
.qn_header {
	margin:0 auto;
	height:30px;
	background:url(../image/lvtu_top_line_2_2_2.jpg) #242424 repeat-x;
}
.qn_nav_indexNav {
	position:absolute;
	left:0;
	top:0;
	background:url(../image/lvtu_home_top.png) -1px 3px no-repeat;
}
.qn_nav_indexNav ul li {
	float:left;
	margin:0 10px;
}
.qn_footer {
	background-color:#161616;
}
.lvtu_nav_bg {
	background:url(../image/lvtu_top_line_2_2_2b.jpg) #161616 repeat-x;
	height:61px;
}
.qn_nav {
	background:url(../image/lvtu_top_line_2_2_2.jpg) #242424 repeat-x;
	height:30px;
	line-height:30px;
}
.inner {
	position:relative;
}
.qn_nav_login {
	right:0;
	top:0;
}
.lvtu_nav {
	margin:0 auto;
	height:61px;
	background:url(../image/lvtu_top_line_2_2_2b.jpg) #161616 repeat-x;
	z-index:9999;
}
.lvtu_logo {
	width:162px;
	height:61px;
}
.lvtu_top_line_b {
	background-image:url(../image/lvtu_top_line_b_2.jpg);
	background-repeat:repeat-x;
	height:10px;
}
.lvtu_nav_list {
	left:262px;
	top:25px;
}
.lvtu_home_nav {
	width:480px;
	height:36px;
	font:15px/1.5 '微软雅黑', 'YaHei', SimSun;
}
.lvtu_home_nav ul li {
	float:left;
	width:120px;
}
.lvtu_tag {
	background:url(../image/lvtu_home_icon_2_2.png) -2px -66px no-repeat;
	width:85px;
	height:3px;
	top:30px;
	left:17px;
}
.lvtu_tag_hover {
	background:url(../image/lvtu_home_icon_2_2.png) -2px -66px no-repeat;
	width:85px;
	height:3px;
	top:30px;
	left:17px;
}
.lvtu_ad {
	top:-7px;
	right:15px;
	width:23px;
	height:12px;
	background:url(../image/lvtu_home_top.png) -1px -38px no-repeat;
}
.lvtu_info_u {
	background:url(../image/lvtu_home_icon_2_2.png) -2px -310px no-repeat;
	width:16px;
	height:16px;
}
.lvtu_info_m {
	background:url(../image/lvtu_home_icon_2_2.png) -24px -310px no-repeat;
	width:16px;
	height:16px;
}
.lvtu_info_i {
	background:url(../image/lvtu_home_icon_2_2.png) -49px -310px no-repeat;
	width:16px;
	height:16px;
}
.person_list {
	width:120px;
	top:31px;
	left:0;
	background-color:#161616;
	position:absolute;
}
.person_list p {
	width:120px;
	height:25px;
	margin:0;
	float:left;
	border:none;
	word-wrap:break-word;
	color:#fff;
	font-size:12px;
	line-height:25px;
	cursor:pointer;
}
.person_current {
	background-color:#555;
}
.person_hover {
	background-color:#555;
}
.lvtu_address {
	_margin-bottom:10px;
}
.lvtu_user {
	height:18px;
}
.lvtu_scenery {
	padding-left:13px;
	width:auto;
	background:url(../image/lvtu_home_icon_2_2.png) -2px -223px no-repeat;
}
.lvtu_comment {
	padding-left:13px;
	width:auto;
	background:url(../image/lvtu_home_icon_2_2.png) -193px -225px no-repeat;
	_background:url(../image/lvtu_home_icon_2_2.png) -193px -223px no-repeat;
}
.lvtu_approve {
	padding-left:13px;
	width:auto;
	background:url(../image/lvtu_home_icon_2_2.png) -277px -225px no-repeat;
	_background:url(../image/lvtu_home_icon_2_2.png) -277px -223px no-repeat;
}
.lvtu_dbo_ad {
	background:url(../image/lvtu_icon_gif_2.gif) no-repeat -2px -2px;
	left:-7px;
	top:0;
	width:62px;
	height:40px;
	z-index:100;
}
.lvtu_activity_ad {
	background:url(../image/lvtu_icon_gif_2.gif) -2px -45px no-repeat;
	left:-6px;
	top:0;
	width:76px;
	height:25px;
}
.lvtu_activity_pm {
	right:5px;
	bottom:100px;
	height:30px;
	line-height:30px;
	background-color:#000;
	opacity:.8;
	-ms-filter:"alpha(opacity=80)";
	filter:alpha(opacity=80);
	zoom:1;
}
.lvtu_activity_msg {
	right:5px;
	bottom:45px;
	height:30px;
	line-height:30px;
	background-color:#000;
	opacity:.8;
	-ms-filter:"alpha(opacity=80)";
	filter:alpha(opacity=80);
	zoom:1;
}
.lvtu_main {
	margin:0 3% auto 3%;
	height:800px;
}
#banner {
	position:relative;
	width:270px;
	height:435px;
	overflow:hidden;
}
#banner_list {
	height:405px;
}
#banner_list img {
	border:0;
	width:270px;
	height:405px;
}
#banner_bg {
	position:absolute;
	left:20px;
	top:50px;
	background-color:#000;
	height:30px;
	filter:Alpha(Opacity=80);
	opacity:.8;
	z-index:1000;
	cursor:pointer;
	width:300px;
}
#banner_info {
	position:absolute;
	left:20px;
	top:50px;
	color:#fff;
	background-color:#000;
	height:30px;
	line-height:30px;
	filter:Alpha(Opacity=80);
	opacity:.8;
	z-index:1001;
	cursor:pointer;
}
#banner_text {
	position:absolute;
	width:120px;
	z-index:1002;
	right:3px;
	bottom:3px;
}
.pic_ad span.on {
	background:url(../image/lvtu_home_icon_2_2.png) no-repeat -2px -444px;
	_background:url(../image/lvtu_icon_gif_2.gif) no-repeat -2px -83px;
	width:11px;
	height:11px;
}
.pic_ad {
	bottom:40px;
	right:0;
	z-index:1002;
}
.pic_ad span {
	text-indent:-9999px;
	padding:0 5px;
	float:left;
	display:block;
	color:#FFF;
	cursor:pointer;
	background:url(../image/lvtu_home_icon_2_2.png) no-repeat -22px -444px;
	_background:url(../image/lvtu_icon_gif_2.gif) no-repeat -22px -83px;
	width:11px;
	height:11px;
}
#banner_list a {
	position:absolute;
}
.lvtu_sight_title {
	height:30px;
	line-height:30px;
	background:url(../image/lvtu_home_icon_2_2.png) no-repeat -2px -2px;
	padding-left:35px;
}
.lvtu_sight_sidebar {
	background-color:#ededed;
}
.lvtu_sight_scenery {
	height:30px;
	line-height:30px;
	background:url(../image/lvtu_home_icon_2_2.png) 4px -246px no-repeat #88681a;
}
#limittext {
	z-index:10;
}
#limittext a {
	color:#333;
	float:right;
}
.lvtu_actibity_recommend {
	background-color:#ededed;
}
.lvtu_activityList_main {
	width:990px;
}
.lvtu_activityList_main ul li {
	float:left;
	width:300px;
	height:490px;
	margin:10px 13px 0;
	_margin:10px 12px 0;
}
.lvtu_dbo_ad_on {
	background:url(../image/lvtu_home_icon_2_2.png) -70px -130px no-repeat;
	left:-8px;
	top:0;
	width:82px;
	height:40px;
	z-index:100;
}
.lvtu_dbo_ad_over {
	background:url(../image/lvtu_home_icon_2_2.png) -163px -130px no-repeat;
	left:-7px;
	top:0;
	width:82px;
	height:40px;
	z-index:100;
}
.lvtu_activityList_scenery {
	padding-left:13px;
	width:auto;
	background:url(../image/lvtu_home_icon_2_2.png) no-repeat -2px -203px;
}
.lvtu_activityList_comment {
	padding-left:13px;
	width:auto;
	background:url(../image/lvtu_home_icon_2_2.png) -193px -203px no-repeat;
}
.lvtu_activityList_approve {
	padding-left:13px;
	width:auto;
	background:url(../image/lvtu_home_icon_2_2.png) -276px -203px no-repeat;
}
.cbb477 {
	color:#cbb477;
}
.cbb477 a {
	color:#cbb477;
}
.lvtu_activity_slider_title {
	right:20px;
	top:20px;
	background-color:#000;
	opacity:.7;
	-ms-filter:"alpha(opacity=70)";
	filter:alpha(opacity=70);
	zoom:1;
	z-index:1000;
}
.lvtu_activity_slider_time {
	right:30px;
	top:65px;
}
.lvtu_activity_slider_pm {
	right:30px;
	top:90px;
}
.lvtu_activity_slider_recommend {
	right:30px;
	top:120px;
	width:360px;
}
#slider_ad {
	width:auto;
}
.mb-scroll ul {
	width:auto;
	height:280px;
	overflow:hidden;
}
.mb-scroll ul li {
	width:600px;
	float:left;
	height:280px;
	position:relative;
}
.activity_bg {
	width:600px;
	height:280px;
	background-color:#000;
	opacity:.8;
	-ms-filter:"alpha(opacity=80)";
	filter:alpha(opacity=80);
	zoom:1;
}
.activity_li_bg {
	width:280px;
	background-color:#000;
	bottom:39px;
	left:0;
	color:#d4d4d4;
	opacity:.6;
	-ms-filter:"alpha(opacity=60)";
	filter:alpha(opacity=60);
	zoom:1;
}
.lvtu_actibity_ad_title {
	left:20px;
	top:50px;
	line-height:30px;
	background-color:#000;
	opacity:.8;
	-ms-filter:"alpha(opacity=80)";
	filter:alpha(opacity=80);
	zoom:1;
}
#movingboxes {
	width:900px;
	min-height:200px;
}
#movingboxes>li {
	width:350px;
}
.mb-wrapper {
	margin:0 auto;
	position:relative;
	left:0;
	top:0;
}
.mb-slider, .mb-scroll {
	width:100%;
	height:290px;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	position:relative;
	left:0;
	top:0;
	font-size:18px;
}
.mb-slider .mb-panel {
	margin:0;
	padding:5px;
	display:block;
	cursor:pointer;
	float:left;
	list-style:none;
	position:relative;
}
.mb-slider .mb-panel.current {
	cursor:auto;
}
.mb-inside {
	width:600px;
	height:280px;
}
.mb-inside * {
	max-width:100%;
}
a.mb-scrollButtons {
	display:block;
	width:60px;
	height:90px;
	background:transparent url(../image/activity_lr.png) no-repeat;
	position:absolute;
	top:135px;
	margin-top:-29px;
	cursor:pointer;
	text-decoration:none;
	outline:0;
	border:0;
}
a.mb-scrollButtons.mb-left {
	background-position:-2px -2px;
	left:-10px;
	z-index:10;
}
a.mb-scrollButtons.mb-right {
	background-position:right -2px;
	right:-10px;
	z-index:10;
}
a.mb-scrollButtons.disabled {
	display:none;
}
.mb-controls {
	margin:0 auto;
	text-align:center;
	position:relative;
	z-index:100;
}
.mb-controls a {
	color:#444;
	font:12px Georgia, Serif;
	display:inline-block;
	text-decoration:none;
	padding:2px;
	height:18px;
	margin:0 5px 0 0;
	text-align:center;
	outline:0;
}
.mb-controls a.current, .mb-controls a:hover {
	color:#FFD800;
}
.lvtu_personal_route {
	margin-bottom:10px;
}
.lvtu_personal_person {
	width:250px;
	background-color:#ededed;
}
.lvtu_personal_person_r {
	width:120px;
}
.lvtu_personal_person_r_dr {
	width:160px;
}
.lvtu_personal_attention_add {
	margin:8px 0;
	background:url(../image/lvtu_home_icon_gz_2.png) -116px -40px no-repeat;
	width:120px;
	height:30px;
	display:block;
}
.lvtu_personal_attention_add a {
	display:block;
	text-indent:-9999px;
	width:120px;
	height:30px;
}
.lvtu_personal_attention_add a:hover {
	display:block;
	text-indent:-9999px;
	background:url(../image/lvtu_home_icon_gz_2.png) -116px -40px no-repeat;
	width:120px;
	height:30px;
}
.lvtu_personal_attention_cancel {
	margin:8px 0;
	background:url(../image/lvtu_home_icon_gz_2.png) -116px -76px no-repeat;
	width:120px;
	height:30px;
	display:block;
}
.lvtu_personal_attention_cancel a {
	display:block;
	text-indent:-9999px;
	width:120px;
	height:30px;
}
.lvtu_personal_attention_cancel a:hover {
	display:block;
	text-indent:-9999px;
	background:url(../image/lvtu_home_icon_gz_2.png) -116px -76px no-repeat;
}
.lvtu_personal_user_female {
	background:url(../image/ui-icon-person.png) left -95px no-repeat;
	width:16px;
	height:21px;
	display:block;
	margin-left:0;
}
.lvtu_personal_user_male {
	background:url(../image/ui-icon-person.png) -17px -95px no-repeat;
	width:21px;
	height:21px;
	display:block;
	margin-left:0;
}
.lvtu_personal_user_eredar {
	background:url(../image/ui-icon-person.png) -40px -97px no-repeat;
	width:21px;
	height:21px;
	display:block;
	margin-left:3px;
}
.lvtu_personal_fineDetail_state {
	float:left;
	margin:0;
	line-height:24px;
	width:40px;
}
.picture_content {
	width:980px;
	margin:0 auto;
}
.picture_left {
	float:left;
	width:720px;
	height:auto;
}
#bigpics {
	width:720px;
	height:720px;
	background-color:#ededed;
	text-align:center;
*display:block;
	_font-size:654px;
}
#bigpics img {
	max-width:720px;
	max-height:720px;
	vertical-align:middle;
	line-height:720px;
	text-align:center;
}
.bigpic a {
	width:720px;
	height:720px;
	line-height:720px;
	vertical-align:middle;
	text-align:center;
	display:table-cell;
	_display:block;
	text-align:center;
	position:relative;
	background:url("../image/m_loading_2.gif") no-repeat scroll 50% 50% transparent;
}
.left-img {
	cursor:url(../image/pre.cur), pointer;
}
.right-img {
	cursor:url(../image/next.cur), pointer;
}
.picture_place {
	position:relative;
}
.picture_place-title {
	height:22px;
	background:url(../image/lvtu_home_icon_2_2.png) 5px -417px no-repeat;
	text-indent:20px;
}
.picture_place span {
	position:absolute;
	right:10px;
	top:0;
	background:url(../image/lvtu_home_icon_2_2.png) -275px -249px no-repeat;
	width:80px;
	text-indent:20px;
}
.picture_place span a {
	display:block;
	width:80px;
	text-indent:20px;
}
.picture_right {
	float:right;
	width:250px;
	height:720px;
	background-color:#ededed;
}
#prev2 {
	height:50px;
	background:url(../image/ico_prev.png) no-repeat;
	background-position:15px 15px;
	width:34px;
	text-indent:-9999px;
	cursor:pointer;
}
#next1 {
	height:50px;
	background:url(../image/ico_next.png) no-repeat;
	background-position:10px 15px;
	width:34px;
	text-indent:-9999px;
	cursor:pointer;
}
.pic_all {
	margin:15px 0 5px 0;
}
.sm_pic ul li {
	float:left;
	margin:0 5px;
}
.curr {
	border:#595a5a 2px solid;
}
.curr img {
	vertical-align:top;
	border:medium none;
}
.picture_num {
	width:50px;
	margin-left:95px;
	text-align:center;
}
#prev2T {
	height:50px;
	background:url(../image/ico_prev.png) no-repeat;
	background-position:15px 15px;
	width:34px;
	text-indent:-9999px;
	cursor:pointer;
}
#next1T {
	height:50px;
	background:url(../image/ico_next.png) no-repeat;
	background-position:10px 15px;
	width:34px;
	text-indent:-9999px;
	cursor:pointer;
}
.currT {
	border:#595a5a 2px solid;
}
.currT img {
	vertical-align:top;
	border:medium none;
}
#prev2O {
	height:50px;
	background:url(../image/ico_prev.png) no-repeat;
	background-position:15px 15px;
	width:34px;
	text-indent:-9999px;
	cursor:pointer;
}
#next1O {
	height:50px;
	background:url(../image/ico_next.png) no-repeat;
	background-position:10px 15px;
	width:34px;
	text-indent:-9999px;
	cursor:pointer;
}
.currO {
	border:#595a5a 2px solid;
}
.currO img {
	vertical-align:top;
	border:medium none;
}
.picture-describe {
	margin:10px;
	border-top:1px dashed #999;
	border-bottom:1px dashed #999;
	height:300px;
}
.picture-describe-time {
	margin:10px 0;
}
.picture-describe-content {
	margin-bottom:10px;
	text-indent:20px;
	line-height:20px;
}
.picture-activity-list {
	margin:10px;
}
.picture-activity-ul {
	background:url(../image/ui-icon-person.png) no-repeat;
	background-position:-16px -80px;
	width:11px;
	height:13px;
}
.picture-activity-list li {
	line-height:24px;
	font-size:14px;
	background:url(../image/lvtu_icon_personal_1.png) -2px -196px no-repeat;
	text-indent:17px;
}
.gray_bg {
	background-color:#fff;
}
.lvtu_daren_info_l {
	width:650px;
}
.lvtu_daren_person {
	width:330px;
	border-right:1px dashed #ccc;
}
.lvtu_daren_attention_add {
	margin:8px 0;
	background:url(../image/lvtu_home_icon_2_2.png) -116px -40px no-repeat;
	width:150px;
	height:30px;
	display:block;
}
.lvtu_daren_attention_add a {
	display:block;
	text-indent:-9999px;
	width:150px;
	height:30px;
}
.lvtu_daren_attention_add a:hover {
	display:block;
	text-indent:-9999px;
	background:url(../image/lvtu_home_icon_2_2.png) -116px -40px no-repeat;
	width:150px;
	height:30px;
}
.lvtu_daren_attention_cancel {
	margin:8px 0;
	background:url(../image/lvtu_home_icon_2_2.png) -116px -76px no-repeat;
	width:150px;
	height:30px;
	display:block;
}
.lvtu_daren_attention_cancel a {
	display:block;
	text-indent:-9999px;
	width:150px;
	height:30px;
}
.lvtu_daren_attention_cancel a:hover {
	display:block;
	text-indent:-9999px;
	background:url(../image/lvtu_home_icon_2_2.png) -116px -76px no-repeat;
}
.lvtu_daren_info_r {
	width:300px;
	background-color:#ededed;
	height:260px;
}
.ui-activity-more {
	top:20px;
	right:5px;
	_right:20px;
}
.lvtu_daren_intro_l {
	width:330px;
}
.lvtu_daren_picList {
	width:610px;
}
.lvtu_daren_picList ul li {
	float:left;
	width:130px;
	margin:8px;
	overflow:hidden;
}
.daren_list_item {
	position:relative;
	display:block;
}
.daren-tc {
	width:110px;
	height:110px;
	padding:10px;
	background-color:black;
	position:absolute;
	top:0;
	left:0;
	opacity:.6;
	-ms-filter:"alpha(opacity=60)";
	filter:alpha(opacity=60);
	zoom:1;
	cursor:pointer;
	display:none;
}
.lvtu_daren_sp {
	background:url(../image/lvtu_icon_personal_1.png) -2px 0 no-repeat;
	padding-left:12px;
}
.daren-nav {
	height:35px;
	background-image:url(../image/lvtu_daren_06.jpg);
	background-repeat:repeat-x;
}
.daren-content {
	background-color:#ededed;
}
.ml26 {
	margin-left:26px;
}
.daren_zs {
	background:url(../image/lvtu_icon_personal_1.png) -2px -171px no-repeat;
	text-indent:20px;
}
.daren_hd {
	background:url(../image/lvtu_icon_personal_1.png) -2px -196px no-repeat;
	text-indent:20px;
}
.daren_lp {
	background:url(../image/lvtu_icon_personal_1.png) -2px -220px no-repeat;
	text-indent:20px;
}
.daren_yx {
	background:url(../image/lvtu_icon_personal_1.png) -2px -244px no-repeat;
	text-indent:20px;
}
.daren_tj {
	background:url(../image/lvtu_icon_personal_1.png) -2px -266px no-repeat;
	text-indent:20px;
}
.qn_page {
	margin:0 auto;
	padding:10px 0;
	width:979px;
}
.crumb {
	padding:0 5px;
	height:24px;
	line-height:14px;
}
.notfound {
	margin:170px 0 170px 150px;
	padding-left:20px;
	border-left:4px solid #b7e8e4;
	font:bold 14px/28px SimSun;
}
.noborder {
	border-bottom:0!important;
}
.clr, .clear {
	clear:both;
	height:0;
	overflow:hidden;
}
.clr_after {
	height:1%;
}
.clr_after:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:".";
}
#toback {
	_height:1200px;
	_width:200px;
}
.lvtu_footer {
	background-color:#161616;
}
.guide_bg {
	background-color:#000;
	height:100%;
	_height:7095px;
	left:0;
	top:0;
	width:100%;
	z-index:1003;
	opacity:.6;
	-ms-filter:"alpha(opacity=60)";
	filter:alpha(opacity=60);
	zoom:1;
}
.guide_cot {
	z-index:1004;
}
.guide_img {
	right:0;
	top:50px;
	z-index:1004;
}
.guide_close {
	cursor:pointer;
	width:30px;
	height:30px;
	right:50px;
	top:120px;
	background:url(../image/icon_pic_details.gif) right bottom no-repeat;
}
.personal_message_tips {
	right:0;
	top:60px;
	_top:61px;
	background-color:#fff;
	border:1px #161616 solid;
	width:158px;
	padding:10px 0;
	z-index:9999;
	zoom:1;
}
.personal_message_tips ul li {
	padding:0 15px;
}
.personal_message_close {
	cursor:pointer;
	width:25px;
	height:25px;
	right:0;
	top:0;
	background:url(../image/new_icon_2.png) -478px -500px no-repeat;
}
.up_arrows {
	top:7px;
	right:5px;
	width:15px;
	height:15px;
	background:url(../image/icon_heart.png) -2px -10px no-repeat;
	_background:url(../image/icon_heart.gif) -2px -10px no-repeat;
}
.down_arrows {
	top:7px;
	right:5px;
	width:15px;
	height:15px;
	background:url(../image/icon_heart.png) -2px -34px no-repeat;
	_background:url(../image/icon_heart.gif) -2px -34px no-repeat;
}
@charset "utf-8";
.qn_content {
	width:980px;
	margin:5px auto;
	color:#535353;
	position:relative;
	overflow:hidden;
	font:12px/1.231 Arial, Helvetica, sans-serif;
}
.qn_content .hide {
	display:none;
}
.crumb {
	font:12px SimSun, Verdana, Arial, Helvetica, sans-serif;
	padding:0 5px 0;
	font-size:12px;
}
.crumb .arr {
	font-size:9px;
}
.crumb em {
	font-size:14px;
}
.tab_nav {
	clear:both;
	border-bottom:1px solid #E0E0E0;
	height:33px;
}
.tab_nav ul {
	clear:both;
	background-color:#F2FFFF;
	border-bottom:2px solid #56C2CF;
	height:31px;
}
.tab_nav ul li {
	float:left;
	display:inline;
	font-family:"Microsoft Yahei", Tahoma, "SimSun";
	position:relative;
}
.tab_nav ul li a {
	display:block;
	width:146px;
	height:31px;
	line-height:31px;
	color:#62CACB;
	text-align:center;
	font-size:18px;
}
.tab_nav ul li a:hover {
	background-color:#E1F1FF;
	color:#56C2CF;
}
.tab_nav ul li a.active {
	background-color:#56C2CF;
	color:#fff;
}
.tab_nav ul li .jt {
	background:url(../image/icon.png) left -84px no-repeat;
	width:13px;
	height:8px;
	display:block;
	position:absolute;
	top:32px;
	left:64px;
}
.tab_content {
	clear:both;
}
.pic_content {
	clear:both;
}
.traver_logo {
	width:237px;
	height:297px;
	right:2px;
	border-right:1px solid #EDECEC;
	border-bottom:1px solid #C4C3C3;
	background:url(../image/bg.png) left top no-repeat #73C1C9;
	position:absolute;
	z-index:2;
}
.traver_logo h2 {
	background:url(../image/down_bg.png) left top no-repeat;
	height:67px;
	margin:15px 0 22px 42px;
}
.traver_logo h3 {
	color:#fff;
	font-size:15px;
	font-weight:bold;
	line-height:24px;
	margin:0 15px 20px 22px;
}
.traver_logo ul {
	margin:0 23px;
	text-align:center;
}
.traver_logo ul li {
	margin-bottom:15px;
}
.traver_logo ul li a {
	background:url(../image/down_bg.png) left -74px no-repeat;
	width:194px;
	height:44px;
	display:block;
}
.traver_logo ul li a:hover {
	background-position:left -126px;
}
.traver_logo ul li a.android {
	background-position:left -177px;
}
.traver_logo ul li a.android:hover {
	background-position:left -230px;
}
.traver_logoHome {
	width:229px;
	height:297px;
	right:2px;
	border-right:1px solid #EDECEC;
	border-bottom:1px solid #C4C3C3;
	background:url(../image/bg.png) left top no-repeat #73C1C9;
	position:absolute;
	z-index:2;
}
.traver_logoHome h2 {
	background:url(../image/down_bg.png) left top no-repeat;
	height:67px;
	margin:15px 0 22px 42px;
}
.traver_logoHome h3 {
	color:#fff;
	font-size:15px;
	font-weight:bold;
	line-height:24px;
	margin:0 15px 20px 22px;
}
.traver_logoHome ul {
	margin:0 23px;
	text-align:center;
}
.traver_logoHome ul li {
	margin-bottom:15px;
}
.traver_logoHome ul li a {
	background:url(../image/down_bg.png) left -74px no-repeat;
	width:194px;
	height:44px;
	display:block;
}
.traver_logoHome ul li a:hover {
	background-position:left -126px;
}
.traver_logoHome ul li a.android {
	background-position:left -177px;
}
.traver_logoHome ul li a.android:hover {
	background-position:left -230px;
}
.travel_pic .pin {
	background-color:#f2ffff;
	border:1px solid #D0E6E8;
	padding:10px 10px 0 10px;
	margin-bottom:10px;
	overflow:hidden;
	position:absolute;
	border-bottom:1px solid #D3D3D3;
}
.travel_pic .pin:hover {
	background-color:#f2ffff;
	border:1px solid #53C2CD;
	padding:10px 10px 0 10px;
	margin-bottom:10px;
	overflow:hidden;
	position:absolute;
}
.travel_pic_hover {
	border:1px solid #53C2CD;
}
.travel_pic .pic_box .img a {
	display:block;
}
.travel_pic .pic_box .img img {
	width:220px;
	margin-bottom:15px;
}
.travel_pic .pin .title {
	font-size:14px;
	color:#535353;
	font-weight:bold;
	position:relative;
	line-height:24px;
}
.travel_pic .pin .title a {
	color:#535353;
}
.travel_pic .pin .title a:hover {
	color:#f60;
}
.travel_pic .pin .title span {
	position:absolute;
	right:0;
	top:0;
	font-size:12px;
	font-weight:normal;
}
.travel_pic .pin h5 {
	width:194px;
	background:url(../image/icon_sm.png) -2px -334px no-repeat;
	padding-left:16px;
	font-size:12px;
	font-weight:bold;
	line-height:22px;
	margin-top:10px;
	margin-bottom:2px;
	text-overflow:ellipsis;
	overflow:hidden;
	display:block;
	word-break:keep-all;
	white-space:nowrap;
}
.travel_pic .pin .date_comment {
	clear:both;
	color:#969595;
}
.travel_pic .pin .date_comment em {
	float:left;
	display:block;
}
.travel_pic .pin .date_comment .date {
	width:80px;
}
.travel_pic .pin .date_comment .comment {
	width:75px;
	text-align:left;
	text-indent:18px;
	background:url(../image/icon_sm.png) -2px -356px no-repeat;
}
.date_commentList {
	width:210px;
}
.date_commentList dl {
	border-top:1px solid #d0e6e8;
}
.date_commentList dt {
	width:40px;
	height:40px;
}
.date_commentList dd {
	width:160px;
}
.date_check {
	border-top:1px solid #d0e6e8;
}
.travel_pic .pin .date_comment .approve {
	background:url(../image/icon_sm.png) -2px -373px no-repeat;
	padding-left:18px;
	float:right;
}
.travel_pic .pin .action a {
	width:60px;
	height:32px;
	background:url(../image/icon_sm.png) -2px -291px no-repeat;
	display:block;
	position:absolute;
	top:9px;
	left:9px;
	z-index:1;
}
.travel_pic .pin p.erro {
	background:url(../image/erroimgs.jpg) left top no-repeat;
	width:222px;
	height:222px;
}
.person_index {
	clear:both;
}
.sidebar {
	float:left;
	width:238px;
}
.sidebar .traver_logo {
	position:relative;
	right:inherit;
	padding-top:7px;
	height:290px;
}
.sidebar .person_intr {
	background-color:#5dc4d1;
	width:232px;
	height:369px;
	margin-bottom:10px;
	border-bottom:1px solid #bbb;
	color:#fff;
	padding-bottom:10px;
}
.sidebar .person_intr img {
	margin:10px;
}
.sidebar .person_intr h3 {
	font-family:Tahoma, "SimSun";
	font-size:14px;
	font-weight:normal;
	margin:0 10px 0;
	line-height:22px;
	height:22px;
}
.sidebar .person_intr h3 span {
	float:left;
}
.sidebar .person_intr h3 .name {
	width:auto;
	display:block;
	word-wrap:break-word;
	word-break:break-all;
	font-weight:bold;
}
.sidebar .person_intr .female {
	background:url(../image/ui-icon-person.png) left -95px no-repeat;
	width:16px;
	height:21px;
	display:block;
	float:left;
	margin-left:3px;
}
.sidebar .person_intr .male {
	background:url(../image/ui-icon-person.png) -17px -95px no-repeat;
	width:21px;
	height:21px;
	display:block;
	float:left;
	margin-left:3px;
}
.sidebar .person_intr .eredar {
	background:url(../image/ui-icon-person.png) -40px -97px no-repeat;
	width:21px;
	height:21px;
	display:block;
	float:left;
	margin-left:3px;
}
.sidebar .person_intr .attention-add {
	margin:8px;
	background:url(../image/ui-icon-person.png) -1px -329px no-repeat;
	width:85px;
	height:22px;
	display:block;
}
.sidebar .person_intr .attention-add a {
	display:block;
	text-indent:-9999px;
	width:85px;
	height:22px;
}
.sidebar .person_intr .attention-add a:hover {
	display:block;
	text-indent:-9999px;
	background:url(../image/ui-icon-person.png) -1px -305px no-repeat;
}
.sidebar .person_intr .attention-cancel {
	margin:8px;
	background:url(../image/ui-icon-person.png) -1px -377px no-repeat;
	width:85px;
	height:22px;
	display:block;
}
.sidebar .person_intr .attention-cancel a {
	display:block;
	text-indent:-9999px;
	width:85px;
	height:22px;
}
.sidebar .person_intr .attention-cancel a:hover {
	display:block;
	text-indent:-9999px;
	background:url(../image/ui-icon-person.png) -1px -353px no-repeat;
}
.sidebar .person_intr ul {
	margin:15px 0 0 0;
	padding:15px 0 0;
	border-top:1px solid #97d3da;
	clear:both;
}
.sidebar .person_intr ul li {
	line-height:24px;
	float:left;
	margin:0 5px;
	text-align:center;
	width:64px;
}
.sidebar .person_intr h4 {
	border-top:1px solid #31adb2;
	padding:8px;
	font-size:14px;
	font-weight:bold;
	background:url(../image/icon.png) 7px -225px no-repeat;
	text-indent:24px;
}
.sidebar .person_intr p {
	clear:both;
	line-height:22px;
}
.sidebar .person_intr p span {
	color:#fff;
	float:left;
	margin-left:10px;
}
.red {
	color:#ff9292;
	font-weight:bold;
	margin:0 2px;
}
.intro {
	clear:both;
	border-bottom:1px solid #c4edeb;
	zoom:1;
}
.person {
	float:left;
	text-align:left;
	padding-left:2px;
}
.person dd {
	text-align:center;
	font-size:12px;
}
.intro .travel {
	width:470px;
	float:left;
	padding-left:10px;
}
.intro .travel h2 {
	font-size:24px;
	color:#56c2cf;
	font-family:"Microsoft Yahei", Tahoma, "SimSun";
	font-weight:normal;
	margin-bottom:10px;
}
.intro .travel ul li {
	line-height:28px;
	clear:both;
	font-size:14px;
}
.intro .travel ul li .date {
	width:98px;
	display:block;
	float:left;
}
.intro .travel ul li .place {
	float:left;
	padding-left:14px;
	background:url(../image/icon.png) left -167px no-repeat;
	margin-right:8px;
}
.intro .travel ul li .no_icon {
	background:none;
	padding-left:0;
}
.intro .travel ul li .comment {
	width:75px;
	display:block;
	float:left;
}
.intro .travel ul li .approve {
	width:45px;
	background:url(../image/icon.png) -2px -44px no-repeat;
	padding-left:22px;
}
.intro .map {
	width:340px;
	float:right;
	margin-right:6px;
}
.intro .travel .travel_text {
	border-top:1px dotted #c3c3c3;
	margin:10px 0;
}
.intro .travel .travel_text p {
	line-height:26px;
	margin-top:10px;
	text-indent:2em;
}
.travel_info {
	clear:both;
	zoom:1;
}
.travel_info .info {
	float:left;
	margin-left:16px;
	width:700px;
}
.travel_info .info .place_title {
	color:#56c2cf;
	font-family:"Microsoft Yahei", Tahoma, "SimSun";
	font-weight:normal;
	font-size:20px;
	margin-bottom:15px;
	background:url(../image/icon.png) -1px -116px no-repeat;
	padding-left:19px;
	height:30px;
}
.travel_info .info .place_title span {
	float:right;
	font-size:12px;
	color:#535353;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:8px;
+margin-top:-20px;
}
.travel_info .info .place_title .date {
	width:95px;
}
.travel_info .info .place_title .comment {
	width:85px;
}
.travel_info .info .place_title .approve {
	width:45px;
	background:url(../image/icon.png) -2px -44px no-repeat;
	padding-left:22px;
}
.travel_info .info p {
	margin-bottom:10px;
	text-indent:2em;
	line-height:24px;
}
.travel_info .info .img {
	text-indent:0;
	width:700px;
}
.travel_info .info .erro {
	background:url(../image/erroimg.jpg) right bottom no-repeat #e6e6e6;
}
.travel_info .info .erro img {
	width:700px;
}
.travel_info .info .img img {
	width:700px;
}
.travel_info .info .line {
	border-bottom:1px dotted #c3c3c3;
	padding-bottom:15px;
}
.travel_info .info .right {
	text-align:left;
	text-indent:0;
}
.travel_info .data_title {
	width:135px;
	float:left;
	text-align:right;
	color:#56c2cf;
	font-family:"Microsoft Yahei", Tahoma, "SimSun";
	font-size:20px;
}
.data_title .person dt {
	margin-bottom:10px;
}
.download {
	background:url(../image/banner.jpg) left top no-repeat;
	width:980px;
	height:90px;
	margin-bottom:10px;
	position:relative;
	padding-bottom:10px;
	text-indent:-9999px;
}
.download a {
	display:block;
	width:155px;
	height:46px;
	position:absolute;
	right:46px;
	top:23px;
}
.tip {
	background-color:#f2ffff;
	height:32px;
	line-height:32px;
	text-align:center;
	font-weight:normal;
}
.feedback {
	clear:both;
	margin-top:10px;
}
.feedback dl {
	margin:0 auto 10px;
	border-bottom:1px dotted #c3c3c3;
	padding-bottom:10px;
	float:left;
}
.feedback dl dt {
	width:86px;
	float:left;
}
.feedback dl dt img {
	width:70px;
	height:70px;
}
.feedback dl dd {
	float:left;
	width:888px;
	line-height:22px;
	margin-bottom:2px;
}
.gray {
	color:#888;
}
.intro:after, .travel_info:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
}
.pager {
	font:12px tahoma;
	padding:20px;
	text-align:center;
	clear:both;
}
.pager a {
	background:url("../image/pager.bg.png") repeat-x scroll 0 100% transparent;
	border:1px solid #DFDFDF;
	color:#555;
	text-decoration:none;
}
.pager a, .pager span {
	color:#555;
	display:inline-block;
	font:12px/18px tahoma;
	margin:0 2px 0 3px;
	outline:medium none;
	padding:0 6px;
	text-align:center;
	vertical-align:middle;
}
.pager a:hover {
	border:1px solid #0E72D1;
	color:#0F68C2;
}
.pager .current {
	border:1px solid #FD0665;
	color:#FD0263;
}
.pager .prev, .pager .next {
	border-color:#DFDFDF;
	color:#555;
	font-weight:normal;
	height:18px;
	padding:0;
	text-align:left;
	width:58px;
}
.pager .prev {
	background:url("../image/qn_page.png") no-repeat scroll 0 0 transparent;
	text-indent:15px;
}
.pager .next {
	background:url("../image/qn_page.png") no-repeat scroll 0 -18px transparent;
	text-indent:7px;
}
.pager span.prev {
	background:url("../image/qn_page.png") no-repeat scroll 0 -36px transparent;
	text-indent:15px;
}
.pager span.next {
	background:url("../image/qn_page.png") no-repeat scroll 0 -54px transparent;
	text-indent:7px;
}
.pager span.current.prev, .pager span.current.next {
	border-color:#ECECEC;
	color:#AAA;
	font-size:12px;
	font-weight:400;
	padding:0;
	width:58px;
}
#BackToTop {
	position:fixed;
	right:105px;
	bottom:9px;
	width:50px;
	padding:20px 10px;
	text-align:center;
	text-transform:uppercase;
	color:#41545F;
	text-decoration:none;
	background-color:#c4edeb;
	border:1px solid #ececec;
	opacity:.9;
	filter:alpha(opacity=90);
	cursor:pointer;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
#BackToTop:hover {
	color:#211922;
	opacity:1.0;
	filter:alpha(opacity=100);
}
#wrapper {
	position:relative;
	width:734px;
	border:none;
	float:right;
}
#wrapperhome {
	width:980px;
	border:none;
}
#loadingPins {
	display:none;
	height:20px;
	padding:15px 0;
	text-align:center;
	font-weight:bold;
	border-top:1px solid #ccc;
}
#loadingPins img {
	display:inline-block;
	margin-right:6px;
}
#loadingPins span {
	font-size:1.3em;
}
.fixedWidthContainer {
	width:850px;
	margin:0 auto;
}
.BoardLayout {
	opacity:0;
}
#ColumnContainer {
	position:relative;
	min-width:700px;
	min-height:500px;
	margin:0 auto;
}
#ColumnContainerHome {
	position:relative;
	min-width:960px;
	margin:0 auto;
	padding-bottom:30px;
}
.pageOverlay {
	position:fixed;
	z-index:9997;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#fff;
	opacity:.95;
	filter:alpha(opacity=95);
}
.pin {
	position:absolute;
	width:210px;
	padding:14px;
	background-color:#fff;
	overflow:hidden;
	margin-bottom:20px;
}
.pin h3 {
	margin:1px 1px 10px;
	font-size:1.3em;
	font-weight:bold;
	text-align:left;
	color:#211922;
}
.pin .image .video {
	position:absolute;
	z-index:1;
	top:50%;
	left:50%;
	width:50px;
	height:50px;
	margin:-25px 0 0 -25px;
}
.pin .image:hover img {
	opacity:.9;
	filter:alpha(opacity=90);
}
.pin .image:active img {
	opacity:1;
	filter:alpha(opacity=100);
}
.pin p {
	display:block;
	margin:0 2px;
	font-size:1.1em;
	line-height:1.45em;
}
.pin .description {
	padding-top:4px;
}
.pin .meta {
	margin:0;
	color:#76838b;
}
.pin .attribution {
	margin-top:6px;
	margin-bottom:1px;
	overflow:hidden;
}
.pin .likesComments {
	color:#aaa;
}
.pin .likesComments p {
	margin:2px 4px;
}
.pin .likesComments a {
	font-weight:normal;
	color:#aaa;
}
.pin .likesComments span.likes {
	margin-right:5px;
}
.pin .likesComments span.comments {
	margin-right:5px;
}
.pin .userImage {
	float:left;
	width:28px;
	height:28px;
	margin-right:5px;
}
.pin .userImage img {
	width:28px;
	height:28px;
}
.pin .userImage:hover {
	background-color:transparent;
	opacity:.8;
	filter:alpha(opacity=80);
}
a {
	outline:none;
star:expression(this.onFocus=this.blur());
}
.travel_info .info .right .itinerary {
	display:inline-block;
	text-align:left;
	vertical-align:top;
}
#imageBlank {
	display:block;
	min-height:80px;
}
div.pagination {
	text-align:center;
}
div.pagination a {
	background-position:center bottom;
	background-color:#333;
	margin-right:10px;
	padding:5px 9px;
	display:inline-block;
	text-decoration:none;
}
div.pagination em a {
	color:#fff;
}
div.pagination em a:hover {
	background-color:#de2c28;
	background-image:none;
	color:#fff;
}
div.pagination a:hover, div.meneame a:active {
	color:#999;
}
div.pagination span.current {
	background-color:#999;
	color:#fff;
	display:inline-block;
	margin-right:10px;
	padding:5px 9px;
}
div.pagination span.disabled {
	color:#ADAAAD;
	margin-right:3px;
	padding:2px 6px;
}
div.pagination a.first {
	border:0 solid black;
	background:url(../image/lvtu_home_icon_1.png) -2px -353px no-repeat;
	padding-left:15px;
}
div.pagination a.prev {
	border:0 solid black;
	background:url(../image/lvtu_home_icon_1.png) -4px -376px no-repeat;
	padding-left:15px;
}
div.pagination a.next {
	border:0 solid black;
	background:url(../image/lvtu_home_icon_1.png) -23px -376px no-repeat;
	padding-right:15px;
}
div.pagination a.last {
	border:0 solid black;
	background:url(../image/lvtu_home_icon_1.png) -36px -353px no-repeat;
	padding-right:15px;
}
@charset "utf-8";
*:focus {
	outline:none;
}
.jbox-fade {
	background-color:#000;
}
.jbox-drag {
	border:1px dashed #4C4C4C;
}
div.jbox {
	padding:0;
	border:none;
	font-size:12px;
}
div.jbox .jbox-border {
	background:none repeat scroll 0 0 #000;
	filter:alpha(opacity=20);
	-moz-opacity:.2;
	opacity:.2;
}
div.jbox .jbox-container {
	background-color:#fff;
	border:1px solid #999;
}
div.jbox .jbox-title-panel {
	background:#4C4C4C;
	border-bottom:1px solid #CCC;
}
div.jbox .jbox-title {
	font-weight:bold;
	color:#fff;
}
div.jbox .jbox-title-icon {
	background:url(../image/jbox-title-icon.gif) no-repeat scroll 3px 5px transparent;
}
div.jbox .jbox-close, div.jbox .jbox-close-hover {
	background:url(../image/jbox/jbox-title-icon.gif) no-repeat scroll 0 0 transparent;
}
div.jbox .jbox-close-hover {
	background-position:-16px 0;
}
div.jbox .jbox-content {
	min-height:24px;
	line-height:18px;
	color:#444;
}
div.jbox .jbox-content-loading {
	background-color:#E6E6E6;
}
div.jbox .jbox-content-loading-image {
	background:url(../image/jbox/jbox-content-loading.gif) no-repeat bottom center;
}
div.jbox .jbox-button-panel {
	border-top:1px solid #CCC;
	background-color:#EEE;
}
div.jbox .jbox-bottom-text {
	text-indent:10px;
	color:#444;
}
div.jbox .jbox-button {
	background:url(../image/jbox/jbox-button2.png) repeat-x transparent;
	border:#AAA 1px solid;
	color:#888;
	border-radius:3px 3px 3px 3px;
	margin:1px 7px 0 0;
	height:22px;
	cursor:default;
}
div.jbox .jbox-button-hover {
	background-position:0 -20px;
	color:#666;
}
div.jbox .jbox-button-active {
	background-position:0 -40px;
}
div.jbox-warning .jbox .jbox-button-panel {
	background-color:#FFF;
}
div.jbox .jbox-tip-color {
	background-color:#4C4C4C;
	border-color:#4C4C4C;
	border-radius:3px 3px 3px 3px;
	color:#fff;
}
div.jbox span.jbox-icon {
	background:url(../image/jbox/jbox-icons.png) no-repeat scroll 0 0 transparent;
	_background:url(../image/jbox/jbox-icons-ie6.gif) no-repeat scroll 0 0 transparent;
}
div.jbox span.jbox-icon-info {
	background-position:0 0;
}
div.jbox span.jbox-icon-question {
	background-position:-36px 0;
}
div.jbox span.jbox-icon-success {
	background-position:-72px 0;
}
div.jbox span.jbox-icon-warning {
	background-position:-108px 0;
}
div.jbox span.jbox-icon-error {
	background-position:-144px 0;
}
div.jbox span.jbox-icon-none {
	display:none;
	overflow:hidden;
}
div.jbox span.jbox-icon-loading {
	background:url(../image/jbox/jbox-loading1.gif) no-repeat scroll 0 0 transparent;
}
