@charset "utf-8";
/*公共样式表*/

ul,li,a,h1,h2,h3,h4,h5,h6{text-decoration: none; font-size: 12px;list-style:none;margin:0;padding:0;color:#020000;word-wrap:break-word;} 
i{ font-style:normal;}
body,div,form,img,ul,ol,li,dl,dt,dd,p,tr,td,input,em,a,ol{margin: 0; padding: 0; border: 0;font-size:12px; }
.fr{ float:right;}
.fl{ float:left;}
.orange{ color:#ff5a00;}
.fonts{ font-family:Verdana, Arial, Helvetica, sans-serif;}
.gray{ color:#c2c2c2;}
em{ font-style:normal;}
a:hover{color: #FC3D1D;text-decoration:;text-decoration:none;}  
a:active {color: #0862DA;text-decoration: none;} 
.clear{ clear:both;}
img{border:0; display:block;}
body{ background:#dcf7fa url(../images/bg.gif) repeat-x;}