/* Menu Style Sheet */

.ThemeLibraryTreeLevel0,.ThemeLibraryTreeLevel1
{
	cursor: default;
	background-color: #f7f3f7;

	white-space:	nowrap;

	border:		0;
	padding:	0;
}

.ThemeLibraryTreeLevel1
{
	display: none;
}

.ThemeLibraryTable
{
	cursor: default;

	color:		inherit;
	background-color:	inherit;

	font-family:	Verdana, Arial, sans-serif;
	font-size:	12px;

	white-space:	nowrap;

	border-collapse:	separate;

	border:		0;
	padding:	0;
}

.ThemeLibraryRow,.ThemeLibraryRowHover,.ThemeLibraryRowActive,.ThemeLibraryRowSelected
{
	background-color: inherit;
	white-space:	nowrap;

	border:		0;
	padding:	0;
}

.ThemeLibraryFolderSpacer,.ThemeLibraryItemSpacer,
.ThemeLibraryFolderLeft,.ThemeLibraryItemLeft,
.ThemeLibraryFolderText,.ThemeLibraryItemText,
.ThemeLibraryFolderRight,.ThemeLibraryItemRight
{
	background-color: inherit;
	white-space:	nowrap;

	border:		0;
	padding:	0;
}

/* it would be better that child selector   would work, but IE
	doesn't support it :( */

.ThemeLibraryFolderText a,
.ThemeLibraryItemText a
{
	text-decoration:	none;
	color:			black;
	display:		block;

	border:			0;
	padding:		2px;
	background-color:	inherit;
}

.ThemeLibraryRowHover .ThemeLibraryItemText a,
.ThemeLibraryRowHover .ThemeLibraryFolderText a
{
	border:			1px solid #9c9a9c;
	padding:		1px;
	background-color:	#cecfce;
}

.ThemeLibraryRowActive .ThemeLibraryItemText a,
.ThemeLibraryRowActive .ThemeLibraryFolderText a
{
	background-color:	#9c9a9c;
}

.ThemeLibraryRowSelected .ThemeLibraryItemText a,
.ThemeLibraryRowSelected .ThemeLibraryFolderText a
{
	border:			1px solid #9c9a9c;
	padding:		1px;
	background-color:	white;
}

/* in strict mode of XHTML, this is a fix for image connections */

.ThemeLibraryFolderSpacer img,
.ThemeLibraryItemSpacer img,
.ThemeLibraryFolderLeft img,
.ThemeLibraryItemLeft img,
.ThemeLibraryFolderRight img,
.ThemeLibraryItemRight img
{
	vertical-align:	bottom;
}

/* no need to modify these two since they are generic. */
/* they are used to coordinate the folder open/closing animation */

.JSCookTreeFolderClosed
{
}

.JSCookTreeFolderOpen
{
}

#JSCookTreeFolderClosed .JSCookTreeFolderOpen
{
	display: none;
}

#JSCookTreeFolderOpen .JSCookTreeFolderClosed
{
	display: none;
}
