{{include file="head.html"}}
<div id="body">
	<div id="content">
		<span class="Corner TL"></span>
		<span class="Corner TR"></span>
		<div class="er_info">
			<p class="er_tit"><b class="er_tit_b">对不起，</b>此游记还未通过审核！请待审核之后再来！</p>
			<p class="er_tip">您正在搜索的页面可能已经删除、更名、或暂时不可用。<br />请确保浏览器的地址栏中显示的网站地址的拼写和格式正确无误。</p>
		</div>
		<p class="er_back"><a href="javascript:history.go(-1);"><img src="{{$smarty.const.DIR_WS_IMG}}error_2_07.jpg" alt="返回上一页" /></a></p>
		
	</div>

</div>
{{include file="foot.html"}}
</body>
</html>