<div id="foot">
	<div class="uiWrap uifix">
		<div class="partners">
			<h3>合作伙伴</h3>
			<dl>
				<dt>特价机票</dt>
				<dd><a href="http://www.jdoqocy.com/click-5516128-10630638" target="_blank">留学生机票 CheapOair</a></dd>
				<dd><a href="http://www.anrdoezrs.net/click-5516128-10392969" target="_blank">全球特价机票 Priceline</a></dd>
			</dl>
			<dl>
				<dt>低价酒店</dt>
				<dd><a href="http://www.booking.com/index.html?aid=336352" target="_blank">世界领先酒店合作伙伴Booking</a></dd>
				<dd><a href="http://travel.ian.com/index.jsp?cid=232843" target="_blank">美国低价酒店预订 Hotels</a></dd>
			</dl>
			<dl>
				<dt>保险&amp;租车</dt>
				<dd><a href="{{$smarty.const.HTTP_USITRIPURL}}insurance.php">美国专业保险提供商Travelinsure</a></dd>
				<dd><a href="http://www.rentalcars.com/Home.do?affiliatecode=usitrip&adplat=footer&adcamp=footer=hk&preflang=zs" target="_blank">全球最大租车平台rentalcars.com</a></dd>
			</dl>
		</div>
		<div class="site_help">
			<ul class="site_helplist">
				<li>
					<div class="site_helpitems">
						<h4 class="title">新手入门</h4>
						<ul class="getstart">
							<li><a class="highlight" href="{{$foot.order_process}}">订购流程</a></li>
							<li><a href="{{$foot.faq_question}}">常见问题</a></li>
							<li><a href="{{$foot.payment}}">支付方式</a></li>
							<li><a href="{{$foot.order_agreement}}">订购协议</a></li>
							<li><a href="{{$foot.visa_related}}">签证相关</a></li>
							<li><a href="{{$foot.companions_process}}">结伴同游流程</a></li>
							<li class="nowidth"><a class="highlight" href="{{$foot.points}}">积分豪礼(最高优惠100%)</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="site_helpitems">
						<h4 class="title">旅美须知</h4>
						<ul class="getnotes">
							<li><a href="{{$foot.tour_america_need}}#a1">旅游证件</a><a href="{{$foot.tour_america_need}}#a2">边检</a><a href="{{$foot.tour_america_need}}#a3">时差</a><a href="{{$foot.tour_america_need}}#a4">电压</a></li>
							<li><a href="{{$foot.tour_america_need}}#a9">消费状况</a><a href="{{$foot.tour_america_need}}#a5">电话</a><a href="{{$foot.tour_america_need}}#a6">气候</a><a href="{{$foot.tour_america_need}}#a7">治安</a> </li>
							<li><a href="{{$foot.tour_america_need}}#a11">美国节日</a><a href="{{$foot.tour_america_need}}#a8">宗教</a><a href="{{$foot.tour_america_need}}#a10">文化</a><a href="{{$foot.tour_america_need}}#a12">美食</a> </li>
							<li><a href="{{$foot.tour_america_need}}#a16">注意事项</a><a href="{{$foot.tour_america_need}}#a13">住宿</a><a href="{{$foot.tour_america_need}}#a14">交通</a><a href="{{$foot.tour_america_need}}#a15">购物</a> </li>
						</ul>
					</div>
				</li>
				<li>
					<div class="site_helpitems">
						<h4 class="title">会员积分</h4>
						<ul>
							<li><a href="{{$foot.faq_points}}#list1">什么是积分，有什么用？</a></li>
							<li><a href="{{$foot.faq_points}}#list2">获得积分的途径有哪些？</a></li>
							<li><a href="{{$foot.faq_points}}#list4">积分的现金兑换标准是多少？</a></li>
							<li><a class="highlight" href="{{$foot.faq_points}}#list5">积分享受的消费折扣限额是？</a></li>
						</ul>
					</div>
				</li>
				<li class="last">
					<div class="site_helpitems">
						<h4 class="title">签证相关</h4>
						<ul class="">
							<li><a class="highlight" href="{{$foot.visa_related}}#question_1">去美国旅游，如何拿到签证？</a></li>
							<li><a href="{{$foot.visa_related}}#question_2">加拿大签证怎么办理？</a></li>
							<li><a href="{{$foot.visa_related}}#question_27">签证官一般会问哪些问题？</a></li>
							<li><a href="{{$foot.visa_related}}#question_28">什么是签证培训？有何帮助？</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<ul class="imagelink uifix">
			<li><a class="link1" href="http://www.bbb.org/baton-rouge/business-reviews/travel-agencies-and-bureaus/unitedstars-international-ltd-in-baton-rouge-la-90012303" title="美国BBB认证最高商誉评级暨美国旅游网站" style="background:url({{$smarty.const.HTTP_USITRIPURL}}image/collaborate_4.jpg)" target="_blank">BBB</a></li>
			<li><a class="link2" target="_blank" href="http://www.rackspace.com/" title="rackspace" style="background:url({{$smarty.const.HTTP_USITRIPURL}}image/rackspace.jpg);">rackspace</a></li>
			<li><a class="link3" target="_blank" title="256位SSL安全证书" href="https://seal.godaddy.com/verifySeal?sealID=Sw7SK8bpKlM5UcG9KesPbuhOlyKbqTQ85J99lyGiBVVfZRxR9Qcu" style="background:url({{$smarty.const.HTTP_USITRIPURL}}image/veriflled.jpg);">256位SSL安全证书</a></li>
			<li><a class="link4" href="{{$smarty.const.HTTP_USITRIPURL}}" title="美国旅游协会成员" style="background:url({{$smarty.const.HTTP_USITRIPURL}}image/onta.jpg)">美国旅游协会成员</a></li>
			<li><a class="link5" target="_blank" href="{{$foot.payment}}" title="paypal" style="background:url({{$smarty.const.HTTP_USITRIPURL}}image/paypal.jpg);">paypal</a></li>
			<li><a class="link6" target="_blank" href="http://cn.unionpay.com/" title="银联" style="background:url({{$smarty.const.HTTP_USITRIPURL}}image/yinlian.jpg);">银联</a></li>
			<li><a class="link7" target="_blank" href="https://www.alipay.com/" title="支付宝" style="background:url({{$smarty.const.HTTP_USITRIPURL}}image/collaborate_1.20121025.jpg);">支付宝</a></li>
			<li><a class="link8"target="_blank" href="http://e.weibo.com/3223551651/profile" title="新浪微博" style="background:url({{$smarty.const.HTTP_USITRIPURL}}image/collaborate_8.jpg);">新浪微博</a></li>
		</ul>
		<dl class="hotlinks uifix">
			<dt>出发城市：</dt>
			<dd>{{section name=key loop=$toCity}}<a href="{{$toCity[key].href}}">{{$toCity[key].name}}</a>{{/section}}</dd>
		</dl>
		<dl class="hotlinks uifix">
			<dt>热门景点：</dt>
			<dd>{{section name=key loop=$jingDian}}<a href="{{$jingDian[key].href}}">{{$jingDian[key].name}}</a>{{/section}}</dd>
		</dl>
		<dl class="friendlinks uifix">
			<dt>友情链接：</dt>
			<dd>{{section name=key loop=$links}} <a href="{{$links[key].href}}" target="_blank">{{$links[key].name}}</a>{{/section}} <a class="highlight" href="{{$links_more}}">更多&gt;&gt;</a> </dd>
		</dl>
		<div class="copyright">
			<ul>
				<li><a href="{{$footer.index}}">网站首页</a>-</li>
				<li><a href="{{$footer.about}}">关于走四方</a>-</li>
				<li><a href="{{$footer.about_us}}">About Us</a>-</li>
				<li><a href="{{$footer.contact_us}}">联系我们</a>-</li>
				<li><a href="{{$footer.copyright}}">隐私&amp;版权声明</a>-</li>
				<li><a href="{{$footer.links}}">友情链接</a>-</li>
				<li><a href="{{$footer.faq_question}}">帮助中心</a>-</li>
				<li><a href="{{$footer.sitemap}}">网站地图</a>-</li>
				<li><a href="{{$footer.affiliate}}">网站联盟</a></li>
			</ul>
			<p>营业执照 | Copyright&copy;2008-2012 usitrip.com | 走四方旅游网 All rights reserved.</p>
		</div>
	</div>
</div>
<script type="text/javascript">
{{$other_js}}
</script>
</div>
