@charset "gb2312";
/* CSS Document */
* {	margin: 0;padding: 0;list-style: none;}
body{background:#EBEFF2;font-size: 12px; /* font-size: 0.625em;  */	font-family: "ו", Tahoma, Arial, Verdana, Helvetica, sans-serif,;color:#000;	}
table {	border-collapse: collapse;}
a {	color: #000;text-decoration: none;}
a:hover {color: #000;text-decoration: underline;}
em {font-style: normal;}
ins {text-decoration: none;}
img {border: 0;}
.clear{ clear:both;}
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}
/*top*/
.centerTab .centerTopFrame{ width:100%; height:55px; background:url(/admin/images/headbg.jpg) repeat-x; font-size:12px; position:relative}
.centerTab .centerTopFrame .head{ width:700px; height:55px; position:absolute; left:0; top:0 }
.centerTab .centerTopFrame .head .logoimg{ margin-top:5px; margin-left:7px; width:140px; height:40px; float:left}
.centerTab .centerTopFrame .head span{ float:left; color:#CFE1F8; font-weight:bold; font-size:14px;  line-height:55px;  height:55px; display:block}
.centerTab .centerTopFrame .head .changeXt{ float:left;  margin-top:17px;  line-height:22px; display:block; cursor:pointer; margin-left:20px; display:inline; color:#98B8E1; position:relative;}
.centerTab .centerTopFrame .head .changeXt .changeXtTop{ position:absolute; top:0px; left:0px; width:85px;  height:22px; background:url(/admin/images/icons/dun.gif) no-repeat 65px 8px; padding-left:12px; width:73px; }
.centerTab .centerTopFrame .head .changeXt .changeXtTopSelect{ position:absolute; top:0px; left:0px; width:85px;  line-height:22px; background:url(/admin/images/my_other_bg.jpg) no-repeat ; padding-left:12px; color:#000; font-weight:bold; z-index:100}
.centerTab .centerTopFrame .Welcome{ position:absolute; right:0; top:0; height:55px; line-height:55px; color:#93B5E0}
.centerTab .centerTopFrame .Welcome .DChu{ color:#D8E6F9; text-decoration:none;}
.centerTab .centerTopFrame .Welcome .DChu:hover{ color:#D8E6F9; text-decoration:underline;}
.centerTab .centerTopFrame .Welcome .SZhi{ color:#93B5E0; text-decoration:none; padding-left:30px; padding-right:30px;}
.centerTab .centerTopFrame .Welcome .SZhi:hover{ color:#93B5E0; text-decoration:underline;}
/*center*/
.centerTab{ width:100%; height:100%;}
.centerTab .centerLeftFrame{ width:200px;}
.TopShowBg{ background:url(/admin/images/topcontentstyle.jpg) repeat-x; position:absolute; top:21px; left:0px; width:85px; overflow:visible}
.TopShow{ width:49px; height:7px; background:url(/admin/images/topcontentshow.jpg) no-repeat; position:absolute; left:50%; margin-left:-25px; font-size:0px; cursor:pointer}
.TopShowselect{ width:49px; height:7px; background:url(/admin/images/topcontentnone.jpg) no-repeat; position:absolute; left:50%; margin-left:-25px; margin-top:0px; _margin-top:0; cursor:pointer}
.LeftShowBg{ background:#EBEFF2; width:10px; position:relative;}
.LeftShow{ width:10px; height:47px; background:url(/admin/images/leftcontentshow.jpg) no-repeat; position:absolute; top:0; margin-top:120px; *margin-top:60px; cursor:pointer; }
.LeftShowselect{ width:10px; height:47px; background:url(/admin/images/leftcontentnone.jpg) no-repeat; position:absolute; top:0; margin-top:120px; *margin-top:60px; cursor:pointer}
/*bottom*/
.Centerbottom{ height:20px;}
.bottomTxt{ color:#888; font-size:12px; text-align:center; line-height:40px; height:40px; width:100%; border-top:1px solid #ddd; font-family:Arial;}

.TopShowBg .changeOther{ position:absolute; float:left; background:#fff;  border:1px solid #FFC155; z-index:1; }
.TopShowBg .changeOther ul li{ border-top: 1px solid #EFF1F5; float:left; width:100%; display:block; }
.TopShowBg .changeOther ul li:hover,#nav li.sfhover{ background:#ffefcf; }
.TopShowBg .changeOther ul li a{ line-height:20px; font-size:12px; color:#00388A; padding-left:11px; padding-right:11px; display:block; height:20px; white-space:nowrap; }
.TopShowBg .changeOther ul li a:hover{ color:#f00; background:#ffefcf; text-decoration:none;}

.tab_line1{border-right:#ECECEC 1px groove; font-family:Tahoma, Arial, Verdana, Helvetica, sans-serif; font-size:12px; border-bottom: 1px solid #C4C4C4; padding:5px;}

input, textarea { font-size:12px; padding:2px; margin:2px;}
.none_border { border:0;}
.border { border:1px solid #C4C4C4; }