@charset "gb2312";

/*left*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body{ 
	background:#fff;
	font-size: 12px; /* font-size: 0.625em;  */
	font-family: 宋体, Tahoma, Arial, Verdana, Helvetica, sans-serif,;
	color:#000;
	}
table {
	border-collapse: collapse;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
em {
	font-style: normal;
}
ins {
	text-decoration: none;
}
img {
	border: 0;
}
.clear{ clear:both;}
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}
/*left*/
.CenterLeft{ width:200px; height:100%; background:#fff;}
		.box1{ float:left; background:url(../images/lefttopbg.jpg) repeat-x;position:relative;width:200px;  border:none; height:30px; }
		.box1 .cc{height:30px; }
		.box1 .cc h3{color:#EBF3FE; font-weight:bold; font-size:12px; line-height:30px; padding-left:15px;}
		.box1 .tl {left:0;top:0; background:url(../images/lefttopbg_l.jpg) no-repeat; width:6px; height:30px; position:absolute;}
		.box1 .tr {right:0; _right:-1px; top:0; background:url(../images/lefttopbg_r.jpg) no-repeat; width:6px; height:30px; position:absolute;}
.CenterLeft .LeftContentBox{ float:left; border:1px solid #ddd; border-top:0; width:198px; *width:200px; height:100%; }
.CenterLeft .LeftContentBox .LeftContent{float:left; border:1px solid #ddd; width:185px; margin:5px; display:inline; height:400px;}

/* Howard added 2010-08-12 */
/* 显示ul */
.ul_show{ display:block; }
.ul_show li{ display:block;  padding-left:18px; }
/* 隐藏ul */
.ul_hide{ display:block; /*padding-left:18px;*/   }
/* 未展开子菜单时div的css*/
.div_add{ cursor:default; background:url(/admin/images/icons/normal.gif) no-repeat; background-position:10px 10px; padding-left:28px; border-bottom:1px dashed #DBDBDB; line-height:32px;}
.div_add a{ line-line-height:32px; }
.div_add a:hover{ text-decoration:none; background-color:#6075b6; padding:4px 2px 4px 2px; color:#fff;}
/* 展开子菜单时div的css*/
.div_cut{ cursor:default;  background:url(/admin/images/icons/open.gif) no-repeat; background-position:10px 10px; padding-left:28px; border-bottom:1px dashed #F1F1F1; line-height:32px;}
.div_add .div_cut a{ line-line-height:32px; }
.div_add .div_cut a:hover{ text-decoration:none; background-color:#6075b6; padding:4px 2px 4px 2px; color:#fff;}
/* 没有下级菜单时sapn的css*/
.div_no_child{ cursor: auto; background:url(/admin/images/icons/end_b.gif) no-repeat; background-position:10px 10px; padding-left:28px; border-bottom:1px dashed #F1F1F1; line-height:32px;}
.div_no_child a{  cursor:pointer; line-line-height:32px; }
.div_no_child a:hover{  cursor:pointer; line-line-height:32px; text-decoration:none; background-color:#6075b6; padding:4px 2px 4px 2px; color:#fff;}
/* 当前选中的div的css*/
.ul_show .div_select{  cursor:default;  line-height:32px; color:#FFFFFF; }
.ul_show .div_select a{ color:#fff; line-line-height:32px;  background-color:#6075b6; padding:4px 2px 4px 2px; text-decoration:none;}

.ul_show .div_select a:hover{  cursor:pointer; color:#fff; line-line-height:32px; padding:4px 2px 4px 2px;  background-color:#6075b6; text-decoration:none;}
/* 当前没选中的div的css*/
/* 鼠标经过时*/
.ul_show .div_mousemove a{ background-color:#6075b6; padding:4px 2px 4px 2px; color:#fff; text-decoration:none; cursor:pointer;}
/*位置控制层*/
.LeftContentChild{ margin-left:-18px;}
